body.homepage {
  &.not-logged-in {
    // Hide page title
    header#title .row {
      .hidden();
    }
  }
  .content {
    .emh-actions {
      clear: both;
      padding-top: 35px;
    }
    .faq {
      clear: both;
    }
  }
}
