// Dates
.views-field-created,
.views-field-field-expiration-date,
.views-field-changed,
.views-field-submitted {
  .text-center;
  width: 130px;
}

// Titres
.views-field-title {
  width: 220px;
  overflow: hidden;
  -o-text-overflow: ellipsis; /* pour Opera 9 */
  text-overflow: ellipsis; /* pour le reste du monde */
}

// Valeurs (€ / Points)
.views-field-field-reward,
.views-field-emh-points {
  .text-right;
}

.views-field-expression {
  // .text-right;
}
