.emh-field-reward {
  width: 110px;
  .text-right;
}
.emh-field-answers {
  width: 70px;
  .text-right;
}
.emh-field-status {
  width: 80px;
}


// Types
.views-field-type {
  width: 20px;
  .text-center;
}

// Dates
.views-field-created,
.views-field-field-expiration-date,
.views-field-changed,
.views-field-submitted {
  .text-center;
  width: 130px;
}

// Date + timestamp
.views-field-time-stamp {
  width: 150px;
}

// Operation
.views-field-operation {
  width: 100px;
}

// Answers
.views-field-total-answers {
  .emh-field-answers;
}

// Request status
.views-field-request-status {
  .emh-field-status;
}

// Answer status
.views-field-status,
.views-field-is-draft {
  width: 100px;
}

// Circles
.views-field-og-group-ref {
  width: 150px;
}

// Users
.views-field-uid,
.view-my-responses-questions1 .views-field-nothing-1,
.view-my-responses-challenges .views-field-nothing-1 {
  width: 200px;
}

// Reward / Points
.views-field-field-reward,
.views-field-emh-points,
.views-field-points {
  .emh-field-reward;
}

// VBO
.views-field-views-bulk-operations {
  width: 50px;
  .text-center;
  .form-group {
    margin-bottom: 0;
    input {
      position: relative !important;
      margin-top: 0 !important;
    }
  }
}

// Author answer
.views-field-emh-author {
  width: 200px;
}
