// Dates
.views-field-created,
.views-field-field-expiration-date,
.views-field-changed,
.views-field-submitted {
  .text-center;
  width: 130px;
}

// Titles
.views-field-title {
  width: 220px;
  overflow: hidden;
  -o-text-overflow: ellipsis; /* pour Opera 9 */
  text-overflow: ellipsis; /* pour le reste du monde */
}

// Users
.views-field-uid,
.view-my-responses-questions1 .views-field-nothing-1,
.view-my-responses-challenge .views-field-nothing-1 {
  width: 200px;
  overflow: hidden;
  -o-text-overflow: ellipsis; /* pour Opera 9 */
  text-overflow: ellipsis; /* pour le reste du monde */
}

// Values (€ / Points)
.views-field-field-reward,
.views-field-emh-points {
  .text-right;
}

.views-field-expression {
  // .text-right;
}

// Query list view
.view-query-list {
  &.view-display-id-block {
    .views-field-title {
      width: auto;
    }
    .views-field-field-reward,
    .views-field-views-conditional {
      width: 130px;
    }
  }
}
