
#edit-qforms {
  height: 100%;
}

#edit-qforms .form-item-qforms-add-element {
  float: left;
}

#edit-qforms .qforms-button,
#edit-qforms .qforms-button:hover,
#edit-qforms .qforms-button:focus {
  background-color: transparent;
  background-image: url('images/icons.png');
  border: none;
  display: block;
  height: 16px;
  margin: 0 0 0 8px;
  padding: 0;
  width: 16px;
}

#qforms-form-actions {
  float: right;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

#qforms-form-actions .qforms-button,
#qforms-form-actions .qforms-button:hover,
#qforms-form-actions .qforms-button:focus {
  float: left;
}

#qforms-form-actions .qforms-form-close {
  background-position: 64px 0px;
}

#qforms-form-actions .qforms-form-close:hover {
  background-position: 64px 80px;
}

#qforms-form-actions .qforms-form-open {
  background-position: 80px 0px;
}

#qforms-form-actions .qforms-form-open:hover {
  background-position: 80px 80px;
}

#qforms-elements {
  width: 100%;
  clear: both;
}

.qforms-separator {
  height: 1em;
  width: 100%;
}

/** Qform bulider element **/

.qforms-element {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  /*background-color: #F2F2F2;*/
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  margin: 1em 0;
}

.qforms-element-header {
  background-color: #DBDBDB;
  height: 100%; /* IE fix */
  padding: 0.3em 0.7em;
}
.qforms-element-header:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

.qforms-element-header .qforms-element-title {
  float: left;
  /*font-weight: bold;*/
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  text-shadow: 0 1px 0 #FFFFFF;
}

.qforms-element-header .qforms-element-actions .qforms-button,
.qforms-element-header .qforms-element-actions .qforms-button:hover,
.qforms-element-header .qforms-element-actions .qforms-button:focus {
  float: left;
}

.qforms-element-header .qforms-element-actions {
  float: right;
}

.qforms-element-data {
  padding: 1em 1em 0.5em 1em;
}

.qforms-element .form-item {
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
}

.qforms-element .form-item label {
  float: left;
  width: 120px;
}

.qforms-element .form-item .description {
  margin-left: 120px;
}

/** Qform builder element options **/

.qforms-element .qforms-element-options {
  overflow: hidden;
  padding-left: 120px;
}

.qforms-element .qforms-element-options label {
  float: left;
  margin-left: -120px;
}

.qforms-element .qforms-element-option {
  clear: right;
}

#edit-qforms .qforms-element .qforms-element-option .form-item,
#edit-qforms .qforms-element .qforms-element-option .qforms-action-delete-option,
#edit-qforms .qforms-element .qforms-element-option .qforms-action-delete-option:hover,
#edit-qforms .qforms-element .qforms-element-option .qforms-action-delete-option:focus {
  display: inline;
}

/** Qform builder element buttons **/

.qforms-element .qforms-action {
  margin: 0 4px;
}

.qforms-element .qforms-action-move {
  background-position: 0px 0px;
  cursor: move;
}

.qforms-element .qforms-action-move:hover {
  background-position: 0px 80px;
}

.qforms-element .qforms-form-close {
  background-position: 80px 0px;
}

.qforms-element .qforms-form-close:hover {
  background-position: 80px 80px;
}

.qforms-element .qforms-form-open {
  background-position: 64px 0px;
}

.qforms-element .qforms-form-open:hover {
  background-position: 64px 80px;
}

.qforms-element .qforms-action-delete {
  background-position: 48px 0px;
}

.qforms-element .qforms-action-delete:hover,
.qforms-element .qforms-action-delete:focus {
  background-position: 48px -16px;
}

#edit-qforms .qforms-element .qforms-action-add-option {
  margin: 3px 0 0 -2px;
}

.qforms-element .qforms-action-add-option {
  background-position: 32px 0px;
  float: none;
}

.qforms-element .qforms-action-add-option:hover,
.qforms-element .qforms-action-add-option:focus {
  background-position: 32px -16px;
}

.qforms-element .qforms-action-delete-option {
  background-position: 16px 0px;
  float: none;
}

.qforms-element .qforms-action-delete-option:hover,
.qforms-element .qforms-action-delete-option:focus {
  background-position: 16px -16px;
}
