body {
  background-color: #F6F7F8;
}

#trail {
  background-color: @darkBlue;
  min-height: 50px;
  line-height: 50px;
}

.main-container {
  background-color: #fff;
  padding-bottom: 45px;

  > .container {
    padding: 0;
  }

  #maincol {
    .make-row();
    margin: 0;
    // padding-left: 0;
    // padding-right: 0;
    @media (min-width: @screen-sm-min) {
      margin-top: -15px;
      padding-top: 15px;
    }

    > * {
      .make-sm-column(12);
      padding: 0;
    }
    > .alert {
      padding: @alert-padding !important;
    }

    > h1.page-header {
      .emh-title-main;
      .make-sm-column(8);
      width: auto !important;
      max-width: 66.6667% !important;
    }
  }

}

#block-system-main {
  .node {
    h2 {
      padding-left: 0.8em;
      background-image: url("../images/darkpuce.png");
      background-repeat: no-repeat;
      background-position: 0px 50%;
      font-style: italic;
    }
    h3 {
      color: @gray-light;
    }
  }
}
