body {
  background-color: #F6F7F8;
}

#trail {
  background-color: @darkBlue;
  min-height: 50px;
  line-height: 50px;
}

.main-container {
  background-color: #fff;
  padding-bottom: 45px;

  h1.page-header {
    .emh-title-main;
  }

  @media (min-width: @screen-sm-min) {
    section#maincol {
      margin-top: -15px;
      padding-top: 15px;
    }
  }
}

.content h2 {
  color: #4C6172;
  padding-left: 0.8em;
  background: transparent url("../images/darkpuce.png") no-repeat scroll 0px 50%;
}
