body {
  background-color: @lightGrey;
}

#trail {
  background-color: @darkBlue;
  padding: 5px 0;
  min-height: 20px;
  // line-height: 20px;

  @media (min-width: @screen-sm-min) {
    min-height: 40px;
    // line-height: 50px;
  }
}

h1.page-header {
  .emh-title-main;
}

.main-container {
  background-color: #FFF;
  padding: 0;

  > header {
    background: @darkBlue url("../images/grid_dark.png") no-repeat top center;
    color: #FFF;
  }

}


aside {
	margin-bottom: 15px;

	.block {
		.emh-block-normal;
	}

  @media (max-width: @screen-sm-min) {
  	.block {
  		margin-bottom: 15px;
  		&:last-child {
  			margin-bottom: 0;
  		}
  	}
  }

}


aside,
#maincol {
  padding-top: 15px;
}
aside#sidebar-second {
  padding-left: 0;
}

.one-sidebar.sidebar-first,
.two-sidebars {
  #maincol {
    border-left: 1px solid #DDD;
  }
}

#flashes {
  padding-left: 0;
}


.nav-back {
  > * {
    .btn;
    .btn-default;
  }
}
.nav-previous,
.nav-next {
  > * {
    .btn;
    .btn-nav;
  }
}


a.flag {
  .btn;
  .btn-primary;
}


.node-webform {
  .form-textarea-wrapper.resizable-textarea {
    max-width: 100%;
  }
}


.section {

  padding-top: 15px;
  padding-bottom: 15px;
	margin: 0 0 15px;
	background-color: @lightGrey;

  &:last-child {
    margin-bottom: 0;
  }

  &.emh-fieldgroup-blue-title {
    padding-top: 0;
  }

	.form-group {
		margin-bottom: 0;
	}

	> .field,
	> .field-collection-container {
		padding-bottom: 15px;
		.field-label {
			margin-bottom: 5px;
		}
	}

  .field-name-body {
    font-size: 16px;
  }

  .field-type-taxonomy-term-reference {
    .field-items .field-item {
      .emh-badge-term;
      margin-bottom: 5px;
    }
    a {
      .emh-badge-term;
    }
  }

  .meta {
    li * {
      display: inline-block;
    }
  }

}


.view-header {
	p {
    margin-bottom: 15px;
    &:first-child {
      .introduction;
    }
  }
}


.content .node .links {
  li.fr a,
  li.en a {
    .text-hide;
  }
}


// Commentaires / Réponses
#comments {
  .indented {
    margin-left: 25px;
  }
  .comment .content > div {
    padding: 15px 0;
  }
}


.section.actions {
  ul.links {
    margin: 0;
    display: inline-block;
  }
}


.field-label-inline {
  .field-label,
  .field-items {
    display: inline-block;
  }
  .field-label {
    font-weight: bold;
  }
}
