body.business-user {
  table tbody tr:nth-child(odd),
  .table-content:nth-child(odd) {
    background-color: @oddBlue;
  }

  input[type=submit] {
    &[id*="upload"],
    &[id*="submit"] {
      background-color: @lightBlue;
      &:focus,
      &:hover {
        background-color: @lightBlueHover;
      }
    }
  }

  &.page-messages ul.action-links a {
    background-color: @lightBlue;
  }

  /*&.page-blog .views-row-even {
      background-color: @oddBlue;
  }*/

  .button-new-message {
    background-color: @lightBlue;
  }

  .expert-display {
    display: none;
  }
}

.page {
  &-business-register {
    .form-submit {
      background-color: @lightBlue;
    }
  }
}
