// Skills, position list (background)
.emh-tag {
  background: @softGrey;
  border-radius: 2px;
  color: @darkBlue;
  display: block;
  font-style: italic;
  padding: 6px 20px;
  text-align: left;
}

// Years of experience
.emh-years {
  background: @softGrey;
  border-radius: 2px;
  color: @darkBlue;
  float: right;
  font-style: italic;
  padding: 6px 0;
  width: 50px;
  text-align: center;
}


// Select list
// .styled-default-select {
// 	height: 34px;
// 	overflow: hidden;
// 	width: 240px;
// 	-webkit-border-radius: 3px;
// 	-moz-border-radius: 3px;
// 	border-radius: 3px;
// 	background: #dbdfe3 url(../images/selectDarkArrow.png) no-repeat 100% 0;
//
// 	select {
// 		background: transparent;
// 		border: none;
// 		font-size: 14px;
// 		height: 34px;
// 		padding: 5px; /* If you add too much padding here, the options won't show in IE */
// 		width: 268px;
//
// 		&:focus {
// 			border: none;
// 		}
// 	}
// }
.styled-default-select {
	height: 34px;
	overflow: hidden;
	width: 240px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #dbdfe3 url(../images/selectDarkArrow.png) no-repeat 100% 0;

	// select {
		// background: transparent;
		border: none;
		font-size: 14px;
		height: 34px;
		padding: 5px; /* If you add too much padding here, the options won't show in IE */
		width: 268px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

		&:focus {
			border: none;
		}
	// }
}
