.group-oneliner {
	& > div {
		// display: inline-block;

		@media (min-width: @screen-md) {
			// margin-left: 2em;
		}

		&:first-of-type {
			// margin-left: 0;
		}
	}

	label {
		// width: auto;
	}

}

.page {
	&-edit,
	&-add {
		&.node-type-question1,
		&.node-type-webform,
		&.node-type-challenge,
		&-question1,
		&-webform,
		&-challenge {

			.group-oneliner {
				width: 100%;

				@media (min-width: @screen-md) {
					display: -webkit-flex;
				}
			}

			@media (min-width: @screen-sm-min) {
				.group-oneliner {
					display: inline-flex;

					> div {
						width: 47%;

						&:first-of-type {
							margin-right: 1em;
						}
					}
				}
			}

		}
	}
}

// body.page-user {
//   tr.draggable {
//     .group-oneliner {
//   		> div {
//   			width: auto;
//         margin-left: 0;
//       }
//     }
// 	}
// }


@media (max-width: @screen-xs) {
	.group-oneliner > div {
		// width: 100% !important;
	}
}

.form-item,
.form-actions {
  margin-top: 0;
  margin-bottom: 1em;
}

/* FORMS
 * One field per line
 */

/* If content 2/3 + sidebar 1/3
 */
// body.two-sidebars {
// 	.field-group-fieldset > .form-wrapper {
//
// 		// Common case : text field & so on
// 		> .form-item,
// 		> div > .form-item,
// 		&#edit-account > .form-item { // Specific case : user register form
//
// 			> label,
// 			> .formtips-wrapper { // Specific case : user register form
// 				.make-md-column(3);
// 			}
// 			> input {
// 				.make-md-column(5);
// 			}
//
// 			> div.password-confirm {
// 				.make-md-column(4);
// 			}
//
// 			> .description {
// 				.make-md-column(12);
// 			}
//
// 		}
//
// 	}
// }

.field-group-fieldset > .form-wrapper {

	.make-row();
	margin: 0;

	// Common case : text field & so on
	> .form-item,
	> div > .form-item,

	// Specific case : user register form
	&#edit-account > .form-item,

	// Adress
	&.field-type-addressfield #addressfield-wrapper .fieldset-wrapper > .form-item,
	&.field-type-addressfield #addressfield-wrapper .fieldset-wrapper > .street-block > .form-item {
		.make-row();
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		width: inherit; // Needed for specific fields like password, username, etc.

		> label,
		> .formtips-wrapper { // Specific case : user register form
			.make-md-column(2);
			padding-left: 0;
			padding-right: 5px;
		}
		> input,
		> .chosen-container {
			.make-md-column(4);
			max-width: 100%;
			padding-left: 5px;
			padding-right: 5px;
		}

		> div.password-strength {
			display: none;
		}
		> div.password-confirm {
			.make-md-column(5);
			float: none;

			@media (max-width: @screen-md-min) {
				width: inherit;
				margin: 0 0 0.5em;
				padding: 0;
			}
			@media (min-width: @screen-md-min) {
				position: absolute;
				right: 0;
				top: -1.25em;
			}
		}

		> .description {
			.make-md-column(12);
			padding: 0.2em 0.5em;
			margin: 0.7em 0px;
			border: 1px solid #B4B4B4;
		}

	}

	// Checkbox
	.form-item.form-type-checkbox {
		> input {
			.make-md-column(0);
		}
		> label {
			.make-md-column(12);
			padding-left: 17+10px; // checkbox width + acceptable margin
			padding-right: inherit;
			// margin-bottom: 1em; // looking like any other field
		}
	}

	// Label 100%
	&.field-type-link-field > div > div > label,
	&.field-type-text-long > div > div > label {
		.make-md-column(12);
		padding: 0;
	}

}

/* FORMS
 * 2 fields per line
 */
.group-oneliner,
.link-field-subrow,
.locality-block {

	.make-row();
	margin: 0;

	> div {
		.make-md-column(6);
		// paddin-left: 0;

		// Columns spacing
		@media (min-width: @screen-md-min) {
			&:nth-child(1) {
				// padding-right: 0;
				.form-item {
					padding-right: 5px;
				}
			}
			&:nth-child(2) {
				// padding-right: 0;
				.form-item {
					padding-left: 5px;
				}
			}
		}
	}

	.form-item {
		.make-row();
		margin-top: 0;
		// margin: 0;

		> .formtips-wrapper > label,
		> label {
			.make-md-column(4);
			padding-left: 0;
			padding-right: 5px;
			// margin: 0;
		}
		> input {
			.make-md-column(8);
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	.field-name-field-notification-frequency,
	.field-name-field-known-how {
		> .form-item {
			> label {
				.make-md-column(12);
				padding: 0;
			}
		}
	}

}


/* FORMS
 * Fields collections & co
 */
tr.draggable {
	&,
	td {
		padding-left: 0;
		padding-right: 0;
	}
	td:nth-child(2) .ajax-new-content {
		width: 100%;
	}
	// @media (min-width: @screen-sm-min) {
		td:nth-child(2) > *,
		td:nth-child(2) .ajax-new-content > * {
			// display: inline-block;
			.make-row();
			margin-left: 0;
			margin-right: 0;
		}
	// }

	td:nth-child(2) > .field-group-div,
	td:nth-child(2) .ajax-new-content > .field-group-div {
		// width: 85%;
		.make-md-column(10);

		.form-item {
			> input {
				float: none;
			}
		}
	}

	// Remove button
	// @media (min-width: @screen-sm-min) {
		td:nth-child(2) > input,
		td:nth-child(2) .ajax-new-content > input {
			.make-md-column(2);
			width: auto !important;
			max-width: 100%;
			margin-left: 15px;
		}
	// }
}
table#field-skills-set-values {
	tr.draggable .group-oneliner > div {
		padding: 0;

		// Specific skills
		&.field-name-field-skill2 {
			.make-md-column(5);
			padding: 0;
		}

		// Five stars rating
		&.field-name-field-skill-autoeval {
			.make-md-column(4);
			padding-right: 0;

			.form-item > label {
				display: none;
			}
			.form-item > .form-type-select {
				.make-md-column(12);

				.fivestar-widget {
	        text-align: center;
	      }
			}
		}
		// Years of experience
		&.field-name-field-year-of-experiences {
			.make-md-column(3);
			padding-right: 0;

			.form-item > label {
				.make-md-column(9);
				@media (max-width: @screen-md-max) {
					display: inline-block;
				}
			}
			.form-item > input {
				.make-md-column(3);
				float: none !important;
				padding-left: 5px;
				padding-right: 5px;
				margin-left: 5px;
				text-align: center;
			}
		}
	}
}
