// Skills, position list (background)
.emh-tag {
  background: @softGrey;
  border-radius: 2px;
  color: @darkBlue;
  display: block;
  font-style: italic;
  padding: 6px 20px;
  text-align: left;
}

// Years of experience
.emh-years {
  background: @softGrey;
  border-radius: 2px;
  color: @darkBlue;
  float: right;
  font-style: italic;
  padding: 6px 0;
  width: 50px;
  text-align: center;
}




// Select list
// .styled-default-select {
// 	height: 34px;
// 	overflow: hidden;
// 	width: 240px;
// 	-webkit-border-radius: 3px;
// 	-moz-border-radius: 3px;
// 	border-radius: 3px;
// 	background: #dbdfe3 url(../images/selectDarkArrow.png) no-repeat 100% 0;
//
// 	select {
// 		background: transparent;
// 		border: none;
// 		font-size: 14px;
// 		height: 34px;
// 		padding: 5px; /* If you add too much padding here, the options won't show in IE */
// 		width: 268px;
//
// 		&:focus {
// 			border: none;
// 		}
// 	}
// }
.styled-default-select {
	height: 34px;
	overflow: hidden;
	// width: 240px;
	max-width: 95%;
	-webkit-border-radius: @borderRadius;
	-moz-border-radius: @borderRadius;
	border-radius: @borderRadius;
	background: #dbdfe3 url(../images/selectDarkArrow.png) no-repeat 100% 0;

	// select {
		// background: transparent;
		border: none;
		font-size: 14px;
		height: 34px;
		padding: 5px; /* If you add too much padding here, the options won't show in IE */
		width: 268px;
    max-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

		&:focus {
			border: none;
		}
	// }
}



.dark-line {
	height: 1px;
	top: 0.8em;
	background-color: @darkBlue;
	position: relative;
	margin-bottom: 1em;
  text-align: center;

	 * {
		background-color: #fff;
		top: -0.6em;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		// width: 40%;
		display: inline-block;
		padding: 0;
	}

	// *.width-36 {
	// 	width: 36%;
	// }
  //
	// *.width-18 {
	// 	width: 18%;
	// }
  //
	// *.width-60 {
	// 	width: 60%;
	// }

	// *.width-sm {
	// 	@media (max-width: @screen-sm) {
	// 		&-62 {
	// 			width: 62%;
	// 		}
	// 	}
	// }
  //
	// *.width-xs {
	// 	@media (max-width: @screen-xs) {
	// 		&-29 {
	// 			width: 29%;
	// 		}
	// 		&-31 {
	// 			width: 31%;
	// 		}
	// 		&-38 {
	// 			width: 38%;
	// 		}
	// 		&-57 {
	// 			width: 57%;
	// 		}
	// 	}
	// }
  //
	// *.width-xxs {
	// 	@media (max-width: @screen-xxs) {
	// 		&-44 {
	// 			width: 44%;
	// 		}
	// 		&-48 {
	// 			width: 48%;
	// 		}
	// 		&-59 {
	// 			width: 59%;
	// 		}
	// 		&-88 {
	// 			width: 88%;
	// 		}
	// 	}
	// }
}

.line {
	height: 1px;
	top: 0.8em;
	background-color: @brand-primary;
	position: relative;
	margin-bottom: 1em;

	h1,
	h2 {
		background-color: #fff;
		padding-right: 0.7em !important;
		top: -0.6em;
		display: inline;
		position: relative;
	}

	#page-title {
		padding-bottom: 0;
		display: inline;
		border: none;
	}
}

.text-normal {
	font-weight: normal !important;
}

.text-13 {
	font-size: @px13;
}

.text-16 {
	font-size: @px16;
}

.filters {
	padding-top: 1em;
	background-color: @lightGrey;

	+ .filters {
		padding-bottom: 1em;
	}

	input[type=checkbox] {
		margin-left: .5em;
		margin-right: .5em;
	}
}

.title {
	font-size: @rpx20;
	// text-align: center;
	text-transform: uppercase;
  padding: 0 10px;

	@media (max-width: @screen-sm) {
		font-size: 1.1em;
		.bold;
	}
}

.inline {
	display: inline;
}

// .text-right {
// 	text-align: right;
// }

.upper {
	text-transform: uppercase;
}

.challenge-title {
	.upper;
	.light-blue-text;
	.bold;
}

.challenge-tag-container {
	padding-left: 0px;
}

.blue {
	color: @brand-primary;
}

.dark-blue-text {
	color: @darkBlue;
}

.yellow-text {
	color: @expertYellow;
}

.news {
	font-size: 1.125em;
	text-transform: uppercase;
}


.header {
	text-transform: uppercase;

	&-emindhub {
		padding-bottom: 1.5em;
	}

	// &-separator {
	// 	background: url(../images/grid.png) no-repeat 57% 99%;
	// }
}

.ondes-background {
	background: url(../images/ondes.png) no-repeat center center;
	@media (min-width: @screen-sm) {
		.center-text {
			text-align: left;
		}
	}
}

.shadow {
	border-bottom: 2px #fff solid;

	&:after {
		position: absolute;
		content: '';
		left: 1em;
		top: 100%;
		height: 0.08em;

		@media (max-width: @screen-md) and (min-width: @screen-sm) {
			top: 92%;
		}

		width: 90%;
		display: inline-block;
		background: -moz-linear-gradient(left,  rgba(255,255,255,0.72) 0%, rgba(127,127,127,0.72) 50%, rgba(255,255,255,0.72) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.72)), color-stop(50%,rgba(127,127,127,0.72)), color-stop(100%,rgba(255,255,255,0.72))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0.72) 0%,rgba(127,127,127,0.72) 50%,rgba(255,255,255,0.72) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(255,255,255,0.72) 0%,rgba(127,127,127,0.72) 50%,rgba(255,255,255,0.72) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(255,255,255,0.72) 0%,rgba(127,127,127,0.72) 50%,rgba(255,255,255,0.72) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(255,255,255,0.72) 0%,rgba(127,127,127,0.72) 50%,rgba(255,255,255,0.72) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8ffffff', endColorstr='#b8ffffff',GradientType=1 ); /* IE6-9 */
	}
}


.noPadding {
	padding: 0 !important;
}

.noPaddingUD {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.paddingUD {
	padding-top: 1.18em;
	padding-bottom: 1.18em;
}

.softPaddingUD {
	padding-top: .3em;
	padding-bottom: .3em;
}

.paddingU {
	padding-top: .7em;
}

.paddingD {
	padding-bottom: 1em;
}

.noPaddingL {
	padding-left: 0 !important;
}

.paddingL {
	padding-left: 1em;
}

.paddingR {
	padding-right: 1em;
}

.paddingLR {
	.paddingL;
	.paddingR;
}

.marginU {
	margin-top: 1em;
}

.marginD {
	margin-top: 1.4em;
	margin-bottom: 3em;
}

.marginR {
	margin-right: 1em;
}

.border-light {
	border: 1px @softGrey solid;
	margin: .5em;
}
