header#navbar {
	.row {
		> div:nth-child(2) {
			padding-right: 0;
		}
	}
}

@media (min-width: @screen-md-min) {
	body {
		padding-top: 123px;
	}
	body.admin-menu {
		header#navbar {
			.navbar-fixed-top;
			margin-top: 29px;
		}
	}
	header#navbar {
		.navbar-fixed-top;
    .col-md-4 {
      padding-left: 0;
    }
	}
}

header#title {
	padding-top: 15px;
}

/* HEADER
 * Light version
 */
.logged-in {
	@media (min-width: @screen-md-min) {
		padding-top: 92px;

		header#navbar {
			.row {
				> div:nth-child(1) {
					padding-right: 0;
				}
			}
			.logo {
		    padding-right: 0;
				margin-top: 11px;
			}
			.navbar-nav > li > a,
			#block-user-login .nav > li > span,
			#block-system-user-menu .nav > li > span {
		    padding-top: 10px;
		    padding-bottom: 10px;
			}
			#block-system-user-menu .nav > li > span span.caret {
		    top: 19px;
			}
			.region-navigation .nav > li > a,
			.region-navigation .nav > li > span.dropdown-toggle {
		    padding-top: 3px;
		    padding-bottom: 13px;
			}

			.region-navigation .nav > li > a.active,
			.region-navigation .nav > li > span.dropdown-toggle.active {
		    background-image: none;
			}

			.burger-menu-btn-container {
		    top: 37px;
			}

			&.navbar-emh {
				&:after {
					height: 10px;
				}
			}
		}
	}
}


/* HEADER
 * Burgermenu
 */
.burger-menu-btn-container {
	cursor: pointer;
	padding: 0.39em;
	width: 3em;
	position: absolute;
	top: 57px;
	left: -50px;
	background-color: #FFF;
}
.header-emindhub img {
	margin-left: auto;
	margin-right: auto;
}


/* HEADER
 * Logo
 */
.navbar .logo {
	display: block;
	.text-center;
	img {
		max-width: 100%;
	}
	@media (min-width: @screen-md-min) {
		.text-left;
	}
}


/* HEADER
 * Search
 */
.navbar #block-search-form {
	float: left;
}


/* HEADER
 * Login
 */
#block-user-login .nav > li {
	display: inline-block;
}
@media (max-width: @screen-md-min) {
	.not-logged-in {
		#block-user-login {
			.nav {
				width: 100%;
				padding: 0;
				.text-center;
				> li {
					float: none;
				}
			}
		}
	}
}
.popover {
	&.signUp {
		h4 {
			.text-uppercase;
			font-weight: 700;
			span {
				display: block;
			}
		}
		.btn {
			display: block;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	ul {
		margin: 10px 0 0;
		padding: 0;
		list-style: none;
		a {
			font-style: italic;
			color: #fff;
		}
	}

	.hybridauth-widget-wrapper {
		clear: both;
		h3 {
			.text-hide;
			margin: 0;
		}
		ul {
			border-top: 1px solid @darkerBlue;
			a {
				padding: 10px 0;
				border-bottom: 1px solid @darkerBlue;
				display: block;
				&[data-hybridauth-provider="LinkedIn"] {
					&:after {
						content: "Log in with LinkedIn";
						margin-left: 10px;
					}
				}
			}
		}
	}
}
body.lang-fr {
	.popover {
		.hybridauth-widget-wrapper {
			ul {
				a {
					&[data-hybridauth-provider="LinkedIn"] {
						&:after {
							content: "Connectez-vous avec LinkedIn";
						}
					}
				}
			}
		}
	}
}


/* HEADER
 * User manu
 */
#block-system-user-menu {
	.navbar-emh-separator {
		@media (min-width: @screen-md-min) {
			> li {
				// User points
				&:nth-child(2) {
					&:before {
						content: "";
					}
					> a {
						padding-left: 0;
					}
				}
			}
		}
	}
}


/* HEADER
 * Navigation
 */
header nav.navbar {
	margin-bottom: 0;
	border: 0;
	.navbar-collapse.in {
	  overflow: hidden !important;
	}
}
.region-navigation {
	.nav > li > a,
	.nav > li > span.dropdown-toggle {
		font-size: 16px;
	}

	// Active
	.nav > li.active,
	.nav > li.open {
		> a,
		> span.dropdown-toggle {
			color: @brand-primary;
		}
	}

	@media (max-width: @screen-xs-max) {
		.nav > li > a,
		.nav > li > span.dropdown-toggle {
			text-align: left;
		}
	}

	@media (min-width: @screen-md-min) {
		.nav > li > a,
		.nav > li > span.dropdown-toggle {
			cursor: pointer;
		}

		.dropdown-menu {
			border: 0;
			border-radius: 0;
			background-color: @brand-primary;
			box-shadow: none;
			width: 100%;
			top: 46px !important;
			padding-top: 21px;
			padding-bottom: 0;
			background-image: url("../images/topMenuDropdown_bg.png");
			background-repeat: no-repeat;
			background-position: top center;

			> li > a {
				color: #fff;
				.text-uppercase;
				padding: 5px 20px;
			}
		}
	}

}


/* HEADER
 * Banner
 */
header#page-header {
	// #gradient > .vertical(@start-color: rgba(21,83,140,1); @end-color: rgba(22,88,146,1));
	background-color: #114577;

	> .container {
		// background: transparent url("../images/grid_dark.png") repeat-y top center;
	}

	.region-header {
		color: #fff;
		font-size: 32px;
		.text-uppercase;

		.block {
			p {
				margin: 0;
			}
		}
	}
	.region-header-right {
		color: #4C6172;
		font-size: 14px;

		.block {
			background: #F6F7F8;
			box-shadow: 0px 0px 2px #000;
			margin-bottom: 15px;
			&:last-of-type {
				margin-bottom: 0;
			}

			p {
				padding: 10px 20px;
				margin: 0;

				&:first-of-type {
					.text-center;
					.text-uppercase;
					font-size: 24px;
					line-height: 25px;
					padding: 15px 10px;
					background: #fff;
				}
			}
			a {
				color: inherit;
			}
		}
	}

}
