header#navbar {
	.row {
		> div:nth-child(2) {
			// padding-right: 0;
		}
	}
}

@media (min-width: @screen-md-min) {
	body {
		padding-top: 123px;
	}
	body.admin-menu {
		header#navbar {
			.navbar-fixed-top;
			margin-top: 29px;
		}
	}
	header#navbar {
		.navbar-fixed-top;
    .col-md-4 {
      padding-left: 0;
    }
	}
}

.region-topmenu {
	> * {
		padding: 0 !important;
	}
}

/* HEADER
 * Light version
 */
.logged-in {
	header#title {
		padding-top: 15px;
	}
	@media (min-width: @screen-md-min) {
		padding-top: 61px;

		header#navbar {
			.row {
				> div:nth-child(1) {
					margin-top: 10px;
					margin-bottom: 10px;
					padding-right: 0;
				}
				> div:nth-child(2) {
					padding-left: 0;
				}
			}
			.logo {
		    padding-right: 0;
		    padding-left: 0;
				margin: 0 !important;
				img {
					max-height: 30px;
				}

			}
			.navbar-nav > li > a,
			#block-user-login .nav > li > span,
			#block-system-user-menu .nav > li > span {
		    // padding-top: 10px;
		    // padding-bottom: 10px;
			}
			#block-system-user-menu .nav > li > span span.caret {
		    top: 22px;
			}
			.region-navigation .nav > li > a,
			.region-navigation .nav > li > span.dropdown-toggle {
		    // padding-top: 3px;
		    // padding-bottom: 13px;
			}

			.region-navigation .nav > li > a.active,
			.region-navigation .nav > li > span.dropdown-toggle.active {
		    background-image: none;
			}

			.burger-menu-btn-container {
		    top: 37px;
			}

			&.navbar-emh {
				&:after {
					height: 10px;
				}
			}
		}
	}
}


/* HEADER
 * Burgermenu
 */
.burger-menu-btn-container {
	cursor: pointer;
	padding: 0.39em;
	width: 3em;
	position: absolute;
	top: 57px;
	left: -50px;
	background-color: #FFF;
}
.header-emindhub img {
	margin-left: auto;
	margin-right: auto;
}


/* HEADER
 * Logo
 */
.navbar .logo {
	// display: block;
	.text-center;
	img {
		max-width: 100%;
		.img-responsive;
	}
	@media (min-width: @screen-md-min) {
		.text-left;
	}
}


/* HEADER
 * Search
 */
.navbar #block-search-form {
	float: left;
}


/* HEADER
 * Login
 */
#block-user-login .nav > li {
	display: inline-block;
}
@media (max-width: @screen-md-min) {
	.not-logged-in {
		#block-user-login {
			.nav {
				width: 100%;
				padding: 0;
				.text-center;
				> li {
					float: none;
				}
			}
		}
	}
}
.popover {
	&.signUp {
		h4 {
			.text-uppercase;
			font-weight: 700;
			span {
				display: block;
			}
		}
		.btn {
			display: block;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	ul {
		margin: 10px 0 0;
		padding: 0;
		list-style: none;
		a {
			font-style: italic;
			color: #fff;
		}
	}

	.hybridauth-widget-wrapper {
		clear: both;
		h3 {
			.text-hide;
			margin: 0;
		}
		ul {
			border-top: 1px solid @darkerBlue;
			a {
				padding: 10px 0;
				border-bottom: 1px solid @darkerBlue;
				display: block;
				&[data-hybridauth-provider="LinkedIn"] {
					&:after {
						content: "Log in with LinkedIn";
						margin-left: 10px;
					}
				}
			}
		}
	}
}
body.lang-fr {
	.popover {
		.hybridauth-widget-wrapper {
			ul {
				a {
					&[data-hybridauth-provider="LinkedIn"] {
						&:after {
							content: "Connectez-vous avec LinkedIn";
						}
					}
				}
			}
		}
	}
}

/* HEADER
 * User menu
 */
#block-system-user-menu {
	.navbar-emh-separator {
		@media (min-width: @screen-md-min) {
			> li {
				// User points
				&:nth-child(2) {
					&:before {
						content: "";
					}
					> a {
						padding-left: 0;
					}
				}
			}
		}
	}
}

/* HEADER
 * Navigation
 */
header nav.navbar {
	margin-bottom: 0;
	border: 0;
	.navbar-collapse.in {
	  overflow: hidden !important;
	}

	// Active
	.nav > li.active-trail {
		> a,
		> span.dropdown-toggle {
			color: @brand-primary;
		}
	}

	@media (max-width: @screen-xs-max) {
		.nav > li > a,
		.nav > li > span.dropdown-toggle {
			text-align: left;
		}
	}

	@media (min-width: @screen-md-min) {
		.nav > li > a,
		.nav > li > span.dropdown-toggle {
			cursor: pointer;
			padding-left: 20px;
			padding-right: 20px;
		}
		.nav {
			.open,
			.open.active-trail {
				> a,
				> a:hover,
				> a:focus,
				> span.dropdown-toggle,
				> span.dropdown-toggle:hover,
				> span.dropdown-toggle:focus {
			    background-color: @brand-primary;
			    color: #FFF;
				}
			}
		}

		.block-menu {
			.dropdown-menu {
				border: 0;
				background-color: @brand-primary;
				padding: 0;
				box-shadow: none;
				> li > a {
					color: #fff;
					padding: 5px 20px;
				}
			}
		}
	}

}


/* HEADER
 * Banner
 */
header#page-header {
	background-color: @totalBlue;

	.region-header {
		color: #fff;
		font-size: 32px;
		.text-uppercase;

		.block {
			p {
				margin: 0;
			}
		}
	}
	.region-header-right {
		color: #4C6172;
		font-size: 14px;

		.block {
			background: #F6F7F8;
			box-shadow: 0px 0px 2px #000;
			margin-bottom: 15px;
			&:last-of-type {
				margin-bottom: 0;
			}

			p {
				padding: 10px 20px;
				margin: 0;

				&:first-of-type {
					.text-center;
					.text-uppercase;
					font-size: 24px;
					line-height: 25px;
					padding: 15px 10px;
					background: #fff;
				}
			}
			a {
				color: inherit;
			}
		}
	}

}
