//
// Variables
// --------------------------------------------------


//== Colors
@gray:                   lighten(@gray-base, 33.5%);  // #555 @darkGrey
@gray-light2:            lighten(@gray-base, 71%);    // #B5B5B5
@gray-lighter:           lighten(@gray-base, 95%);    // #F2F2F2
@gray-very-lighter:      lighten(@gray-base, 98%);    // #FAFAFA

@lightGrey:              @gray-lighter;
@softGrey:               @gray-lighter;
@hrLightGrey:            @gray-lighter;
@smoothGrey:             @gray-lighter;
@middleGrey:             @gray-lighter;
@btnBackBackground:      @gray-lighter;
@btnCancelBackground:    @gray-lighter;
@copyrightTextColor:     @gray-lighter;
@burgerMenuGrey:         @gray-lighter;
@darkGrey:               @gray;

@brand-primary:          #009fe3;
@brand-info:             #01bdeb;

@circleLightBlue:        #bfe7f8;
@darkBlue:               #445766;
@darkerBlue:             #4C6172;
@lightYellow:            #f9f4ea;
@mediumYellow:           #e39000;
@expertYellow:           #c89234;
@emerald:                #1abc9c;
@emerald-light:          #53cdb5;

@deepBlue:               #104476;
@middleBlue:             #15538c;


//== Typography
@font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;


//== Iconography
@icon-font-path: "../../../libraries/bootstrap/fonts/";


//== Components
@border-radius-base:        0; //4px
@border-radius-large:       0; //6px
@border-radius-small:       0; //3px

//== Buttons
@btn-default-color:              @darkerBlue;
@btn-default-bg:                 transparent;
@btn-default-border:             @gray-lighter;

@btn-primary-border:             darken(@brand-primary, 5%);

@btn-danger-color:               @brand-danger;
@btn-danger-bg:                  #fff;
@btn-danger-border:              @gray-lighter;

@btn-submit-color:               #fff;
@btn-submit-bg:                  @brand-primary;
@btn-submit-border:              darken(@btn-submit-bg, 5%);

@btn-nav-color:                  @text-color;
@btn-nav-bg:                     transparent;
@btn-nav-border:                 transparent;

@btn-popin-color:                  @text-color;
@btn-popin-bg:                     transparent;
@btn-popin-border:                 transparent;


//== Forms
@input-bg:                       @gray-very-lighter;
@input-border:                   #b2bbc2;
@input-group-addon-bg:           @input-border;


//== Dropdowns
@dropdown-link-color:            darken(@gray-dark, 5%);
@dropdown-link-hover-color:      #fff;
@dropdown-link-hover-bg:         @brand-info;


//== Tooltips
@tooltip-color:               inherit;
@tooltip-bg:                  @softGrey;
@tooltip-opacity:             .95;


//== Popovers
@popover-bg:                          @darkBlue;


//== Breadcrumbs
@breadcrumb-padding-vertical:   0;
@breadcrumb-padding-horizontal: 0;
@breadcrumb-bg:                 transparent;
@breadcrumb-color:              #fff;
@breadcrumb-active-color:       #fff;


//== Carousel
@carousel-control-width:                      10%;
@carousel-control-opacity:                    1;
