sites/all/modules/.notused
sites/all/modules/.unused
sites/all/themes/emindhub/css/*.map
sites/all/themes/emindhub/css/*.css
sites/all/themes/emindhub/templates/unused

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
