sites/all/modules/.notused
sites/all/modules/.unused
sites/all/modules/debug
sites/all/themes/emindhub/css/*.css
sites/all/themes/emindhub/css/*.css.map
sites/all/themes/emindhub/templates/unused/
!sites/all/themes/emindhub/css/bootstrap.css
sites/all/themes/emindhub/src/node_modules/

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/local.settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore IDE and OS-related files
.buildpath
.metadata
.settings
.project
.idea
.DS_Store
*.DS_Store
nbproject
.hg
atlassian-ide-plugin.xml
*~
