www/sites/all/modules/debug
www/adminer.php
www/bdd
www/emh.sql
xhgui

# Ignore on soyoustart prod server only
var

# Ignore NPM files
/**/node_modules/
/**/vendor/
*.map


# Ignore IDE and OS-related files
.buildpath
.metadata
.settings
.project
.idea
.DS_Store
*.DS_Store
nbproject
.hg
atlassian-ide-plugin.xml
*~
.htaccess

# this file is copied from deploy/ versions
www/robots.txt
