body {
  background-color: @lightGrey;
}

// Header
.region-title-left,
.title-left,
.region-title-right,
.title-right {
  margin: 15px 0;
}

h1.page-header {
  .emh-title-main;
}

.main-container {
  background-color: #FFF;
  padding: 0;

  > header {
    background: @darkBlue url("../images/grid_dark.png") no-repeat top center;
    color: #FFF;
  }

}


aside {
	margin-bottom: 15px;

	.block {
		.emh-block-normal;
	}

  @media (max-width: @screen-md-min) {
  	.block {
  		margin-bottom: 15px;
  		&:last-child {
  			margin-bottom: 0;
  		}
  	}
  }

}


aside,
#maincol {
  padding-top: 20px;
  padding-bottom: 20px;
}
aside#sidebar-second {
  ul, ol {
    padding-left: 20px;
  }
  @media (min-width: @screen-md-min) {
    padding-left: 0;
  }
}

.one-sidebar.sidebar-first,
.two-sidebars {
  #maincol {
    border-left: 1px solid #DDD;
  }
}

a.flag {
  .btn;
  .btn-primary;
}

ul.links.list-inline {
  li {
    a {
      .btn;
      .btn-default;
    }
  }
}
#request-nav {
  .make-row();
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#nav-back,
#nav-previous,
#nav-next {
  .make-xs-column(6);
  .make-sm-column(3);
  > a {
    .btn;
    .btn-default;
  }
}
#nav-previous {
  .text-right;
}
#flag-selection {
  .make-xs-column(6);
  .make-sm-column(3);
  .text-right;
  a {
    margin-right: 0;
  }
}


.node-webform {
  .form-textarea-wrapper.resizable-textarea {
    max-width: 100%;
  }
}

.title-left {
  .make-md-column(8);
}
.region-title-right,
.title-right {
  .make-md-column(4);
  margin-bottom: 15px;
  .text-right;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 0;
  }
}

.section {

  padding-top: 15px;
  padding-bottom: 15px;
	margin: 0 0 15px;
	background-color: @lightGrey;

  &:last-child {
    margin-bottom: 0;
  }

  &.emh-fieldgroup-blue-title {
    padding-top: 0;
  }

	.form-group {
		margin-bottom: 0;
	}

	> .field,
	> .field-collection-container {
		padding-bottom: 15px;
		.field-label {
			margin-bottom: 5px;
		}
	}

  .meta {
    li * {
      display: inline-block;
    }
  }

}


.view-header {
	p {
    margin-bottom: 15px;
    &:first-child {
      .introduction;
    }
  }
}


.content .node .links {
  li.fr a,
  li.en a {
    .text-hide;
  }
}


// Commentaires / Réponses
#comments {
  .comment .content > div {
    padding: 15px 0;
  }
	> .comment {
		padding: 15px;
    margin: 0;
		border-top: 1px solid #DDD;

    &.indented {
      margin-left: 25px;
    }
    &.comment-by-viewer {
      // background-color: @lightYellow;
    }
    &:last-child {
      padding-bottom: 0;
    }

    > .meta {
      padding-left: 0;
    }
    > .answer {
      padding-right: 0;
    }
	}
	.list-inline {
    margin-left: 0;
		margin-bottom: 0;
    .text-right;
    .comment-edit a {
      .btn-primary;
    }
	}
  .field-name-comment-body,
  .field-name-field-private-comment-body {
    font-size: 16px;
    font-style: italic;
  }
}


.section.actions {
  ul.links {
    margin: 0;
    display: inline-block;
  }
}


.field-label-inline {
  .field-label,
  .field-items {
    display: inline-block;
  }
  .field-label {
    font-weight: bold;
  }
}
