body.not-logged-in {
  .emh-button {
    text-transform: uppercase;
  }

  .btn-group {
    clear: both;
    float: none !important;
    .make-xs-column(12);
    .text-center;

    .btn {
      margin: 30px auto 0;
      float: none;
    }
  }

  .form-mandatory {
    .text-center;
  }
}
