body.not-logged-in {
  .emh-button {
    padding: 17px 20px;
    min-width: @emh-cta-width-min;
  }

  .btn-group {
    clear: both;
    float: none !important;
    .make-xs-column(12);
    .text-center;

    .btn {
      margin: @grid-gutter-width auto 0;
      float: none;
    }
  }

  .form-mandatory {
    .text-center;
  }
}
