hr {
	border-color: @gray-light;
}

img {
	max-width: 100%;
	height: auto;
}


.nav {
	// .text-uppercase;

	> li > a,
	> li > span.dropdown-toggle {
		color: @darkBlue;

		&:hover,
		&:focus {
			// text-decoration: underline;
			background-color: transparent;
		}
	}
}

.nav-justified > li.dropdown {
	text-align: center;
}
.nav-justified > li > span.dropdown-toggle {
	text-align: center;
	margin-bottom: 5px;
}

.nav-tabs {
	&.tabs--primary {
		margin-bottom: 0;
		border-bottom: 0;
		text-transform: none;
		> li > a {
		  color: #FFF;
		}
		> li.active > a,
		> li.active > a:hover,
		> li.active > a:focus {
			color: @navbar-default-link-active-color;
		}
	}
}

.nav-subtabs {
	.pagination;

	margin: 0;
	width: 100%;

	> li {
		display: block;
	}
	> li > a,
	> li > span {
    position: relative;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #009FE3;
    background-color: #FFF;
    // border: 1px solid #DDD;
    // margin-left: -1px;

		display: block;
		float: none;
		margin-left: 0;
		border: 0;
		border-bottom: 1px solid #DDD;
	}

	> .active > a,
	> .active > span,
	> .active > a:hover,
	> .active > span:hover,
	> .active > a:focus,
	> .active > span:focus {
    z-index: 3;
    color: #FFF;
    background-color: #009FE3;
    border-color: #009FE3;
    cursor: default;
	}
}

.navbar-emh {
	background-color: #fff;
	border: 0;
	&:after {
		background: @brand-primary url("../images/grid_light.png") no-repeat center center;
		height: 10px;
		display: block;
	}

	.navbar-toggle {
		background-color: @lightGrey;
		border-color: @lightGrey;

		.icon-bar {
			background-color: @darkGrey;
		}

	}
}

.navbar-emh-blue {
	a.dropdown-toggle {
		&:link,
		&:focus,
		&:active,
		&:hover {
			background-color: @lightGrey;
			border-radius: @border-radius-base;
			font-size: 12px;
			padding: 5px;
			text-decoration: none;
		}
	}
}

.navbar-emh-separator {
	@media (min-width: @screen-md-min) {
		> li {
			&:before {
				content: "|";
				color: @darkerBlue;
				display: block;
				line-height: 50px;
				float: left;
			}
			&:first-child {
				&:before {
					content: "";
				}
			}
			> a {
				display: inline-block; // For correct separator position
			}
		}
	}
}


.navbar-emh-left {
	border: 0;
	text-transform: normal;
	> li > a:hover,
	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus {
		border: 0;
	}
	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus {
		font-weight: 700;
	}
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.light-blue-text, // OLD
.emh-blue {
	color: @brand-primary;
}


// New button style : .btn-submit
.btn-submit {
	.button-variant(@btn-submit-color; @btn-submit-bg; @btn-submit-border);
}

// New button style : .btn-nav
.btn-nav {
	.button-variant(@btn-nav-color; @btn-nav-bg; @btn-nav-border);
}

// New button style : .btn-popin
.btn-popin {
	.button-variant(@btn-popin-color; @btn-popin-bg; @btn-popin-border);
}

// New button style : .btn-expert
.btn-expert {
	.button-variant(#FFF; @golden-base; @golden-dark);
}

// New button style : .btn-client
.btn-client {
	.btn-primary;
}

// New button style : .btn-asphalt
.btn-asphalt {
	.button-variant(#FFF; @asphalt-base; @asphalt-dark);
}

// New button style : .btn-flash
.btn-flash {
	.button-variant(#FFF; @emerald-base; @emerald-dark);
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
	background-position: 10px 50%;
	background-repeat: no-repeat;
	white-space: normal;
	// .text-left;
}
.icon-community {
	padding-left: 45px;
	background-image: url("../images/picto/picto_community_small.png");
}
.icon-user {
	padding-left: 35px;
	background-image: url("../images/picto/picto_user_small.png");
}

// New button style: btn-gray
.btn-gray {
	.button-variant(@darkerBlue; @gray-lighter; @gray-light2);
}

// New button style: btn-gray
.btn-flag {
	.button-variant(@asphalt-dark; @asphalt-light; @asphalt-base);
}

.btn-submission {
	.button-variant(#FFF; transparent; transparent);
	font-weight: bold;
	font-size: 1.25em;
}


.emh-block-normal {
	margin-bottom: 15px;

	&:last-of-type {
		margin-bottom: 0;
	}

	.block-title {
		.text-uppercase;
	}
	.content {
		border: 1px solid @gray-lighter;
		padding: 15px;
	}
}

.emh-block-light {
	.content {
		border: 0 !important;
		padding: 0 !important;
	}
}

.emh-block-dark {
	.content {
		border: 0 !important;
		color: #fff;
		background-color: @darkBlue;
		padding: 15px;
	}
}

.emh-block-dark-title {

	margin: 1.18em 0 0 !important;

	.block-title {
		.text-uppercase;
		.text-center;
		margin: 20px 0 10px;
		padding: 0 0 15px !important;
		font-size: 20px !important;
		font-weight: 700;
		color: @darkerBlue;
	}
	@media (min-width: @screen-md-min) {
		.block-title {
			span {
				margin-left: auto;
				margin-right: auto;
				background-color: #FFF;
				padding: 0 15px;
				display: inline-block;
				z-index: 1;
			}
			&:after {
				height: 1px;
				content: "";
				margin-top: -0.55em;
				background-color: @darkerBlue;
				display: block;
				width: 100%;
				z-index: 0;
			}
		}
	}
}

.emh-block-blue-title {
	h1, .h1, h2, .h2, h3, .h3 {
		margin-bottom: 15px;
		line-height: inherit;
		.block-title; // for possible use outside of block format
	}
	.block-title {
		color: @brand-primary;
		.text-uppercase;
		font-weight: 700;
		font-size: 16px;
		background-image: none;
	}
	@media (min-width: @screen-md-min) {
		.block-title {
			span {
				background-color: #FFF;
				display: inline-block;
				padding-right: 15px;
				z-index: 1;
			}
			&:after {
				height: 1px;
				content: "";
				background: @brand-primary;
				display: block;
				margin-top: -0.55em;
				width: 100%;
				z-index: 0;
			}
		}
	}
}
.emh-fieldgroup-blue-title {
	h2 {
		.make-md-column(12);
		padding: 15px 0 25px;
		margin: 0 0 15px;

		color: @brand-primary;
		.text-uppercase;
		background-color: #fff;
		background-image: none;
	}
	@media (min-width: @screen-md-min) {
		h2 {
			span {
				background-color: #FFF;
				display: inline-block;
				padding-right: 15px;
				z-index: 1;
			}
			&:after {
				height: 1px;
				content: "";
				background: @brand-primary;
				display: block;
				margin-top: -0.55em;
				width: 100%;
				z-index: 0;
			}
		}
	}
}

.emh-block-blue-title-big {
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 30px;
		margin-bottom: 15px;
		line-height: inherit;
		.block-title; // for possible use outside of block format
	}
	.block-title {
		.h4;
		color: @brand-primary;
		.text-uppercase;
		font-weight: 700;
	}
}

.emh-block-blue-main-title {

	h1, .h1, h2, .h2, h3, .h3 {
		.block-title; // for possible use outside of block format
	}

	.block-title {
		.emh-title-main;
		margin-top: 0;
		&:after {
			display: none;
		}
	}
}

.emh-block-grey {
	.content {
		// background-color: @gray-lighter;
		// border: 1px solid @gray-light2;
	}
}


.emh-block-gold {

	color: #fff;
	background-color: @expertYellow;

	a {
		color: inherit;
	}

	.block-title {
		.h2;
		.text-center;
		color: #fff;
		line-height: 1.3;
		padding: 15px;
		margin: 0;
		border-bottom: 1px solid #fff;
	}

	.content {
		border: 0 !important;
		margin: 0;
		padding: 15px;
		font-size: 16px;
	}

}


.emh-block-blue {
	.block-title,
	.content {
		background-color: @brand-primary;
		.text-center;
		color: #fff;
		padding-left: 15px;
		padding-right: 15px;
	}
	.block-title {
		margin: 0;
		.text-uppercase;
		font-size: 18px;
		font-weight: 700;
	}
}


/* STYLES
 * Textes
 */
.emh-title-main {
	.text-uppercase;
	// color: @brand-primary;
	font-size: 24px;
	border: 0;
	padding-top: 15px;
	padding-bottom: 10px;
	background-image: url("../images/page-title_border.png");
	background-repeat: no-repeat;
	background-position: bottom left;

	@media (min-width: @screen-md-min) {
		// padding-left: 15px;
		padding-rigth: 15px;
		// margin-top: -25px;
		// margin-bottom: 25px;
		// background-color: #fff;
		background-position: left 100%;
	}

	span {
		color: @brand-primary;
		display: inline-block;
	}

}

.emh-title-baseline {
	color: @brand-primary;
	margin-bottom: 0;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 20px;
}
header#title {
	.emh-title-baseline {
		color: #FFF;

	}
}


/* STYLES
 * Formulaires
 */
.form-group-col {
	.make-row();

	> * .form-group {
		margin-bottom: 0;
	}

	@media (min-width: @screen-md-min) {
		margin-left: 0;
		margin-right: 0;
		> * .form-group {
			margin-bottom: 0;
		}
	}
}
.form-group-2col {
	.form-group-col;

	> *:nth-child(1) {
		.make-md-column(6);
	}
	> *:nth-child(2) {
		.make-md-column(6);
	}

	@media (min-width: @screen-md-min) {
		> *:nth-child(1) {
			padding-left: 0;
			padding-right: 7.5px;
		}
		> *:nth-child(2) {
			padding-right: 0;
			padding-left: 7.5px;
		}
	}

}
.form-group-3col {
	.form-group-col;
		> *:nth-child(1) {
			.make-md-column(4);
		}
		> *:nth-child(2) {
			.make-md-column(4);
		}
		> *:nth-child(3) {
			.make-md-column(4);
		}
	@media (min-width: @screen-md-min) {
		> *:nth-child(1) {
			padding-left: 0;
			padding-right: 7.5px;
		}
		> *:nth-child(2) {
			padding-right: 0;
			padding-left: 0;
		}
		> *:nth-child(3) {
			padding-right: 0;
			padding-left: 7.5px;
		}
	}
}


.form-item-inline {
	@media (min-width: @screen-md-min) {
		margin-bottom: 0;

		label:first-of-type,
		.field-label {
			margin-bottom: 0;
			padding-left: 0;
			line-height: 34px;
		}
		.form-group {
			margin-bottom: 0;
		}
		> .form-control:first-of-type,
		.input-group:first-of-type,
		.field-items {
			vertical-align: middle;
			.make-row();
			margin-bottom: 0;
			padding-left: 0;
		}
	}
}
.form-item-inline-4-8 {
	@media (min-width: @screen-md-min) {
		.form-item-inline;
		label:first-of-type,
		.field-label {
			.make-md-column(4);
		}
		> .form-control:first-of-type,
		.input-group:first-of-type,
		.field-items {
			.make-md-column(8);
		}
	}
}
.form-item-inline-6-6 {
	@media (min-width: @screen-md-min) {
		.form-item-inline;
		label:first-of-type,
		.field-label {
			.make-md-column(6);
		}
		> .form-control:first-of-type,
		.input-group:first-of-type,
		.field-items {
			.make-md-column(6);
		}
	}
}
.form-item-inline-8-4 {
	@media (min-width: @screen-md-min) {
		.form-item-inline;
		label:first-of-type,
		.field-label {
			.make-md-column(8);
		}
		> .form-control:first-of-type,
		.input-group:first-of-type,
		.field-items {
			.make-md-column(4);
		}
	}
}
.form-item-inline-9-3 {
	@media (min-width: @screen-md-min) {
		.form-item-inline;
		label:first-of-type,
		.field-label {
			.make-md-column(9);
		}
		.form-control:first-of-type,
		.input-group:first-of-type,
		.field-items {
			.make-md-column(3);
		}
	}
}


.emh-badge-term {
	display: inline-block;
	margin-right: 10px;
	background-color: #fff;
	font-style: italic;
	padding: 7px 15px;
	.text-left;
}


.emh-block-slider {
	.content {
		padding: 15px 0;
	}
	// Bootstrap carrousel
	.carousel-inner {
		> .item {
			padding-left: 10%;
			padding-right: 10%;
		}
	}
}


.emh-more-link {
	.text-hide;
	&:before {
		content: '\002b';
		font-size: 20px;
		display: block;
		position: absolute;
		bottom: 10px;
		right: 0;
		width: 30px;
		height: 30px;
		line-height: 1;
		text-align: center;
		background-color: #fff;
		color: @brand-primary;
		border: 4px solid @brand-primary;
		border-radius: 100%;
	}
}

.panel.panel-default {
	> .panel-heading {
    color: @darkBlue;
		a {
			text-decoration: none;
		}
	}
	&.views-row-odd {
		> .panel-heading,
		> .panel-collapse {
	    background-color: #F5F5F5;
		}
	}
	&.views-row-even {
		> .panel-heading,
		> .panel-collapse {
	    background-color: #FFF;
		}
	}
}

.introduction {
  background-color: @darkerBlue;
  color: #fff;
  padding: 15px;
}


.emh-group {
	padding: 15px;
	margin-bottom: 15px;
	background-color: @lightGrey;
}


.emh-form-legend {
	.h4;
	padding: 0 0 5px;
	margin-bottom: 15px !important; // .overrides.css
	float: left;
	display: block;
	width: 100%;
	line-height: 1em;
	margin: 0;
	border-bottom: 1px solid @legend-border-color;
	text-transform: uppercase;
}

.emh-status-block {
	span {
		padding: 6px 12px;
	}
}
.emh-status {
	display: block;
	.text-center;
	.text-uppercase;
	font-weight: 700;
	color: #FFF;

	&.draft {
		background-color: @btn-warning-border;
	}
	&.open {
		background-color: #53d899;
	}
	&.selection {
		background-color: #01a7e5;
	}
	&.closed {
		background-color: #A1ACB5;
	}
}

// Progress-bar
.progress-bar-asphalt {
  .progress-bar-variant(@asphalt-base);
}
.progress-bar-inactive {
  .progress-bar-variant(@gray-light);
}
