hr {
	border-color: @gray-light;
}

img {
	max-width: 100%;
	height: auto;
}


.nav {
	> li > a,
	> li > span.dropdown-toggle {
		color: @blue-darker;

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}
}

.nav-justified > li.dropdown {
	text-align: center;
}
.nav-justified > li > span.dropdown-toggle {
	text-align: center;
	margin-bottom: 5px;
}

body.logged-in {
	.nav-tabs {
		&.tabs--primary {
			margin-bottom: 0;
			border-bottom: 0;
			text-transform: none;
			> li > a {
			  color: #FFF;
			}
			> li.active > a,
			> li.active > a:hover,
			> li.active > a:focus {
				color: @navbar-default-link-active-color;
			}
		}
	}
}


.nav-subtabs {
	.pagination;

	margin: 0;
	width: 100%;

	> li {
		display: block;
	}
	> li > a,
	> li > span {
    position: relative;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #009FE3;
    background-color: @body-bg;

		display: block;
		float: none;
		margin-left: 0;
		border: 0;
		border-bottom: 1px solid #DDD;
	}

	> .active > a,
	> .active > span,
	> .active > a:hover,
	> .active > span:hover,
	> .active > a:focus,
	> .active > span:focus {
    z-index: 3;
    color: #FFF;
    background-color: #009FE3;
    border-color: #009FE3;
    cursor: default;
	}
}

.navbar-emh {
	background-color: #fff;

	.navbar-toggle {
		// background-color: @gray-lighter;
		// border-color: @navbar-default-border;
		background-color: transparent;
		border-color: transparent;

		.icon-bar {
			background-color: #004769;
			width: 29px;
			height: 3px;
			&:nth-child(odd){
				right: 5px;
				top: 13px;
				position: absolute;
			}
			&:last-child{
				right: 8px;
				top: 21px;
				position: absolute;
			}
		}
	}
}

.navbar-emh-blue {
	a.dropdown-toggle {
		&:link,
		&:focus,
		&:active,
		&:hover {
			font-size: 12px;
			padding: 5px;
			text-decoration: none;
		}
	}
}


.navbar-emh-left {
	border: 0;
	text-transform: normal;
	> li > a:hover,
	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus {
		border: 0;
	}
	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus {
		font-weight: 700;
	}
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.light-blue-text, // OLD
.emh-blue {
	color: @brand-primary;
}


.emh-block-normal {
	margin-bottom: (@grid-gutter-width / 2);

	&:last-of-type {
		margin-bottom: 0;
	}

	.content {
		border: 1px solid @gray-lighter;
		padding: (@grid-gutter-width / 2);
	}
}

.emh-block-light {
	.content {
		border: 0 !important;
		padding: 0 !important;
	}
}

.emh-block-dark {
	.content {
		border: 0 !important;
		color: #fff;
		background-color: @blue-darker;
		padding: (@grid-gutter-width / 2);
	}
}

.emh-block-dark-title {

	margin: 1.18em 0 0 !important;

	.block-title {
		.text-center;
		margin: 20px 0 10px;
		padding: 0 0 (@grid-gutter-width / 2) !important;
		font-size: 20px !important;
		font-weight: 700;
		color: @blue-darker;
	}
	@media (min-width: @screen-md-min) {
		.block-title {
			span {
				margin-left: auto;
				margin-right: auto;
				background-color: @body-bg;
				padding: 0 (@grid-gutter-width / 2);
				display: inline-block;
				z-index: 1;
			}
			&:after {
				height: 1px;
				content: "";
				margin-top: -0.55em;
				background-color: @blue-darker;
				display: block;
				width: 100%;
				z-index: 0;
			}
		}
	}
}

.emh-block-blue-title {
	> h1, > .h1, > h2, > .h2, > h3, > .h3 {
		margin-bottom: (@grid-gutter-width / 2);
		line-height: inherit;
		.block-title; // for possible use outside of block format
	}
	.block-title {
		color: @brand-primary;
		font-weight: 700;
		font-size: 16px;
		background-image: none;

		span {
			background-color: @body-bg;
			display: inline-block;
			padding-right: (@grid-gutter-width / 2);
			z-index: 1;
		}
		&:after {
			height: 1px;
			content: "";
			background: @brand-primary;
			display: block;
			margin-top: -0.55em;
			width: 100%;
			z-index: 0;
		}
	}
}
.emh-fieldgroup-blue-title {
	h2 {
		.make-md-column(12);
		padding: (@grid-gutter-width / 2) 0 25px;
		margin: 0 0 (@grid-gutter-width / 2);

		color: @brand-primary;
		background-color: @body-bg;
		background-image: none;
	}
	@media (min-width: @screen-md-min) {
		h2 {
			span {
				background-color: @body-bg;
				display: inline-block;
				padding-right: (@grid-gutter-width / 2);
				z-index: 1;
			}
			&:after {
				height: 1px;
				content: "";
				background: @brand-primary;
				display: block;
				margin-top: -0.55em;
				width: 100%;
				z-index: 0;
			}
		}
	}
}

.emh-block-blue-title-big {
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: @grid-gutter-width;
		margin-bottom: (@grid-gutter-width / 2);
		line-height: inherit;
		.block-title; // for possible use outside of block format
	}
	.block-title {
		.h4;
		color: @brand-primary;
		font-weight: 700;
	}
}

.emh-block-blue-main-title {

	h1, .h1, h2, .h2, h3, .h3 {
		.block-title; // for possible use outside of block format
	}

	.block-title {
		.emh-title-main;
		margin-top: 0;
		&:after {
			display: none;
		}
	}
}

.emh-block-grey {
	.content {
		// background-color: @gray-lighter;
		// border: 1px solid @gray-light2;
	}
}

// NOT USED ANYMORE ?
.emh-block-gold {

	color: #fff;
	background-color: @golden-base;

	a {
		color: inherit;
	}

	.block-title {
		.h2;
		.text-center;
		color: #fff;
		line-height: 1.3;
		padding: (@grid-gutter-width / 2);
		margin: 0;
		border-bottom: 1px solid #fff;
	}

	.content {
		border: 0 !important;
		margin: 0;
		padding: (@grid-gutter-width / 2);
		font-size: 16px;
	}

}


.emh-block-blue {
	.block-title,
	.content {
		background-color: @brand-primary;
		.text-center;
		color: #fff;
		padding-left: (@grid-gutter-width / 2);
		padding-right: (@grid-gutter-width / 2);
	}
	.block-title {
		margin: 0;
		font-size: 18px;
		font-weight: 700;
	}
}


/* STYLES
 * Textes
 */
.emh-title-main {
	font-size: 24px;
	border: 0;
	padding: 0;
	display: inline-block;
	line-height: 1.5;

	@media (min-width: @screen-md-min) {
		padding-right: (@grid-gutter-width / 2);
	}

	span {
		color: @brand-primary;
		display: inline-block;
	}

}

.emh-title-baseline {
	.emh-module;
	.emh-subtitle;
	margin-bottom: @grid-gutter-width;
}
header#title {
	.emh-title-baseline {
		color: #FFF;
	}
}


/* STYLES
 * Formulaires
 */
.form-group-col {
	.make-row();
  clear: both;

	> * .form-group {
		margin-bottom: 0;
	}

	@media (min-width: @screen-md-min) {
		margin-left: 0;
		margin-right: 0;
		> * .form-group {
			margin-bottom: 0;
		}
	}
}
.form-group-2col {
	.form-group-col;

	> *:nth-child(1) {
		.make-md-column(6);
	}
	> *:nth-child(2) {
		.make-md-column(6);
	}

	@media (min-width: @screen-md-min) {
		> *:nth-child(1) {
			// padding-left: 0;
			padding-right: 7.5px;
		}
		> *:nth-child(2) {
			// padding-right: 0;
			padding-left: 7.5px;
		}
	}

}
.form-group-3col {
	.form-group-col;

		> *:nth-child(1) {
			.make-md-column(4);
		}
		> *:nth-child(2) {
			.make-md-column(4);
		}
		> *:nth-child(3) {
			.make-md-column(4);
		}
	@media (min-width: @screen-md-min) {
		> *:nth-child(1) {
			padding-right: 7.5px;
		}
		> *:nth-child(2) {
			padding-right: 0;
			padding-left: 0;
		}
		> *:nth-child(3) {
			padding-left: 7.5px;
		}
	}
}
.form-group-4col {
	.form-group-col;

		> div {
			.make-md-column(3);
		}
	@media (min-width: @screen-md-min) {
		> *:nth-child(1) {
			padding-right: 7.5px;
		}
		> *:nth-child(2) {
			padding-right: 7.5px;
			padding-left: 7.5px;
		}
		> *:nth-child(3) {
			padding-right: 7.5px;
			padding-left: 7.5px;
		}
		> *:nth-child(4) {
			padding-left: 7.5px;
		}
	}
}


.form-item-inline {
	@media (min-width: @screen-md-min) {
		margin-bottom: 0;

		label:first-of-type,
		.field-label {
			margin-bottom: 0;
			padding-left: 0;
			line-height: 34px;
		}
		.form-group {
			margin-bottom: 0;
		}
		> .form-control:first-of-type,
		.input-group:first-of-type,
		.field-items {
			vertical-align: middle;
			.make-row();
			margin-bottom: 0;
			padding-left: 0;
		}
	}
}
.form-item-inline-4-8 {
	@media (min-width: @screen-md-min) {
		.form-item-inline;
		label:first-of-type,
		.field-label {
			.make-md-column(4);
		}
		> .form-control:first-of-type,
		.input-group:first-of-type,
		.field-items {
			.make-md-column(8);
		}
	}
}
.form-item-inline-6-6 {
	@media (min-width: @screen-md-min) {
		.form-item-inline;
		label:first-of-type,
		.field-label {
			.make-md-column(6);
		}
		> .form-control:first-of-type,
		.input-group:first-of-type,
		.field-items {
			.make-md-column(6);
		}
	}
}
.form-item-inline-8-4 {
	@media (min-width: @screen-md-min) {
		.form-item-inline;
		label:first-of-type,
		.field-label {
			.make-md-column(8);
		}
		> .form-control:first-of-type,
		.input-group:first-of-type,
		.field-items {
			.make-md-column(4);
		}
	}
}
.form-item-inline-9-3 {
	@media (min-width: @screen-md-min) {
		.form-item-inline;
		label:first-of-type,
		.field-label {
			.make-md-column(9);
		}
		.form-control:first-of-type,
		.input-group:first-of-type,
		.field-items {
			.make-md-column(3);
		}
	}
}

.emh-badge-term {
  display: inline-block;
  margin-right: 10px;
  padding: 7px 0;
  line-height: @emh-five-stars-width;
  .text-left;
}

.emh-badge-term-inactive {
  font-style: italic;
  border: 1px solid @body-bg;
  border-radius: @btn-border-radius-small;
}

.emh-block-slider {
	.content {
		padding: (@grid-gutter-width / 2) 0;
	}
	// Bootstrap carrousel
	.carousel-inner {
		> .item {
			padding-left: 10%;
			padding-right: 10%;
		}
	}
}


.emh-more-link {
	.text-hide;
	&:before {
		content: '\002b';
		font-size: 20px;
		display: block;
		position: absolute;
		bottom: 10px;
		right: 0;
		width: 30px;
		height: 30px;
		line-height: 1;
		text-align: center;
		background-color: @body-bg;
		color: @brand-primary;
		border: 4px solid @brand-primary;
		border-radius: 100%;
	}
}

.panel.panel-default {
	> .panel-heading {
    color: @blue-darker;
		a {
			text-decoration: none;
		}
	}
	&.views-row-odd {
		> .panel-heading,
		> .panel-collapse {
	    background-color: #F5F5F5;
		}
	}
	&.views-row-even {
		> .panel-heading,
		> .panel-collapse {
	    background-color: @body-bg;
		}
	}
}

.introduction {
  background-color: @blue-darker;
  color: #fff;
  padding: (@grid-gutter-width / 2);
}


.emh-group {
	padding: (@grid-gutter-width / 2);
	margin-bottom: (@grid-gutter-width / 2);
	background-color: @gray-lighter;
}


.emh-form-legend {
	padding: 0 0 5px;
	margin-bottom: (@grid-gutter-width / 2) !important; // .overrides.css
	float: left;
	display: block;
	width: 100%;
	line-height: 1em;
	margin: 0;
	border-bottom: 1px solid @legend-border-color;
}

.emh-status-block {
	span {
		padding: 6px 12px;
	}
}
.emh-status {
	display: block;
	.text-center;
	font-weight: 700;
	color: #FFF;

	&.draft {
		background-color: @progress-bar-warning-bg;
	}
	&.open {
		background-color: @progress-bar-success-bg;
	}
	&.expired {
		background-color: @gray-light2;
	}
	&.closed {
		background-color: #A1ACB5;
	}
}

// Progress-bar
.progress-bar-asphalt {
  .progress-bar-variant(@blue-base);
}
.progress-bar-inactive {
  .progress-bar-variant(@gray-light2);
}


.emh-form-h2 {
	border: 0;
	text-transform: none;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0;
	margin: 0;
	line-height: 25px;
	&:before {
		content: "";
		display: inline-block;
		margin-right: (@grid-gutter-width / 2);
		width: 25px;
		height: 25px;
		border: 3px solid @brand-primary;
		border-radius: 50%;
		color: @brand-primary;
		font-size: 12px;
		.text-center;
		line-height: 18px;

		position: absolute;
		left: -40px;
		@media (max-width: @screen-lg-min) {
			position: relative;
			left: auto;
		}
	}
}

.emh-title-image {
  .make-md-column(12);

  > span {
    margin-left: 10px;
  }
}

.emh-submission-row {
  background-color: @body-bg-inverse;
  padding: (@grid-gutter-width / 2);
}

.emh-submission-status {
  .label;
  .pull-right;

  &.draft {
    .label-warning;
  }
  &.published {
    .label-success;
  }
}

.emh-submission-answer {
  line-height: @line-height-base * @line-height-base;
  padding-top: 5px + 5px + 1px;
  padding-bottom: 5px + 5px + 1px;
  background-color: white;
  border: 1px solid white;
}
.emh-submission-answer,
.emh-submission-answer * {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.emh-submission-answer-conversation {
  position: relative;
  background-color: @body-bg;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    transform: translateY(50%) translateX(-50%) rotate(135deg) ;
    background-color: @body-bg;
    width: 19px;
    height: 19px;
    border: 1px solid @body-bg;
  }
}

.submission-draft {
  border-color: @brand-warning !important;

  &:after {
    border-bottom-color: @brand-warning !important;
    border-right-color: @brand-warning !important;
  }
}

.submission-published {
  border-color: @brand-success !important;

  &:after {
    border-bottom-color: @brand-success !important;
    border-right-color: @brand-success !important;
  }
}

.emh-submission-comment-answer {
  font-style: italic;
  line-height: @line-height-base * @line-height-base;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.emh-submission-flags {
  background-color: #FFF;
  line-height: @line-height-base * @line-height-base;
  .pull-right;

  > span {
    display: block;
    border: 1px solid @gray-lighter;
    border-left-color: @orange;
    border-left-width: 5px;
    padding: 10px;
    margin-bottom: (@grid-gutter-width / 2);
  }
}

.emh-submission-flag-description {
  .emh-button-helpful-active; .btn-sm;
}

.emh-submission-date {
  color: @gray-light;
}

.emh-year-of-experiences {
  .field-item {
    .emh-badge-term;
    width: 50px;
    .text-right;
  }
}
