// Bootstrap titles
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	white-space: normal;
}
h2, .h2 {
	color: @blue-darker;
}
h3, .h3 {
	font-size: 18px;
	color: @cello;
}
h4, .h4 {
	font-size: 16px;
}

.container {
  @media (min-width: @screen-md-min) {
    width: auto;
  }
	@media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

// Bootstrap navbar
.nav > li > span.dropdown-toggle {
	cursor: pointer;
	line-height: 20px;
	position: relative;
	display: block;
}
.nav > li > a,
.nav > li > span.dropdown-toggle {
	// padding: (@grid-gutter-width / 2) 20px;
}
.nav-tabs > li > a {
	padding: 10px (@grid-gutter-width / 2);
}
.navbar {
	margin-bottom: 0;
}


.icon-prev,
.icon-next {
	&:before {
		border-radius: 100%;
		background-color: @blue-dark;
		width: 20px;
		height: 20px;
		display: block;
	}
}
@media screen and (min-width: @screen-md-min) {
  .carousel-control {
    .glyphicon-chevron-left,
    .glyphicon-chevron-right,
    .icon-prev,
    .icon-next {
			width: 20px;
			height: 20px;
      font-size: @carousel-control-font-size;
			margin-top: -10px;
    }
		.glyphicon-chevron-left,
    .icon-prev {
      margin-left: -10px;
    }
    .glyphicon-chevron-right,
    .icon-next {
      margin-right: -10px;
    }
	}
}


// Lightbox
#cboxOverlay {
	opacity: 0.6 !important;
}

// Autocomplete Deluxe
ul.ui-autocomplete {
	.dropdown-menu;
	width: auto;
	a {
		cursor: pointer;
	}
}
.form-type-autocomplete-deluxe label {
	display: block;
}
.autocomplete-deluxe-container {
	.form-control;
	display: inline-block; // Tip for regular input height
	max-width: 260px;
	height: auto;
}
.autocomplete-deluxe-item {
	position: relative;
	margin: 0 5px 3px 0;
	padding: 3px 20px 3px 5px;
	border: 1px solid @input-border;
	border-radius: 3px;
	background-color: @input-bg;
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-clip: padding-box;
	box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	float: left;
	color: @input-color;
	line-height: 13px;
	cursor: default;

	.autocomplete-deluxe-item-delete {
		position: absolute;
		top: 4px;
		right: 3px;
		display: block;
		width: 12px;
		height: 12px;
		background: url('../../../libraries/chosen/chosen-sprite.png') -42px 1px no-repeat;
		font-size: 1px;
		cursor: pointer;
	}
}
input#autocomplete-deluxe-input {
	width: 50px;
	background-color: transparent;
	height: auto;
	padding: 0;
	border: 0;
	box-shadow: none;
	float: left;
}


// Tooltip
.tooltip {
	font-size: @font-size-base;
}

// Badges
.badge.help-tip {
	margin-top: -3px;
}


// Forms
span.form-required {
	color: @brand-danger;
}
.form-control:not(textarea),
.input-group:not(.file-widget) {
	width: 100%;
	max-width: 260px;
}

// Node edit case
body.page-node-edit {
	.form-textarea-wrapper.resizable-textarea {
		max-width: auto !important;
	}
}

.views-exposed-form {
	.views-exposed-widgets {
		> .views-submit-button,
		> .views-reset-button {
      float: left;
		}
		> .views-reset-button {
      margin-left: (@grid-gutter-width / 2);
		}

    @media (max-width: @screen-md-min) {
      margin-bottom: (@grid-gutter-width / 2);
    }
	}
}

// Bootstrap
// Forcer le odd/even sur les lignes de tableau
table.views-table {
	.table-striped;
	.table-hover;
}
.table-striped {
	> tbody > tr:nth-of-type(even) {
		background-color: @body-bg-inverse;
	}
}


/* Better exposed filters
 * */
.bef-select-as-checkboxes {
	.make-row();
	a.bef-toggle {
		.make-md-column(3);
		float: right !important;
	}
	.bef-checkboxes {
		.make-md-column(9);
		.make-row();
		margin-left: 0;
		margin-right: 0;
		.form-group {
			.make-md-column(4);
			padding-left: 0;
			label {
				padding-left: 5px;
			}
		}
	}
}


/* jQuery UI
 * */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background-color: @dropdown-link-hover-bg;
	color: @dropdown-link-hover-color;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: @dropdown-link-hover-color;
}


/* Chosen
 * */
.chosen-container,
.form-control.chosen-container {
	background-color: transparent;
	padding: 0;
	border: 0;
	width: 100% !important; // inline info
	.input-group;
	display: table !important; // chosen.css
}
.chosen-container-single .chosen-single {
	.form-control;
}
.chosen-container-single .chosen-single div,
.chosen-container-active.chosen-with-drop .chosen-single div {
	width: auto;
	b {
		.glyphicon;
		.glyphicon-triangle-bottom;
		padding: 6px 12px;
		background: @gray-lighter;
		border: 1px solid @gray-lighter;
		top: 0;
	}
}
.chosen-container-multi .chosen-choices {
	.form-control;
	padding-bottom: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
	margin: 0 5px 6px 0;
}
.chosen-container-multi .chosen-choices li.search-field {
	margin: 0 5px 6px 0;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin: 0;
	padding: 0;
	height: 21px;
	font-size: @font-size-base;
	line-height: @line-height-base;
	font-style: italic;
	font-family: @font-family-sans-serif;
}
.chosen-container .chosen-results li.highlighted {
	background-color: @brand-primary;
	background-image: none;
}

.form-disabled {
  *[disabled],
  .form-control,
  .autocomplete-deluxe-container,
  .chosen-choices {
    cursor: @cursor-disabled;
    background-color: @input-bg-disabled;
    opacity: 1 !important; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }
}


/*
 * Module EU cookie compliance
 */
#sliding-popup {
	display: block;
	margin: 0;
	padding: 0px;
	right: 0;
	text-align: center;
	width: 100%;
	z-index: 99999;
}
.sliding-popup-bottom {
	background: @blue-dark;
	position: fixed;
}

.sliding-popup-top {
	background-color: @blue-dark;
	position: relative;
}

#sliding-popup .popup-content {
	background-color: transparent;
	border: 0 none;
	display: block;
	margin: 0 auto;
	padding: 0;
	max-width: 80%;
}

#sliding-popup .popup-content #popup-buttons {
	float: right;
	margin: 0;
	max-width: 40%;
}

#sliding-popup .popup-content #popup-buttons button {
	margin-right: 5px;
  margin-top: 1em;
	.btn;
	&.agree-button {
		.btn-submit;
	}
	&.find-more-button {
		.btn-primary;
	}
}

#sliding-popup .popup-content #popup-text {
	color: #fff;
	float: left;
	font-weight: bold;
	margin: 5px 0;
	text-align: left;
	max-width: 60%;
}

#sliding-popup .popup-content #popup-text h2,
#sliding-popup .popup-content #popup-text p {
	color: #fff;
	display: block;
	font-size: 16px;
	line-height: 1.4;
	margin: 0 0 5px 0;
}

#sliding-popup .popup-content #popup-text p {
	font-size: 14px;
}

@media screen and (max-width: 600px) {
	#sliding-popup .popup-content {
		max-width: 95%;
	}

	#sliding-popup .popup-content #popup-text {
		max-width: 100%;
	}

	#sliding-popup .popup-content #popup-buttons {
		float: none;
		margin: 5px 0;
		max-width: 100%;
	}
	#sliding-popup .popup-content #popup-buttons button {
		margin-bottom: 1em;
	}
}


/*
 * FORMS
 * Errors
 */
input.error,
.chosen-container.error .chosen-choices,
.chosen-container.error .chosen-single {
  color: @state-danger-text;
	border-color: @state-danger-text;
	background-color: @state-danger-bg;
}




// TODO: hide this in PHP !
div.password-strength,
div.password-help,
div.password-confirm,
.form-type-password .progress,
.form-type-password .label-danger,
.form-type-password .glyphicon {
  .text-hide;
  display: none !important;
}


// Links
// .list-inline > li {
// 	> a {
// 		.btn;
// 		.btn-default;
// 	}
// 	&.edit_link,
// 	&.answers_link {
// 		> a {
// 			.btn-submit;
// 		}
// 	}
//
// 	&.comment-delete {
// 		> a {
// 			.btn-danger;
// 		}
// 	}
//
// 	a.flag {
// 		.btn-submit;
// 	}
// }


// Contextual links
html.js div.contextual-links-wrapper {
	position: absolute !important;
  float: none !important;
  width: auto !important;
}


// Form actions
.form-actions {
	.btn-toolbar;
	.make-row();
	> .btn-group {
		.make-md-column(6);
		margin-left: 0;

		&.btn-group-primary {
			.text-right;
			> .btn {
				float: none;
			}
			> .btn:last-child {
			  margin-right: 0;
			}
		}

	}
}
.btn-group {
	a {
		.btn;
		&#edit-cancel {
			.btn-default;
		}
	}
}

#user-register-form-expert .form-actions > .btn-group.btn-group-primary,
#user-register-form-client .form-actions > .btn-group.btn-group-primary,
#edit-actions .btn-group.btn-group-primary {
  text-align: center !important;
}

.jumbotron {
	margin-top: @jumbotron-padding;
	.text-center;
  .block-title {
    color: @jumbotron-heading-color;
		margin-top: 0;
		text-transform: none;
  }
	a {
		color: #FFF;
		font-weight: bold;
	}
	form {
		.text-left;
	}
	@media screen and (min-width: @screen-md-min) {
    .block-title {
      font-size: @jumbotron-heading-font-size;
    }
  }
}
