.footer {
  .emh-module;
  background-color: @brand-primary;
  color: #fff;
  padding-top: @grid-gutter-width;
  padding-bottom: @grid-gutter-width;

  a,
  .nav > li > a {
    color: #fff;
  }

  .nav {
    .make-row();

    li {
      .make-sm-column(6);

      @media (max-width: @screen-xs-max) {
          font-size: @font-size-base;
      }
    }
  }
  .nav > li > a {
    padding: @padding-xs-vertical @padding-xs-horizontal;

    @media (max-width: @screen-xs-max) {
        padding: @padding-base-vertical @padding-base-horizontal;
    }
  }

  h4 {
    color: inherit;
    margin-top: 0;
    font-weight: 600;
  }

  hr {
    border-color: @sky-blue;
  }

  .footer-logo {
    .make-sm-column(3);
    font-size: 13px;
    font-weight: 600;
    .text-uppercase;

    img {
      max-width: 250px;
    }
    span {
      display: block;
    }
  }
  .footer-nav {
    .make-sm-column(4);
  }
  .footer-contact {
    .make-sm-column(3);
    .make-md-column(2);
  }
  .footer-social {
    .make-sm-column(2);

    .social-network {
  		width: 35px;
  		height: 35px;
      > img {
        border: 1px solid @sky-blue;
      }
  	}
  }
  .footer-credits {
      .text-center;
      color: @cloud;
  }

  @media (max-width: @screen-xs-max) {
    * {
        .text-center;
    }
    .footer-logo,
    .footer-nav,
    .footer-contact,
    .footer-social {
        margin-bottom: @grid-gutter-width;
    }
  }
}
