.region-burgermenu {
  display: none;
  background-color: #2E3243;
  .box-shadow(0 0 5px 5px rgba(50,50,50,.075));
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  color: #2E3243;
  overflow-y: auto;
  z-index: 1105;
  padding: 15px;

  .global-filter {
    color: #AFB4CD;
    .form-group {
      margin-bottom: 5px;
    }
  }
}
body.admin-menu {
  .region-burgermenu {
    padding-top: 15px + 29px;
  }
}

.footer {
  margin-top: 0;
  nav {
    a {
      font-weight: bold;
      color: #4C6172;
    }
  }
}

.region-footer {
  #block-menu-menu-footer-menu,
  #block-menu-menu-networks {
    .nav {
      > li {
        a {
          font-weight: 700;
          font-size: 14px;

          &#link-LinkedIn {
            padding-left: 35px;
            background: transparent url("../images/linkedinMini.png") no-repeat center left;
          }
        }
      }
    }
  }
}
