@media (min-width: @screen-md-min) {
	body {
		&.not-logged-in {
			padding-top: 110px;
			&.front {
				padding-top: 100px;
			}
		}
		&.logged-in {
			padding-top: 56px;
		}
	}

	header#navbar {
		.navbar-fixed-top;
    .col-md-4 {
      padding-left: 0;
    }
	}
}

@media (min-width: @screen-md-min) {
	html body.admin-menu {
		margin-top: 0 !important;
		padding-top: 88px;
		header#navbar {
			margin-top: 28px;
		}
	}
}

.region-topmenu {
	> * {
		padding: 0 !important;
	}
}

/* HEADER
 * Light version
 */
.logged-in {
	header#title {
		padding-top: 15px;
	}
	.logo {
		img {
			max-height: 51px;
		}
	}
	@media (min-width: @screen-md-min) {

		header#navbar {
			.row {
				> div:nth-child(1) {
					padding-right: 0;
				}
				> div:nth-child(2) {
					padding-left: 0;
				}
			}
			#block-system-user-menu .nav > li > span span.caret {
		    top: 22px;
			}

			.region-navigation .nav > li > a.active,
			.region-navigation .nav > li > span.dropdown-toggle.active {
		    background-image: none;
			}

			&.navbar-emh {
				&:after {
					height: 5px;
				}
			}
		}
	}
}

@media (min-width: @screen-md-min) {
	.region-navigation > * {
		padding: 0 !important;
	}
}


/* HEADER
 * Burgermenu
 */
.burger-menu-btn-container {
	position: absolute;
	margin-left: -50px;
	margin-top: 8px;
}


/* HEADER
 * Logo
 */
.navbar .logo {
	.text-center;
	margin: 0 !important;
	padding-left: 0;
	padding-right: 0;
	img {
		.img-responsive;
	}
}
@media (min-width: @screen-md-min) {
	body.not-logged-in {
		.logo {
			.text-left;
			img {
				max-height: 78px;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}
}


/* HEADER
 * Login
 */
#block-user-login .nav > li {
	display: inline-block;
}
@media (max-width: @screen-md-min) {
	.not-logged-in {
		#block-user-login {
			.nav {
				width: 100%;
				padding: 0;
				.text-center;
				> li {
					float: none;
				}
			}
		}
	}
}
.popover {
	&.signUp {
		h4 {
			.text-uppercase;
			font-weight: 700;
			span {
				display: block;
			}
		}
		.btn {
			display: block;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	ul {
		margin: 10px 0 0;
		padding: 0;
		list-style: none;
		a {
			font-style: italic;
			color: #FFF;
		}
	}

	.hybridauth-widget-wrapper {
		clear: both;
		h3 {
			.text-hide;
			margin: 0;
		}
		ul {
			border-top: 1px solid @darkerBlue;
			a {
				padding: 10px 0;
				border-bottom: 1px solid @darkerBlue;
				display: block;
				&[data-hybridauth-provider="LinkedIn"] {
					&:after {
						content: "Log in with LinkedIn";
						margin-left: 10px;
					}
				}
			}
		}
	}
}
body.lang-fr {
	.popover {
		.hybridauth-widget-wrapper {
			ul {
				a {
					&[data-hybridauth-provider="LinkedIn"] {
						&:after {
							content: "Connectez-vous avec LinkedIn";
						}
					}
				}
			}
		}
	}
}

/* HEADER
 * User menu
 */
#block-system-user-menu {
	.badge {
		font-size: .85em;
	}
}

/* HEADER
 * Navigation
 */
header nav.navbar {
	margin-bottom: 0;
	border: 0;
	.navbar-collapse.in {
	  overflow: hidden !important;
	}

	// Active
	.nav > li.active,
	.nav > li.active-trail {
		> a,
		> span.dropdown-toggle {
			color: @brand-primary;
		}
	}

	.nav > li > a,
	.nav > li > span.dropdown-toggle {
		text-align: left;
		font-size: 1.1em;
	}
	.nav > li > a,
	.nav > li > span.dropdown-toggle {
		cursor: pointer;
		padding-left: 20px;
		padding-right: 20px;
	}
	.nav {
		.open,
		.open.active,
		.open.active-trail {
			> a,
			> a:hover,
			> a:focus,
			> span.dropdown-toggle,
			> span.dropdown-toggle:hover,
			> span.dropdown-toggle:focus {
		    background-color: @brand-primary;
		    color: #FFF;
			}
		}
	}

	.block-menu {
		.dropdown-menu {
			border: 0;
			background-color: @brand-primary;
			padding: 0;
			box-shadow: none;
			> li > a {
				color: #FFF;
				padding: 5px 20px;
			}
		}
	}

}


/* HEADER
 * Banner
 */
header#page-header {
	background-color: #FFF;
}
