@media (min-width: @screen-md-min) {
  nav#main-nav {
		.navbar-fixed-top;
    border-bottom: 1px solid @navbar-default-border;
	}

	body {
		padding-top: @navbar-height + 1px;

		&.logged-in.admin-menu {
      nav#main-nav {
        top: 29px;
      }
		}
	}
}

/* HEADER
 * User menu
 */
#system-user-menu {
	.nav {
		text-transform: none;
		> li > a,
		> li > span {
			color: @blue-base;
			cursor: pointer;
		}
		> li.open > span,
		> li.open > span * {
			color: #FFF;
		}
	}

  .nav > li.last.leaf > a {
		padding-right: 0 !important;
		padding-left: 5px !important;
	}

  .badge {
    font-size: .85em;
    background-color: @color-secondary;
  }

	@media (min-width: @screen-md-min) {
    border-left: 1px solid @gray-lighter;
    
		.nav {
			float: right;

      > li > span {
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 250px;
			}
		}
	}
}

/* HEADER
 * Navigation
 */
body.not-logged-in {
  nav#main-nav {
  	.emh-module;
  }
}

nav#main-nav {
	margin-bottom: 0;
	font-weight: 600;

	// Active
	.nav > li.active,
	.nav > li.active-trail {
		> a,
		> span.dropdown-toggle {
			color: @brand-primary;
		}
	}

	.nav > li > a,
	.nav > li > span.dropdown-toggle {
		.text-left;
		cursor: pointer;
	}

	.nav {
		.open,
		.open.active,
		.open.active-trail {
			> a,
			> a:hover,
			> a:focus,
			> span.dropdown-toggle,
			> span.dropdown-toggle:hover,
			> span.dropdown-toggle:focus {
		    background-color: @brand-primary;
		    color: #FFF;
			}
		}
	}

	.dropdown-menu {
		border: 0;
		background-color: @brand-primary;
		padding: 0;
		box-shadow: none;
		> li > a {
			color: #FFF;
			padding: 5px 20px;
		}
	}

  .nav > li {
    &#create-request {
      > a {
        .btn;
        .button-variant(@blue-darker; transparent; @blue-darker);
        margin-top: @navbar-padding-vertical - @padding-base-vertical - 1px;
        margin-bottom: @navbar-padding-vertical - @padding-base-vertical - 1px;
        margin-left: @navbar-padding-vertical;
        margin-right: @navbar-padding-vertical;
        font-weight: bold;
      }
    }
  }
}

/* HEADER
 * Banner
 */
header#page-header {
	background-color: #FFF;
}

#bootstrap-languages-language {
  .btn-group {
    .btn {
      margin: 0;
    }

    a {
      .text-left;
    }
  }

  .btn,
  .dropdown-menu > li > a {
    padding: @navbar-padding-vertical @navbar-padding-horizontal;
    background-color: transparent;
    border: 0;
  }

  .btn.btn-sm > .lang-sm,
  .btn.btn-sm > .lang-sm:after {
    top: 4px;
  }

  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover {
    color: @text-color;
  }
}

#menu-menu-top-anonymous {
	&.nav > li > a,
	&.nav > li > span.dropdown-toggle {
		.text-uppercase;
	}
}

#menu-user-login {
	.navbar-text {
		color: @pattens-blue;
	}
}
