@media (min-width: @screen-md-min) {
	body {
		&.not-logged-in {
			padding-top: 81px;

			.emh-brand {
				min-height: 80px;
				display: inline-block;
				vertical-align: middle;
			}
		}
		&.logged-in {
			padding-top: 56px;
		}
	}

	header#navbar {
		.navbar-fixed-top;
	}
}

@media (min-width: @screen-md-min) {
	html body.admin-menu {
		margin-top: 0 !important;
		padding-top: 88px;
		header#navbar {
			margin-top: 28px;
		}
	}
}

/* HEADER
 * Light version
 */
.logged-in {
	header#title {
		padding-top: 15px;
	}
	.logo {
		img {
			max-height: 51px;
		}
	}
	@media (min-width: @screen-md-min) {

		header#navbar {
			.row {
				> div:nth-child(1) {
					padding-right: 0;
				}
				> div:nth-child(2) {
					padding-left: 0;
				}
			}
			#block-system-user-menu .nav > li > span span.caret {
		    top: 22px;
			}

			.region-navigation .nav > li > a.active,
			.region-navigation .nav > li > span.dropdown-toggle.active {
		    background-image: none;
			}

			&.navbar-emh {
				&:after {
					height: 5px;
				}
			}
		}
	}
}

/* HEADER
 * Logo
 */
.navbar .logo {
	img {
		.img-responsive;
	}
}

/* HEADER
 * User menu
 */
#block-system-user-menu {
	.badge {
		font-size: .85em;
	}
}

/* HEADER
 * Navigation
 */
header nav.navbar {
	margin-bottom: 0;
	border: 0;

	.emh-module;
	font-weight: 600;

	.navbar-collapse.in {
	  overflow: hidden !important;
	}

	// Active
	.nav > li.active,
	.nav > li.active-trail {
		> a,
		> span.dropdown-toggle {
			color: @brand-primary;
		}
	}

	.nav > li > a,
	.nav > li > span.dropdown-toggle {
		.text-left;
		cursor: pointer;
	}
	.nav {
		.open,
		.open.active,
		.open.active-trail {
			> a,
			> a:hover,
			> a:focus,
			> span.dropdown-toggle,
			> span.dropdown-toggle:hover,
			> span.dropdown-toggle:focus {
		    background-color: @brand-primary;
		    color: #FFF;
			}
		}
	}

	.block-menu {
		.dropdown-menu {
			border: 0;
			background-color: @brand-primary;
			padding: 0;
			box-shadow: none;
			> li > a {
				color: #FFF;
				padding: 5px 20px;
			}
		}
	}

}

/* HEADER
 * Banner
 */
header#page-header {
	background-color: #FFF;
}

#block-user-login {
	.make-md-column(4);

	.navbar-text {
		color: @pattens-blue;
	}
}
#block-menu-menu-top-anonymous {
	.make-md-column(8);

	.nav > li > a,
	.nav > li > span.dropdown-toggle {
		.text-uppercase;
	}
}
#block-bootstrap-languages-language {
	.make-xs-column(12);
	.make-md-column(1);
	.nav {
		float: right;
	}
}
body.not-logged-in {
	#block-bootstrap-languages-language {
		.make-md-column-offset(11);
	}
}
body.logged-in {
	#block-bootstrap-languages-language {
		.make-md-column-push(11);
	}
	#block-menu-menu-top {
		.make-sm-column(6);
		.make-md-column-pull(1);
	}
	#block-system-user-menu {
		.make-sm-column(6);
		.make-md-column-pull(1);
	}
}
