
/* FIELD Tags */
.field-name-field-tags {
  label {
    float: left;
  }

  @media (max-width: @screen-md) {
    width: 100%;

    .autocomplete-deluxe-container {
      width: 100%;
    }
  }

}
// .form-item-field-tags-und {
// 	margin: 0;
// 	margin-top: 0.5em;
// }
