

@state-success-text:   white;
@state-success-bg:     @softBlue;
@state-success-border: transparent;

@state-warning-text:   @darkBlue;
@state-warning-bg:     @lightYellow;
@state-warning-border: transparent;

@state-danger-text:    white;
@state-danger-bg:      @expertYellow;
@state-danger-border:  transparent;

/**
 * @file
 * Styles for system messages.
 */

div.messages {
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 0;
  margin: 6px 0;
  padding: 10px; /* LTR */
  padding-left: 130px;
  position: relative;
  .drupal-message {
    background: #4c6172;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 120px;
  }
}
.form-item .messages {
  padding-left: 10px;
}

div.status {
  background-image: none;
  border-color: @state-success-border;
}
div.status,
.ok {
  color: @state-success-text;
}
div.status,
table tr.ok {
  background-color: @state-success-bg;
}

div.warning {
  background-image: none;
  border-color: @state-warning-border;
}
div.warning,
.warning {
  color: @state-warning-text;
}
div.warning,
table tr.warning {
  background-color: @state-warning-bg;
}

div.error {
  background-image: none;
  border-color: @state-danger-border;
}
div.error,
.error {
  color: @state-danger-text;
}
div.error,
table tr.error {
  background-color: @state-danger-bg;
}
div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 1em; /* LTR */
  padding: 0;
}
div.messages ul li {
  list-style-image: none;
}
