
#privatemsg-list {
  table {
    width: 100%;
  }
  #edit-filter {
    margin-top: 1em;
    height: auto;
    legend {
      padding-top: 0;
      background-color: transparent;
      padding-left: 0;
    }
  }
}
