
// tabs on left
body.tabs-on-left,
.page-messages {
  div.tabs {
    ul.tabs {
      border-bottom: 0;
      margin: 0 0 1em;
      padding: 0;
      li {
        display: block;
        a {
          display: block;
          background: transparent;
          border: 0;
          padding: 15px;
        }
        &.active {
          a {
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media screen and (min-width: @screen-md-min){
  body.tabs-on-left,
  .page-messages {
    #page-title {
      display: block;
      width: 25%;
    }
    div.tabs {
      float: left;
      width: 215px;
    }
    .action-links,
    .region-content {
      margin-left: 230px;
    }
  }
}