#block-emh-smartmobility-partners {
  .emh-subtitle {
    margin-top: 60px;
  }
  .partners-list {
    display: block;
    .text-center;

    > .partner {
      flex: unset;
      display: inline-block;
    }
  }
}
