#block-emh-smartmobility-persona {
	.background-div {
		opacity: .35;

    &-left {
			background-image: url("../images/content/block/emindhub_persona-client.jpg");
		}
		&-right {
			background-image: url("../images/content/block/emindhub_persona-expert.jpg");
		}
	}
}

@emhlive-overlap: 25px;
