#block-emh-request-workflow-timeline {
	.make-xs-column(12);

	.content {
		.make-row();

		.created {
			.make-xs-column(3);
			.make-sm-column(2);
			.text-right;
			line-height: 39px;
		}
		.progress {
			.make-xs-column(6);
			.make-sm-column(8);
			padding: 0;
			margin-top: 10px;
			margin-bottom: 0;
		}
		.deadline {
			.make-xs-column(3);
			.make-sm-column(2);
			line-height: 39px;
		}
	}
}
