#block-block-28 {
  .signUpContent,
  .signInContent {
    .make-md-column(6);

    h3 {
      padding-top: 0;
      padding-bottom: @grid-gutter-width;
    }
  }

  .modal-header {
    .text-center;
  }

  .horizontal {
      display: inline-block;
      max-width: 210px;
  }

  @media (max-width: @screen-sm-max) {
    .signUpContent {
      margin-top: 50px;
    }
  }
  @media (min-width: @screen-sm-min) {
    .signInContent {
      padding-right: @grid-gutter-width;
      border-right: 1px solid @mischka;
    }
    .signUpContent {
      padding-left: @grid-gutter-width;
    }
  }

}
