.field-group-div {
	// .emh-group;
	&:last-child {
		margin-bottom: 0;
	}
}

form {

	/* FORMS
	 * General
	 */
	> * > .form-item-title,
	.field-group-fieldset,
	.field-group-div {
		.emh-group;
		> .form-group:last-child,
		> .form-group:last-child .form-group:last-child {
			margin-bottom: 0;
		}
	}
	legend,
	h2 {
		.emh-form-legend;
	}
	label {
		line-height: 18px;
	}
	.group-hidden {
		opacity: 0;
		visibility: hidden;
		display: none;
	}


	/* FORMS
	 * Fields
	 */
	// Date
	.field-widget-date-popup {
		.badge.help-tip {
			.hidden;
		}
		input {
			float: left;
		}
	}

	// Adress
	.field-type-addressfield {
		margin-bottom: 0;
	}

	// Reward / Cost
	.field-name-field-reward {
		label {
			display: block;
		}
		input {
			width: auto;
			display: inline-block;
		}
	}

	// Upload file + image
	.file-widget,
	.field-type-image,
	.image-widget-data,
	.field-widget-imagefield-crop-widget {
		.file-return,
		.file-upload span {
			display: none;
		}
		input.form-file {
			height: auto;
		}
		span.file {
			word-wrap: break-word;
		}
		span.input-group-btn,
		.form-submit {
			display: inline-block;
			margin-top: 5px;
		}

		@media (min-width: @screen-md-min) {
			.make-row();
			width: 100%;
			margin: 0;
			.file-upload {
				.make-md-column(8);
				padding: 0;
			}
			span.input-group-btn,
			.form-submit {
				margin: 0 0 0 5px;
			}
			span.file {
				.make-md-column(10);
				padding: 0;
			}
		}
	}

	.form-mandatory {
		clear: both;
	}

	@media (min-width: @screen-md-min) {
	  // Boutons submit + légende
	  .form-row {
	    display: table;
	    width: 100%;
	    > * {
	      display: table-cell;
	    }
	  }
	  .form-mandatory {
	    .text-right;
	    line-height: 32px;
	  }
	}

  // Enlever le gras et le curseur sur certains labels
  .form-group.form-type-checkbox,
  .form-group.form-type-bef-checkbox,
  .form-group.views-exposed-form,
	.form-radios {
    label {
      font-weight: normal; // forms.css
      cursor: pointer;
      word-wrap: break-word;
    }
  }

	.form-radios {
		.form-group {
			margin-bottom: 0;
		}
	}

}
