.navbar {
  border: none;
}

.navbar-nav {
  > li {
		> span.dropdown-toggle {
      padding-top:    @navbar-padding-vertical;
      padding-bottom: @navbar-padding-vertical;
    }
  }
}

// Brand/project name

.navbar-brand {
  padding-top: @navbar-height / 4;
  padding-bottom: @navbar-height / 4;
}
