.nav {
  > li {
    > a,
    > span.dropdown-toggle {
      padding-left: @navbar-padding-horizontal;
      padding-right: @navbar-padding-horizontal;
    }
    > span.dropdown-toggle {
      padding: @nav-link-padding;
    }
  }
}
