.user-photo {
  img {
    .center-block;
    .img-circle;
    background: #d3d8dc;
    .text-center;
  }
}

// User cartouche
.cartouche-identity,
.cartouche-activity {
  padding: 5px;
  color: @blue-dark;
}

.cartouche-activity {
  background-color: #f6f7f8;
  border-top: 1px solid #e1e4e7;

  span {
    margin-right: 10px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding-left: 21px;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;

    &:last-child {
      margin-right: 0;
    }
  }

  .user-submission-count {
    background-image: url("../images/icons/icon_submission.png");
  }
  .user-purchased-count {
    background-image: url("../images/icons/icon_view.png");
  }
}

.user-cartouche {
  .text-center;
  background-color: #fff;
  border: 1px solid #e1e4e7;
  margin-bottom: 15px;

  a {
    color: @blue-base;
  }

	> span {
		display: block;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.user-identity,
  .user-organisation,
	.user-activity {
    display: block;
		padding-top: 5px;

    .field {
      margin: 0;
      padding: 0 !important;
    }
	}

	.user-identity {
		font-weight: bold;
	}

  .user-photo {
    img {
      height: 50px;
      width: 50px;
    }
  }

	.user-organisation,
	.user-activity {
		font-style: italic;
	}

  .user-buy-access {
    .btn;
    .btn-xs;
    .btn-flash;
    text-decoration: none;
  }
}

.user-badge {
  .user-photo {
    img {
      width: 36px;
      height: auto;
    }
  }
}
