/* Page Our services */
.page-node-268 {
  .node {
    .content {
      #services-top {
        .make-row();
        margin-top: 15px;
        background: transparent url("../images/content/node/268/our-services_blue-circle.png") no-repeat center center;
        ul {
          list-style: none;
          padding: 0;
        }
      }
      #services-clients h3,
      #services-benefits,
      #services-experts h3 {
        .text-uppercase;
      }
      #services-clients {
        .make-sm-column(4);
        .make-md-column(5);
        &:after {
          position: absolute;
          bottom: 0;
          right: 0;
          content: "";
          display: block;
          border-radius: 100%;
          background: transparent url("../images/content/node/268/our-services_clients-circle.png") no-repeat center center;
          background-size: contain;
        }
      }
      #services-benefits {
        .make-sm-column(4);
        .make-md-column(2);
        .text-center;
        font-weight: bold;
        font-size: 17px;
        line-height: 1.75em;
        word-wrap: break-word;
      }
      #services-experts {
        .make-sm-column(4);
        .make-md-column(5);
        .text-right;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          display: block;
          border-radius: 100%;
          background: transparent url("../images/content/node/268/our-services_experts-circle.png") no-repeat center center;
          background-size: contain;
        }
      }
      #services-bottom {
        .make-row();
      }
      #services-question,
      #services-challenge,
      #services-survey {
        .make-sm-column(4);
        .text-center;
        margin-top: 15px;
        .content {
          background-color: @softGrey;
          background-repeat: no-repeat;
          background-position: center 5%;
          padding: 150px 15px 15px;
          h3 {
            .text-uppercase;
            margin-top: 0;
          }
        }
      }
      #services-question {
        .content {
          background-image: url("../images/askQuestion.png");
        }
      }
      #services-challenge {
        .content {
          background-image: url("../images/launchChallenge.png");
        }
      }
      #services-survey {
        .content {
          background-image: url("../images/findExpert.png");
        }
      }
    }
  }
}
@media (max-width: @screen-xs-max) {
  .page-node-268 {
    .node {
      .content {
        #services-clients {
          background: transparent url("../images/content/node/268/our-services_clients-circle.png") no-repeat bottom center;
          padding-bottom: 240px;
          .text-center;
        }
        #services-experts {
          background: transparent url("../images/content/node/268/our-services_experts-circle.png") no-repeat top center;
          padding-top: 240px;
          .text-center;
        }
      }
    }
  }
}
@media (min-width: @screen-xs-max) {
  .page-node-268 {
    .node {
      .content {
        #services-top {
          background-size: contain;
        }
        #services-clients {
          &:after {
            width: 150px;
            height: 150px;
          }
          padding-bottom: 150px;
        }
        #services-experts {
          padding-top: 150px;
          &:before {
            width: 150px;
            height: 150px;
          }
        }
        #services-benefits {
          padding: 50px 0 0;
        }
      }
    }
  }
}
@media (min-width: @screen-md-min) {
	.page-node-268 {
    .node {
      .content {
        #services-top,
        #services-bottom {
          padding-bottom: 15px;
        }
        #services-top,
        #services-clients,
        #services-experts {
          min-height: 230px;
        }
        #services-clients {
          padding-bottom: 230px;
          &:after {
            width: 240px;
            height: 240px;
          }
        }
        #services-benefits {
          padding: 95px 0 0;
        }
        #services-experts {
          padding-top: 230px;
          &:before {
            position: absolute;
            width: 240px;
            height: 240px;
          }
        }
      }
    }
  }
}
