@import "../../emindhub/less/style.less";

@import 'variables';
@import 'smartmobility-styles';

@import 'content/form_user-register-form';
@import 'content/homepage';

@import 'block/block-emh-smartmobility-partners';
@import 'block/block-emh-smartmobility-persona';

body {
  &.not-logged-in {
    font-size: @smartmobility-font-size-base;
    font-family: @smartmobility-font-family-sans-serif;

    .emh-module {
      font-family: @smartmobility-font-family-sans-serif;
    }
  }
}

.emh-title, .emh-subtitle {
  color: @text-color;
}

.smartmobility-why,
.faq,
#block-emh-smartmobility-partners {
  .container;
  @media (min-width: 1200px) {
    width: 1140px;
  }
}

.smartmobility-why.emh-module,
.smartmobility-how.emh-module {
  font-size: @font-size-base;
}
.hiw-tabs {
  margin-bottom: 50px;
}
.hiw-tab-content.emh-module {
  margin-top: 0;
}

.smartmobility-how {
  padding: 50px;

  .row {
    .text-left;
  }

  span {
    background-color: @brand-primary;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
  }

  &.smartmobility-how-alt {
    span {
      background-color: @color-secondary;
    }
  }
}

.footer {
  hr {
    border-color: lighten(@brand-primary, 15.5%);
  }

  .footer-credits {
    color: lighten(@brand-primary, 31%);
  }
}

.footer .footer-contact {
  .make-md-column(9);
}

/* HEADER
 * Navigation
 */
nav#main-nav {
	// Active
	.nav > li.active,
	.nav > li.active-trail {
		> a,
		> span.dropdown-toggle {
			color: @color-secondary;
		}
	}

	.nav {
		.open,
		.open.active,
		.open.active-trail {
			> a,
			> a:hover,
			> a:focus,
			> span.dropdown-toggle,
			> span.dropdown-toggle:hover,
			> span.dropdown-toggle:focus {
		    background-color: @color-secondary;
			}
		}
	}

	.dropdown-menu {
		background-color: @color-secondary;
	}

  .navbar-brand {
    color: @brand-primary;
  }
}
