@import "../../emindhub/less/style.less";

@import 'variables';
@import 'smartmobility-styles';

@import 'content/form_user-register-form';
@import 'content/homepage';

@import 'block/block-emh-smartmobility-partners';
@import 'block/block-emh-smartmobility-persona';


.emh-module {
  font-family: @font-family-sans-serif;
}
.emh-title, .emh-subtitle {
  color: @text-color;
}

.smartmobility-why,
.faq,
#block-emh-smartmobility-partners {
  .container;
}

.smartmobility-why.emh-module,
.smartmobility-how.emh-module {
  font-size: @font-size-base;
}
.hiw-tabs {
  margin-bottom: 50px;
}
.hiw-tab-content.emh-module {
  margin-top: 0;
}

.smartmobility-how {
  padding: 50px;

  .row {
    .text-left;
  }

  span {
    background-color: @brand-primary;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
  }

  &.smartmobility-how-alt {
    span {
      background-color: @color-primary-alt;
    }
  }
}

.footer {
  hr {
    border-color: lighten(@brand-primary, 15.5%);
  }

  .footer-credits {
    color: lighten(@brand-primary, 31%);
  }
}

.footer .footer-contact {
  .make-md-column(9);
}
