//
// Variables
// --------------------------------------------------

//== Colors
@brand-primary:          #00205b;
@brand-success:          #84bd00;
@brand-warning:          #fe5000;
@brand-danger:           #e4002b;

@blue-base:              @brand-primary;

@color-secondary:        #0085ad;

@text-color:             #231f20;


//== Typography
@smartmobility-font-size-base:         15px;
@smartmobility-font-family-sans-serif: "Helvetica Neue LT", Arial, sans-serif;

@emh-cta-width-min:      260px;
