//
// Variables
// --------------------------------------------------

//== Colors
@brand-primary:          #00205b;
@brand-success:          #84bd00;
@brand-warning:          #fe5000;
@brand-danger:           #e4002b;

@orange:                 #0085ad;

@color-primary-alt:      @orange;

@text-color:             #231f20;


//== Typography
@font-family-sans-serif: "Helvetica Neue LT", Arial, sans-serif;
