/* FORMS
 * Register
 */
#user-register-form {
  .form-item-legal-terms-of-use {
    padding: 15px;
  }
}

.form-type-password-confirm {
  .help-tip {
    .text-hide;
  }
}

@media (max-width: @screen-sm-min) {
  input.password-confirm,
  input.password-field {
    width: 100%;
  }
}
@media (min-width: @screen-sm-min) {
  .confirm-parent,
  .password-parent {
    width: auto;
  }
  input.password-confirm,
  input.password-field {
    width: 350px;
    max-width: 100%;
  }
}
