/* FORMS
 * Profile
 */
form#user-profile-form {

  .link-field-subrow {
    .form-group-2col;
  }

  // .imagefield-crop-widget,
  .image-widget {
    .make-row();
    margin: 0;

    .image-preview {
      .make-sm-column(2);
      img {
        .img-circle;
      	.center-block;
      }
    }

    .image-widget-data {
      .make-sm-column(10);
      .make-row();
      margin: 0;

      .file {
        .make-sm-column(6);
        a {
          overflow: hidden;
  				text-overflow: ellipsis;
  				white-space: nowrap;
  				max-width: 200px;
          display: block;
        }
      }

      .file-size {
        .make-sm-column(4);
      }
    }

    .form-item-field-photo-und-0-focal-point {
      display: none;
    }
    .focal-point-help {
      clear: both;
    }

    @media (min-width: @screen-sm-min) {
      button.form-submit {
        float: right;
        margin-right: 15px;
      }
    }

  }

  #edit-field-skills-set {
    @media (min-width: @screen-sm-min) {
      tbody td:nth-child(2) {
        .make-row();
        .field-name-field-skill2 {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-skill-autoeval {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-year-of-experiences {
          .make-sm-column(3);
          padding: 0;
          .form-item-inline-9-3;
        }
      }
      button.form-submit,
      input.field-add-more-submit {
        float: right;
        margin: 0;
      }
    }
  }

  #edit-field-position-list {
    @media (min-width: @screen-sm-min) {
      tbody td:nth-child(2) {
        .make-row();
        .field-name-field-position {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-entreprise {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-year-of-experiences {
          .make-sm-column(3);
          padding: 0;
          .form-item-inline-9-3;
        }
      }
      button.form-submit,
      input.field-add-more-submit {
        float: right;
        margin: 0;
      }
    }
  }

  #edit-field-known-specific {
    @media (min-width: @screen-sm-min) {
      clear: both;
      margin-left: 50%;
      padding-left: 15px/2;
    }
  }

  // Years of experience
	.field-name-field-year-of-experiences {
		.form-control {
			.text-center;
			max-width: 50px;
		}
	}

}
