/* FORMS
 * Register
 */
#user-register-form {
  .group-organisation {
    margin-bottom: 0;
    clear: both;
  }
  .form-item-legal-terms-of-use {
    padding: 15px;
    margin-bottom: 0;
  }
  #edit-submit {
    .btn-primary !important;
  }
  .hybridauth-widget-wrapper {
    .make-row();
    margin: 0 !important;

    background-color: @gray-lighter;
    > * {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    h3 {
      .make-md-column(3);
      margin: 0;
    }
    .hybridauth-widget {
      .make-md-column(9);
    }
  }
}

.form-type-password-confirm {
  .help-tip {
    .text-hide;
    .hidden();
  }
}

@media (max-width: @screen-md-min) {
  .form-type-password-confirm {
    margin: 0;
  }
  input.password-confirm,
  input.password-field {
    width: 100%;
  }
}
@media (min-width: @screen-md-min) {
  .form-type-password-confirm .row {
    > .form-group {
      &.password-parent {
        padding-right: 7.5px;
      }
      &.confirm-parent {
        padding-left: 7.5px;
      }
    }
  }
  .confirm-parent,
  .password-parent {
    width: auto;
  }
  input.password-confirm,
  input.password-field {
    width: 350px;
    max-width: 100%;
  }
}
