/* FORMS
 * Profile
 */
form#user-profile-form {

  .form-type-password-confirm {
    .make-row();
    > .password-parent,
    > .confirm-parent {
      .make-sm-column(6);
    }
    // .form-group form-type-password form-item-pass-pass1 password-parent {
    //
    // }
  }


  .link-field-subrow {
    .form-group-2col;
  }

  .imagefield-crop-widget {
    .make-row();
    margin: 0;
    .imagefield-crop-preview {
      .make-sm-column(4);
      .make-row();
      margin: 0;
      .jcrop-preview-wrapper {
        .make-sm-column(4);
        padding: 0;
        .img-circle;
  			.center-block;
        img.jcrop-preview {
          width: 110px !important;
          height: auto !important;
        }
      }
      .description {
        .make-sm-column(8);
      }
    }
    .imagefield-crop-cropbox {
      .make-sm-column(4);
      .make-row();
      margin: 0;
      .jcrop-holder {
        .make-sm-column(4);
        padding: 0;
      }
      .description {
        .make-sm-column(8);
      }
    }
    .file {
      .make-sm-column(2);
    }
    @media (min-width: @screen-sm-min) {
      button.form-submit {
        float: right;
        margin-right: 15px;
      }
    }
  }

  #edit-field-skills-set {
    @media (min-width: @screen-sm-min) {
      tbody td:nth-child(2) {
        .make-row();
        .field-name-field-skill2 {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-skill-autoeval {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-year-of-experiences {
          .make-sm-column(3);
          padding: 0;
          .form-item-inline-9-3;
        }
      }
      button.form-submit,
      input.field-add-more-submit {
        float: right;
      }
    }
  }

  #edit-field-position-list {
    @media (min-width: @screen-sm-min) {
      tbody td:nth-child(2) {
        .make-row();
        .field-name-field-position {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-entreprise {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-year-of-experiences {
          .make-sm-column(3);
          padding: 0;
          .form-item-inline-9-3;
        }
      }
      button.form-submit,
      input.field-add-more-submit {
        float: right;
      }
    }
  }

  #edit-field-known-specific {
    @media (min-width: @screen-sm-min) {
      clear: both;
      margin-left: 50%;
      padding-left: 15px/2;
    }
  }

}
