/* FORMS
 * Profile
 */
form#user-profile-form {

  .link-field-subrow {
    .form-group-2col;
  }

  .imagefield-crop-widget {
    /* Zen - max-width: 100% for img tags in normalize.css messes up ImageField Crop's
     * preview and cropbox - we have to set max-width to none to fix it
     * per https://drupal.org/node/1779494
     */
    img {
      max-width:none;
    }
    .imagefield-crop-preview,
    .imagefield-crop-cropbox {
      float: left;
      margin-right: 15px;
    }
    .jcrop-preview-wrapper {
      .img-circle;
      .center-block;
    }
    .file {
      .hidden();
    }
    .jcrop-holder {
      background-color: transparent ! important;
    }
  }

  #edit-field-skills-set {
    @media (min-width: @screen-sm-min) {
      tbody td:nth-child(2) {
        .make-row();
        .field-name-field-skill2 {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-skill-autoeval {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-year-of-experiences {
          .make-sm-column(3);
          padding: 0;
          .form-item-inline-9-3;
        }
      }
      button.form-submit,
      input.field-add-more-submit {
        float: right;
        margin: 0;
      }
    }
  }

  #edit-field-position-list {
    @media (min-width: @screen-sm-min) {
      tbody td:nth-child(2) {
        .make-row();
        .field-name-field-position {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-entreprise {
          .make-sm-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-year-of-experiences {
          .make-sm-column(3);
          padding: 0;
          .form-item-inline-9-3;
        }
      }
      button.form-submit,
      input.field-add-more-submit {
        float: right;
        margin: 0;
      }
    }
  }

  #edit-field-known-specific {
    @media (min-width: @screen-sm-min) {
      clear: both;
      margin-left: 50%;
      padding-left: 15px/2;
    }
  }

  // Years of experience
	.field-name-field-year-of-experiences {
		.form-control {
			.text-center;
			max-width: 50px;
		}
	}

}
