body.front {

  // Hide page title
  h1.page-header {
    .hidden();
  }

  &.not-logged-in {

    // Remove negative top margin
    .main-container {
      border-top: 0;
      section#maincol {
        margin-top: 0;
        padding-top: 0;
      }
    }

    #trail {
      .hidden();
    }

    .navbar-emh:after {
      display: none;
    }
  }

  aside {
    margin-top: 0;
  }

  .alert {
    margin-top: @line-height-computed;
  }

}

@media (min-width: @screen-sm-min) {
  body.front.not-logged-in,
  body.front.not-logged-in.admin-menu {
    padding-top: 117px; // .fixed-to-top
  }
  body.front.logged-in,
  body.front.logged-in.admin-menu {
    padding-top: 142px; // .fixed-to-top
    .main-container {
      section#maincol {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
  body.front.not-logged-in {
    header#page-header {
      background-image: url("../images/banniere_EN.png");
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.lang-fr {
      header#page-header {
        background-image: url("../images/banniere_FR.png");
      }
    }
  }
}
