.page-messages {
  #maincol {
    .make-row();

    h1.page-header {
      float:left;
      margin-left: 0;
      margin-top: -22px;
    }
    .nav-tabs {
      .nav-stacked;
      .navbar-emh-left;
      .make-sm-column(3);
      clear: both;
    }
    .action-links,
    .region-content {
      .make-sm-column(9);
    }
  }

}
