a.views-navigation-back {
  .btn;
  .btn-default;
}
a.flag {
  .btn;
  .btn-primary;
}
.views-navigation-previous,
.views-navigation-next {
  .btn;
  .btn-nav;
}


.survey-section {

  padding-top: 15px;
  padding-bottom: 15px;
	margin-bottom: 15px;
	background-color: #F6F7F8;

  &.emh-fieldgroup-blue-title {
    padding-top: 0;
  }


	.form-group {
		margin-bottom: 0;
	}

	> .field,
	> .field-collection-container {
		padding-bottom: 15px;
		.field-label {
			margin-bottom: 5px;
		}
	}

	// .field-collection-container {
	// 	> .field > .field-items > .field-item {
	// 		margin-bottom: 5px;
	// 	}
	// }

  .field-name-body {
    font-size: 16px;
  }

}


@media (min-width: @screen-sm-min) {
	.survey-section {
		// .make-sm-column(12);
		// padding: 0;
		// .make-row();
    // padding: 15px;
	}
}
