a.views-navigation-back {
  .btn;
  .btn-default;
}
a.flag {
  .btn;
  .btn-primary;
}
.views-navigation-previous,
.views-navigation-next {
  .btn;
  .btn-nav;
}


.node-webform {
  .form-textarea-wrapper.resizable-textarea {
    max-width: 100%;
  }
}


.survey-section {

  padding-top: 15px;
  padding-bottom: 15px;
	margin: 0 0 15px;
	background-color: #F6F7F8;

  &.emh-fieldgroup-blue-title {
    padding-top: 0;
  }


	.form-group {
		margin-bottom: 0;
	}

	> .field,
	> .field-collection-container {
		padding-bottom: 15px;
		.field-label {
			margin-bottom: 5px;
		}
	}

  .field-name-body {
    font-size: 16px;
  }
  .field-type-taxonomy-term-reference {
    .field-items .field-item {
      display: inline-block;
    }
    a {
      .emh-badge-term;
    }
  }

  .survey-meta {
    li * {
      display: inline-block;
    }
  }

}
