/* Page Our services */
.page-node-268 {
  .node {
    .content {
      ul {
        list-style: none;
        padding: 0;
      }
      #services-top {
        margin-top: 15px;
      }
      #services-clients h3,
      #services-benefits,
      #services-experts h3 {
        .text-uppercase;
      }
      #services-benefits {
        .text-center;
        font-weight: bold;
        font-size: 17px;
        line-height: 1.75em;
        word-wrap: break-word;
      }
      #services-experts {
        .text-right;
      }
      #services-question,
      #services-challenge,
      #services-survey {
        .text-center;
        background-color: @softGrey;
        padding: 15px;
        margin: 15px 15px 0;
        h3 {
          .text-uppercase;
          margin-top: 0;
        }
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
	.page-node-268 {
    .node {
      .content {
        .row {
          padding-bottom: 15px;
        }
        #services-top,
        #services-clients,
        #services-experts {
          min-height: 230px;
        }
        #services-top {
          background: transparent url("../images/content/node/268/our-services_blue-circle.png") no-repeat center center;
        }
        #services-clients {
          padding-bottom: 230px;
          &:after {
            position: absolute;
            bottom: 0;
            right: 0;
            content: "";
            display: block;
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background: #fff url("../images/content/node/268/our-services_clients-circle.png") no-repeat center center;
          }
        }
        #services-benefits {
          padding: 95px 0 0;
        }
        #services-experts {
          padding-top: 230px;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            display: block;
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background: #fff url("../images/content/node/268/our-services_experts-circle.png") no-repeat center center;
          }
        }

        #services-question,
        #services-challenge,
        #services-survey {
          background-repeat: no-repeat;
          background-position: 65% 5%;
          padding: 10em 15px 15px;
          margin-top: 15px;
          width: 30.75%;
        }
    		#services-question {
          background-image: url("../images/askQuestion.png");
          margin-left: 15px;
          margin-right: 7.5px;
        }
    		#services-challenge {
          background-image: url("../images/launchChallenge.png");
          margin-left: 7.5px;
          margin-right: 7.5px;
        }
    		#services-survey {
          background-image: url("../images/findExpert.png");
          margin-left: 7.5px;
          margin-right: 15px;
        }
      }
    }
  }
}
