.profile-section {

	margin-bottom: 15px;
	background-color: #F6F7F8;
	.emh-fieldgroup-blue-title;

	.form-group {
		margin-bottom: 0;
	}

	> .field,
	> .field-collection-container {
		padding-bottom: 15px;
		.field-label {
			margin-bottom: 5px;
		}
	}

	.field-collection-container {
		> .field > .field-items > .field-item {
			margin-bottom: 5px;
		}
	}

	&.profile-section-public {
		padding-top: 15px;
		.h3, .h4 {
			margin: 0;
		}
	}

	.field-name-field-photo {
		img {
			.img-circle;
			.center-block;
		}
	}

	.field-name-field-address {
		* {
			display: inline-block;
		}
		.locality-block:after {
			clear: none;
			display: none;
		}
		span.country:before {
			content: ", ";
		}
	}

	.field-name-field-link-to-my-blog {
		background-color: #EFF1F3;
		padding: 15px;
	}

	.field-name-field-domaine {
		.field-items {
			> .field-item {
				// a {
					.emh-badge-term;
				// }
			}
		}
	}

	.field-name-field-skills-set {
		.field-name-field-skill-autoeval {
			.fivestar-summary {
				.hide-text;
			}
		}
		.field-name-field-year-of-experiences {
			.field-item {
				.emh-badge-term;
				width: 50px;
				.text-center;
			}
		}
	}

	.field-name-field-position-list {
		.field-item .content {
			.field-name-field-year-of-experiences {
				.field-item {
					.emh-badge-term;
					width: 50px;
					.text-center;
				}
			}
		}
	}

	.field-name-field-skill2,
	.field-name-field-position {
		.emh-badge-term;
	}

	@media (min-width: @screen-sm-min) {

		.make-sm-column(12);
		.make-row();
		padding: 0;
		margin-left: 0;
		margin-right: 0;

		.field-name-name {
			clear: both;
		}

		.field-name-field-domaine {
			// padding: 0;
			.field-items {
				.make-row();
				margin: 0;
				> .field-item {
					.make-sm-column(4);
				}
			}
		}

		.field-name-field-tags {
			padding: 0;
		}

		.field-name-field-skills-set {
			.field-item .content {
				.make-row();
				margin: 0;

				.field-name-field-skill2 {
					.make-sm-column(4);
				}
				.field-name-field-skill-autoeval {
					.make-sm-column(3);
					.fivestar-default .fivestar-widget-static {
						.text-center;
					}
				}
				.field-name-field-year-of-experiences {
					.make-sm-column(4);
					.form-item-inline-6-6;
				}
			}
		}

		.field-name-field-position-list {
			.field-item .content {
				.make-row();
				margin: 0;

				.field-name-field-position {
					.make-sm-column(4);
				}
				.field-name-field-entreprise {
					.make-sm-column(3);
					.text-center;
				}
				.field-name-field-year-of-experiences {
					.make-sm-column(4);
					.form-item-inline-6-6;
				}
			}
		}
	}

}
