.page-my-circles {

  // @media (max-width: @screen-xs) {
  //   input[type="text"] {
  //     width: 100%;
  //   }
  // }

  // label {
  //   width: auto;
  // }
  //
  // .views-field-created {
  //   display: none;
  // }

  .view-header {
    background-color: @lightGrey;
    padding: 15px 15px 0;

    .form-type-textfield {
      display: inline-block;
    }

    input[type=text] {
      display: inline-block;
    }
  }

  .views-exposed-widget select {
    margin-left: 1em;
  }

  .views-field-title {
    display: none;
  }

  .views-field-created {
    background-color: @lightGrey;
  }

  .view-circle-members {
    margin-bottom: 1.5em;

    // .views-widget-sort-by {
    //   @media (max-width: @screen-xs) {
    //     width: 100%;
    //   }
    // }

    // .views-widget-sort-order {
    //   width: 100%;
    //
    //   @media (min-width: @screen-xs-max) {
    //     display: inline-block;
    //     float: right;
    //     position: absolute;
    //     width: auto;
    //   }
    // }
    // .views-submit-button {
    //   width: 100%;
    //
    //   .form-submit {
    //     margin-top: 2em;
    //   }
    //
    //   @media (max-width: @screen-xs) {
    //     .form-submit {
    //       margin-top: 0;
    //     }
    //   }
    //
    //   @media (min-width: @screen-xs-max) {
    //     display: inline-block;
    //     position: relative;
    //     float: right;
    //     top: -2em;
    //   }
    // }

    // .pager {
    //   text-align: right;
    //
    //   .pager-item a {
    //     border: none;
    //     border-radius: 0;
    //     background-color: transparent;
    //   }
    //
    //   .pager-previous a {
    //     background: transparent url(../images/backbtn.png) no-repeat;
    //   }
    //   .pager-next a {
    //     color: transparent;
    //     background: transparent url(../images/nextbtn.png) no-repeat;
    //   }
    //
    //   .pager-previous a,
    //   .pager-next a {
    //     display: inline-block;
    //     position: relative;
    //     height: 1.68em;
    //     width: 1.68em;
    //     top: 0.5em;
    //
    //     border: none;
    //     border-radius: 0;
    //     overflow: hidden;
    //     text-indent: 100%;
    //     white-space: nowrap;
    //   }
    //
    //   .pager-first, .pager-last {
    //     display: none;
    //   }
    // }
  }

  // .quicktabs-wrapper {
  //   background-color: @lightGrey;
  //
  //   .item-list {
  //     background-color: #fff;
  //   }
  //
  //   .quicktabs_main {
  //     padding-right: 1em;
  //     padding-left: 1em;
  //   }
  //   ul.pager {
  //     background-color: @lightGrey;
  //   }
  // }

  // .quicktabs-tabs {
  //   width: 100%;
  //   display: table;
  //
  //   li {
	// 		// background: @circleLightBlue url(../images/cercle.png) no-repeat 50% 20% !important;
  //     background: url(../images/cercle.png) no-repeat 50% 20% !important;
  //     display: inline-block;
  //     display: inline-flex !important;
  //     width: 25%;
  //     height: 10em;
  //     text-align: center;
  //     margin: 0;
  //
  //     @media (max-width: @screen-sm) {
  //       width: 100%;
  //     }
  //
  //     a {
  //       // .upper;
  //       // .bold;
  //       // .dark-blue-text !important;
  //       display: block;
  //       width: 100%;
  //       padding-top: 6em;
  //       white-space: normal;
  //     }
  //   }

  //   .active:not(a) {
  //     background-color: @lightGrey !important;
  //
  //     a {
  //       // .light-blue-text !important;
  //     }
  //   }
  // }

  // .quicktabs-tabpage {
  //   margin-bottom: 3em;
  //
  //   .view-content {
  //     background-color: @lightGrey;
  //     padding-bottom: 1.5em;
  //
  //     .views-row {
  //       width: 33%;
  //       display: inline-block;
  //       padding-top: 1.5em;
  //
  //       .views-field-field-first-name,
  //       .views-field-field-last-name {
  //         // .bold;
  //         display: inline-block;
  //       }
  //
  //       .views-field-name a {
  //         // .bold;
  //         color: @middleGrey;
  //       }
  //
  //       .views-field-field-entreprise {
  //         // .bold;
  //         color: @brand-primary;
  //       }
  //
  //       .views-field-field-last-name,
  //       .views-field-field-first-name,
  //       .views-field-name,
  //       .views-field-field-entreprise,
  //       .views-field-views-bulk-operations,
  //       .views-field-field-titre-metier {
  //         height: 1.5em;
  //       }
  //
  //       .views-field-field-titre-metier div.field-content {
  //         white-space: nowrap;
  //         overflow-x: hidden;
  //         margin-right: 1em;
  //         text-overflow: ellipsis;
  //       }
  //
  //       .views-field-views-bulk-operations {
  //         div {
  //           margin: 0;
  //           display: inline;
  //           padding-left: 0.5em;
  //         }
  //
  //         input[type=checkbox] {
  //           left: auto;
  //           margin: 0;
  //           position: inherit;
  //         }
  //       }
  //
  //       .views-field-picture {
  //         float: left;
  //         padding-right: 1em;
  //       }
  //     }
  //   }
  // }
  //
  // .views-exposed-widget {
  //   .form-item {
  //     width: 100%;
  //     label {
  //       width: 30%;
  //     }
  //     select {
  //       background-color: @softGrey;
  //       border: none;
  //       height: 1.8em;
  //     }
  //   }
  // }
}
