.webform-component {
	> label {
		display: block;
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #DDD;
	}
	&:first-of-type {
		> label {
			margin: 0;
			padding: 0;
			border: 0;
		}
	}
}
