/* USER pages
 */

body.page-user {

  tr.draggable {
    td {
      padding-left: 0;
      padding-right: 0;
    }

    .group-oneliner {
  		> div {
  			width: auto;
        margin-left: 0;
      }
    }
    td:nth-child(2) > *,
    td:nth-child(2) .ajax-new-content > * {
      display: inline-block;
    }

    td:nth-child(2) > .field-group-div,
    td:nth-child(2) .ajax-new-content > .field-group-div {
      width: 85%;
    }
    td:nth-child(2) > input,
    td:nth-child(2) .ajax-new-content > input {
      margin-left: 20px;
    }

  }

  #edit-field-skills-set .field-type-entityreference,
  #edit-field-position-list .field-type-taxonomy-term-reference {
    // width: 40%;
    width: 292px;
    padding-bottom: 0;
    margin-right: 1em;

    label {
      margin-bottom: 0;
      min-width: 82px;
    }

    input[type="text"] {
      max-width: 190px;
    }
  }

  #edit-field-skills-set .field-type-fivestar,
  #edit-field-position-list .field-name-field-entreprise {
    width: 240px;

    label {
      min-width: 90px;
    }
  }

  #edit-field-position-list {
    tr.draggable {
      td:nth-child(2) > * {
        display: inline-block;

        input[type="text"] {
          max-width: 65%;
        }
      }
    }
  }

  .field-type-field-collection {

    // Add another item
    div > div > .clearfix {
      text-align: center;
    }

    .field-name-field-year-of-experiences {
      // width: 23%;
      padding-bottom: 0;

      label {
        margin-bottom: 0;
      }

      input[type="text"] {
        // margin-left: 2em;
        margin-left: 0.5em;
        width: 2rem;
        text-align: center;
        padding: 0;
      }
    }

    .field-name-field-entreprise {
      input[type="text"] {
        width: 50%;
      }
    }

  }

  .field-name-field-photo {
    .imagefield-crop-cropbox {
      display: inline-block;
      width: 20%;
      top: 1em;
    }

    .imagefield-crop-preview {
      display: inline-block;
      width: 20%;
    }

    .file-upload {
      margin-left: 1em;
    }

    span.file {
      position: relative;
      // top: -0.2em;
    }

    input[type=submit] {
      // margin-left: 5em;
      position: relative;
      // top: -0.9em;
    }
  }

  .group-skills.group-oneliner {

    div.field-name-field-skill-autoeval {
      label {
        display: none !important;
      }
    }

    .field-type-fivestar {
      position: relative;
      top: 0.5em;

      .fivestar-widget {
        // margin-left: 1em;
        margin-right: 1em;
        text-align: center;
      }
    }

    @media (max-width: @screen-sm) {
      .field-type-entityreference {
        width: 50%;
      }

      .field-type-fivestar {
        width: 21%;
        margin-left: 1.5em;
      }

      .field-type-number-integer {
        width: 16%;
      }
    }

    @media (max-width: @screen-xs) {
      .field-type-entityreference {
        label {
          width: 21% !important;
        }

        input[type="text"] {
          width: 74%;
        }
      }

      .field-type-fivestar {
        width: 36% !important;
        margin-left: 0;
      }

      .field-type-number-integer {
        width: 36% !important;
      }
    }
  }

  .field-name-field-skill2 {
    .field-name-field-skill2 label {
      display: none !important;
    }

    .field-name-field-skill-autoeval .form-item-field-skills-set-und-0-field-skill-autoeval-und-0-rating label {
      display: none !important;
    }
  }

  .field-name-field-titre-metier {
    input[type="text"] {
      width: auto;
    }
  }

  .field-name-field-cv {
    input[type="text"] {
      margin-left: 0;
      margin-right: 0.5em;
    }
  }

}
