body.page-node-add-webform {

  // General
  .form-item {
    vertical-align: top;
  }

  // Fields
  .field-type-text-with-summary {
    .form-item {
      margin-top: 0;
    }
  }
  .field-name-field-document,
  .field-type-image {
    input[type=text] {
      margin-left: 0;
    }
  }
  .field-type-taxonomy-term-reference {
    .autocomplete-deluxe-multiple {
      padding: 0;
    }
    div.autocomplete-deluxe-container {
      input.autocomplete-deluxe-form {
        padding: 0;
        height: 25px;

        &.autocomplete-deluxe-multiple {
          max-width: 90%;
          background: transparent !important;
          padding: 5px;
          margin-left: 0;
        }
      }
    }
  }

}


// Webform components Add page
// TODO : hide elemnts properly with template.php
body.page-node-webform-components {

  form#webform-components-form {
    // Weight toogle
    .tabledrag-toggle-weight-wrapper {
      display: none;
    }
  }

  table#webform-components {
    width: 100%;

    // Type
    thead tr th:nth-child(2),
    tbody tr td:nth-child(2) {
      display: none;
    }

    // Actions
    tbody tr td:last-child {
      text-align: center;
    }
  }

}
