.page-contact {

	.content {
		div.form-item {
			display: inline;
		}

		div.form-textarea-wrapper {
			display: inline-block;
		}

		div.form-type-textarea {
			padding-left: 0.4em;
		}

		div.form-type-select {
			padding-left: 0.5em;
		}

		.form-control-custom {
			width: 53.2%;
		}
	}
}
