.emh {
    &-title,
    &-subtitle {
        color: @color-tertiary;
        text-align: center;
    }

    &-title {
        font-size: 50px;
        font-weight: 200;
    }

    &-subtitle {
        font-size: 20px;
        font-weight: normal;
    }
}
