.emh {
    &-module {
        font-size: 13px;
        font-family: 'Open Sans', @font-family-sans-serif;
    }

    &-module + &-module {
        margin-top: 50px;
    }

    &-title,
    &-subtitle {
        color: @color-tertiary;
        text-align: center;
    }

    &-title {
        font-size: 50px;
        font-weight: 200;
    }

    &-subtitle {
        font-size: 20px;
        font-weight: normal;
    }

    &-button {
        color: @color-primary;
        background-color: transparent;
        border: 1px solid currentColor;
        border-radius: 5px;
        display: inline-block;
        font-size: 13px;
        padding: 17px 10px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }

        &.solid {
            border: none;
            background-color: @color-primary;
            color: white;
        }
    }
}
