.no-padding {
	padding:0;
}

.page-emh-homepage {
	.nomargin {
	  margin: 0;
	  > .container-fluid {
	    padding: 0;
	  }
	}
	#maincol {
		padding: 0;
	}
}
///refonte hp

#particles-js {
	width: 66%;
	margin-left: auto;
	margin-right: auto;
	// TODO fix it like here: http://legitsoulja.info/
	canvas {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // z-index: 999;
	}
}

//// hp-hero
.hp-hero{
	background: url('../images/img-hp/big-planet.png')no-repeat center 125px , linear-gradient(63deg, #005174, #007eb3);
	height: 562px;
	.field-name-field-hp-hero-title{
		font-size: 48px;
		text-align: center;
		color: #ffffff;
		margin-top: 60px;
		margin-bottom: 50px;
	}
	.hp-join-us{
		.flex-display(@display: flex);
		.justify-content(@justify: center);
		.align-items(@align: center);
		width: 157px;
		height: 42px;
		border-radius: 100px;
		background: linear-gradient(77deg, #5fb8df, #007eb3);
		box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.56);
		-webkit-box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.56);
		overflow: hidden;
		color: white;
		text-align: center;
		font-size: 18px;
		margin-left: 50%;
		transform: translate(-50%);
		-webkit-transform: translate(-50%);

		&:hover{
			text-decoration: none;
		}
	}
	.hero-expert-0,.hero-expert-1, .hero-expert-2,.hero-expert-3,.hero-expert-4,.hero-expert-5,.hero-expert-6,.hero-expert-7{
		display: inline-block;
		width: auto;
	}
	.field-name-field-hp-experts-image{
		display: inline-block;
		position: relative;
		width: auto;
		img{
			border-radius: 50%;
			-webkit-border-radius: 50%;
			border: 3px solid white;
		}
	}
}

////expertise domain
.field-name-field-hp-domains-title,
.field-name-field-hp-solutions-title,
.field-name-field-hp-why-title,
.field-name-field-hp-how-title{
	font-size: 28px;
	text-align: center;
	color: #0a2c3f;
}
.hp-domains {
	background: white;
	.field-name-field-hp-domains-title{
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.field-item{
		display: block;
		&:before{
			display: block;
			width: 81px;
			height: 81px;
			background: linear-gradient(47deg, #002e42, #007eb3 97%), linear-gradient(46deg, #005174, #007eb3);
		}
		.content{
			img{
				margin: 0 auto;
			}
		}
		.field-type-text{
			font-size: 18px;
			text-align: center;
			color: #005174;
			margin: 15px auto 15px 50%;
			display: inline-block;
			transform: translate(-50%);
			-webkit-transform: translate(-50%);

		}
	}
	.hp-domains-see-more{
		width: 157px;
		height: 42px;
		border-radius: 100px;
		border: solid 1px #007eb3;
		color: #007eb3;
		font-size: 18px;
		transform: translate(-50%);
		-webkit-transform: translate(-50%);
		margin-top: 30px;
		margin-bottom: 40px;
		margin-left: 50%;
		display: block;
		text-align: center;
		padding: 7px;
		&:hover{
			text-decoration: none;
		}
	}
}

///client domain

.hp-clients {
	background: url('../images/img-hp/planet-side.png')no-repeat left center, linear-gradient(79deg, #005174, #007eb3);
	.field-items{
		min-height:226px;

		.flex-display(@display: flex);
		.justify-content(@justify: space-around );
		.align-items(@align: center);
	}
}

////hp sollutions
.hp-solutions {
	font-family: @font-open;
	.field-name-field-hp-solutions-title{
		margin-top: 80px;
		margin-bottom: 100px;
	}
	.public{
		.field-collection-view {
			display: inline-block;
			width: auto;
			.field-name-field-slide-image{
				height: 80px;
				img{
					margin: 0 auto;
				}
			}
			.field-name-field-slide-title{
				font-size: 20px;
				font-weight: bold;
				text-align: center;
				color: #0a2c3f;
				-webkit-text-stroke: 1px #005174;
			}
			.field-name-field-slide-text{
				.field-item{
					font-size: 14px;
					font-weight: normal;
					text-align: center;
					color: #0a2c3f;
					-webkit-text-stroke: 1px #005174;
					margin-top: 40px;
				}
			}
		}
		.field-name-field-hp-solutions-link{
			a{
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				font-family: @font-family-sans-serif;
				width: 221px;
				height: 40px;
				border-radius: 100px;
				background-color: #005174;
				color: white;
				text-align: center;
				padding: 7px;
				font-size: 20px;
				margin-top: 5px;
				margin-left: 50%;
				display: block;
				transform: translate(-50%);
				-webkit-transform: translate(-50%);
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	.private{
		width: 206px;
		margin-top: -60px;
		background-color: #ffffff;
		margin-left: auto;
		border: 1px solid  #f5a623;
		border-radius: 19px;
		-webkit-border-radius: 19px;
		.field-name-field-slide-surtitle{
			-webkit-border-top-right-radius: 19px ;
			-webkit-border-top-left-radius: 19px ;
			border-top-right-radius: 19px;
			border-top-left-radius: 19px;
			background: linear-gradient(254deg, #fbd249, #f5a623);
			display: block;
			padding: 20px 10px 20px 10px;
			color: white;
			text-align: center;
			margin-bottom: 15px;
		}
		img{
			margin:0 auto;
		}
		.field-name-field-slide-title{
			border-top-right-radius: 19px;
			border-top-left-radius: 19px;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #f5a623;
		}
		.field-name-field-slide-text{
			font-family: @font-open;
			font-size: 14px;
			text-align: center;
			color: #0a2c3f;
			width: 80%;
			margin-left: 23px;
		}
		a{
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			background: linear-gradient(253deg, #fbd249, #f5a623);
			width: 135px;
			height: 40px;
			border-radius: 100px;
			font-size: 20px;
			color: white;
			padding: 7px;
			transform: translate(-50%);
			-webkit-transform: translate(-50%);
			margin-top: 30px;
			margin-bottom: 40px;
			margin-left: 50%;
			display: block;
			text-align: center;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.slick-slide{
	outline: 0!important;
}
///hp testimonial
.hp-testimonials{
	margin-top: 100px;
	height: 226px;
	background: url('../images/img-hp/planet-side.png')no-repeat left center, linear-gradient(79deg, #005174, #007eb3);
	.hp-testimonies{
		outline: 0;
		.hp-testimony-item{
			display: inline-block;
			margin-top: 30px;
			img{
				display: inline-block;
				width: 80px;
				height: 80px;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				border: 3px solid white;
			}
			.field-type-text{
				display: inline-block;
				color: white;
				&.field-name-field-testimony-name{
					font-size: 20px;
					font-weight: bold;
					color: #f5a623;
					margin-top: -80px;
					margin-bottom: 30px;
					margin-left: 90px;
					display: block;
				}
				&.field-name-field-testimony-position{
					display: block;
					width: auto;
					margin-left: 93px;
					margin-top: -30px;
				}
			}
			blockquote{
				&.field-name-field-testimony-text{
					color: white;
					font-size: 14px;
					font-weight: lighter;
					margin-left: 90px;
					border-left: none!important;
					padding-left:0!important;
					max-width: 550px;
				}
			}
		}
	}
}