.expertise-list {
    margin-top: 50px;
    font-size: 15px;
    color: @color-tertiary;

    @media (max-width: @screen-sm-max) {
        font-size: 11px;
    }
}

.expertise-list-item {
    border: 1px solid white;

    .domain {
        background-color: @color-secondary;
        color: white;
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
        padding: 10px;

        img {
            display: block;
            margin: 0 auto;
            max-width: 90%;
        }

        @media (max-width: @screen-sm-max) {
            font-size: 15px;
            padding: 5px;
        }
    }

    .domain-name {
        &:before {
            content: '';
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto 10px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            @media (max-width: @screen-sm-max) {
                width: 60px;
                height: 60px;
            }
        }
    }

    .subdomains {
        color: @color-secondary;
        font-weight: 600;
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 20px 10px;

        li + li {
            margin-top: 15px;
        }

        @media (max-width: @screen-sm-max) {
            background-color: @color-secondary;
            color: white;
            padding: 10px;
            li + li {
                margin-top: 7px;
            }
        }
    }

    .description {
        text-align: justify;
        padding: 10px 0 10px 20px;

        @media (max-width: @screen-sm-max) {
            padding: 20px;
            line-height: 1.4;
        }

        .links {
            margin-top: 20px;
            .text-center;
            @media (min-width: @screen-md) {
                font-size: 13px;
            }
            a {
                text-decoration: underline;
                margin: 0 10px;
            }
        }
        .request {
            color: @color-primary;
        }
        .expertise {
            color: @color-secondary;
        }
    }

    @media (max-width: @screen-sm-max) {
        background-color: @color-secondary;
        border-color: @color-secondary;
        .make-row();
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
        display: inline-block;
        width: 100%;

        .domain {
          .make-xs-column(4);
        }

        .subdomains {
          .make-xs-column(8);
        }

        .description {
          .make-xs-column(12);
          background-color: #fff;
        }
    }

    @media (min-width: @screen-md) {
        display: flex;
        align-items: center;

        + .expertise-list-item {
            border-top: none;
        }

        .domain {
            align-self: stretch;
            flex: 1 1 25%;

            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
        }

        .subdomains {
            flex: 1 1 30%;
            align-self: stretch;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .description {
            flex: 1 1 45%;

            .links {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
}

.expertise-produits .domain-name:before { background-image: url("../images/produits-white.svg"); }
.expertise-transverse .domain-name:before { background-image: url("../images/transverse-white.svg"); }
.expertise-technologies .domain-name:before { background-image: url("../images/technologies-white.svg"); }
.expertise-disciplines .domain-name:before { background-image: url("../images/disciplines-white.svg"); }
