.person-list {
    list-style-type: none;
    padding: 0;
    margin-left: -10px;
    margin-top: -10px;
}

.person-wrapper {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(4);
    .make-lg-column(3);
    padding: 10px;
}

.person {
    border: 1px solid @color-primary;

    &-alt {
        border-color: @color-secondary;
    }

    padding: 15px;

    background-image: url('../images/logo/circles-gray.svg');
    background-repeat: no-repeat;
    background-position: 110% center;
    background-size: 150px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-weight: bold;
    color: @color-tertiary;
    line-height: 22px;

    .picture {
        margin-right: 15px;
        flex: 0 0 100px;
    }

    .content {
        min-height: 88px;
    }
}
