/**
 * Homepage Persona chooser
 */
.select-persona-wrapper {
	#gradient > .horizontal(@start-color: darken(@color-primary, 15%); @end-color: darken(@color-secondary, 15%); 50%; 50%);
	position: relative;

	.background-div {
		position: absolute;
		top: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-size: cover;
		&-left {
			left: 0;
			right: 50%;
			background-position: 30% 50%;
			background-image: url("../images/content/block/emindhub_persona-client.jpg");
		}
		&-right {
			right: 0;
			left: 50%;
			background-position: 60% 80%;
			background-image: url("../images/content/block/emindhub_persona-expert.jpg");
		}
	}
}
@media (min-width: @screen-lg-min) {
	.select-persona-wrapper {
		.background-div {
			&-right {
				background-position: 40% 50%;
			}
		}
	}
}

@emhlive-overlap: 160px;
@emhlive-mobile-overlap: 80px;

.select-persona {
	color: #fff;
	text-align: center;
	padding-bottom: calc(@emhlive-overlap + 85px);
	position: relative;

	&-title {
		font-size: 60px;
		line-height: 1.1;
		font-weight: 200;
		margin-top: 100px;
	}

	&-subtitle {
		font-size: 20px;
		margin-top: 10px;
	}

	&-buttons {
		margin-top: 70px;
		font-size: 13px;
		font-weight: 600;
		p {
			margin-top: 10px;
		}
	}

	.button {
		display: inline-block;
		text-transform: uppercase;
		color: #fff;
		min-width: 210px;
		width: auto;
		border-radius: 5px;
		padding: 17px 5px;
		text-decoration: none;
	}
}

@media (max-width: @screen-xs-max) {
	.select-persona {
		padding-top: calc(@emhlive-mobile-overlap + 35px);
		padding-bottom: calc(@emhlive-mobile-overlap + 35px);
		&-title {
			font-size: 25px;
		}
		&-subtitle {
			display: none;
		}
		&-buttons {
			white-space: nowrap;
			margin-top: 20px;
			font-size: 10px;
			p {
				display: none;
			}
		}
		.button {
			min-width: 130px;
			padding: 8px 5px;
		}
	}
}

.persona- {
	&customer {
		.button {
			background-color: @color-primary;
			&:hover {
				background-color: lighten(@color-primary, 5%);
			}
		}
	}
	&expert {
		.button {
			background-color: @color-secondary;
			&:hover {
				background-color: lighten(@color-secondary, 5%);
			}
		}
	}
}
