.pdf-link {
    text-decoration: underline;
    &:after {
        width: 26px;
        height: 26px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        background-image: url("../images/icons/pdf.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}

.press-page {

    h2 {
        font-weight: normal;
        color: @color-tertiary;
        font-size: 20px;
        margin: 30px 0;
    }

    .button {
        .emh-button
    }

    p {
        margin: 10px 0;
    }
}
