.pdf-link {
    text-decoration: underline;
}

.press-page {

    h2 {
        font-weight: normal;
        color: @color-tertiary;
        font-size: 20px;
        margin: 30px 0;
    }

    .button {
        .emh-button
    }

    p {
        margin: 10px 0;
    }
}
