.emh-module.references {
    .references-list {
        list-style-type: none;
        margin: 50px 0 0 0;
        padding: 0;
        text-align: center;
        img {
            margin: 0 auto;
        }
    }
    .slick-arrow {
        top: 50%;
        margin-top: -10px;
    }
    .slick-prev {
        left: -25px;
    }
    .slick-next {
        right: -25px;
    }
}
