.requests-slider {
    margin-top: 50px;
}

.requests-item-wrapper {
}

.requests-item {
    overflow: hidden;
    height: 200px;
    border: 1px solid @color-primary;
    padding: 15px 30px;
    margin-top: 20px;
}
