form#change-pwd-page-form {
  .form-type-password-confirm {
    .make-row();
  	margin-left: 0;
  	margin-right: 0;

    div.password-parent,
    div.confirm-parent {
      .make-md-column(6);
    }
    @media (min-width: @screen-md-min) {
      div.password-parent {
        padding-left: 0;
  			padding-right: 7.5px;
      }
      div.confirm-parent {
        padding-right: 0;
  			padding-left: 7.5px;
      }
    }
  }

 .form-group {
    .field-group-div;
  }
  .form-item-pass {
    > label {
      display: block;
      .emh-form-legend;
      .form-required {
        .text-hide;
      }
    }
  }
}
