form#emh-pcp-special-get-empty-fields-form {
  margin-top: (@jumbotron-padding / 2);
  float: left;
  width: 100%;
  .btn-group {
    width: 100%;
    margin-top: (@jumbotron-padding / 2);
    .text-center;
    .btn {
      float: none;
    }
  }
}
