#contact-site-form {
  > div {
    .make-row();

    .contact-left {
      .make-sm-column(4);
      .make-sm-column-offset(2);
      .make-lg-column(3);
      .make-lg-column-offset(3);
    }
    .contact-right {
      .make-sm-column(5);
      .make-lg-column(4);
    }

    .btn-group {
      clear: both;
      float: none !important;
      .make-xs-column(12);
      .text-center;

      .btn {
        margin: 30px auto 0;
        float: none;
      }
    }

    .form-mandatory {
      .text-center;
    }
  }
}
