form#emh-profile-complete-request-form {
  margin-top: (@jumbotron-padding / 2);
  float: left;
  width: 100%;

  > div {
    .make-row();

    > div {
      .make-md-column(4);

      &.btn-group {
        .make-md-column(12);
        margin-top: (@jumbotron-padding / 2);
        .text-center;


        @media (max-width: @screen-md-min) {
          float: none !important;
        }

        button {
          .btn-asphalt;
          float: none;
        }
      }
    }
  }

}
