.page-user-login {
	.form-mandatory {
		display: none;
	}
	.reg-option {
		clear: both;
		position: unset;
		.content {
			position: unset;
			top: unset;
			left: unset;
		}
	}
}

#block-hybridauth-hybridauth,
form#user-login,
form#user-login-form {
	.btn-group {
    float: none !important;
    padding: 0 !important;
  }

  .form-group {
    margin-bottom: @grid-gutter-width;
  }
  .form-group + .form-group {
    margin-bottom: 0;
  }

  .form-control {
    margin: 0 auto;
  }

	.login-links {
    margin-top: 10px;
    margin-bottom: 20px;
		.text-center;
    a {
      font-style: italic;
    }
  }

  button {
    .btn;
    padding: @padding-base-vertical @padding-base-horizontal !important;
    margin-top: 0 !important;
		width: 100%;
  }
}

#block-hybridauth-hybridauth,
form#user-login {
	> div {
    .make-row();

    > div {
      .make-sm-column(6);
      .make-sm-column-offset(3);
    }
  }
	button {
		max-width: 260px;
  }
	.hybridauth-widget-wrapper {
		.hybridauth-widget {
			a {
				max-width: 260px;
			}
		}
	}
}

form#user-login-form {
	.form-actions {
		margin: 0;
	}
	.form-group {
		//margin-bottom: 20px;
	}
	.form-control {
    max-width: 100%;
  }
}
