/* FORMS
 * Profile
 */

#edit-field-skills-set {
  @media (min-width: @screen-md-min) {
    tbody td:nth-child(2) {
      .make-row();
      .field-name-field-skill2 {
        .make-md-column(4);
        padding-right: 0;
      }
      .field-name-field-skill-autoeval {
        .make-md-column(4);
        padding-right: 0;
      }
      .field-name-field-year-of-experiences {
        .make-md-column(3);
        padding: 0;
      }
    }
    button.form-submit,
    input.field-add-more-submit {
      float: right;
      margin: 0;
    }
  }
}

form#user-profile-form {

  .link-field-subrow {
    .form-group-2col;
  }

  #edit-field-skills-set {
    @media (min-width: @screen-md-min) {
      tbody td:nth-child(2) {
        .field-name-field-skill2 {
          .form-item-inline-4-8;
        }
        .field-name-field-skill-autoeval {
          .form-item-inline-4-8;
        }
        .field-name-field-year-of-experiences {
          .form-item-inline-9-3;
        }
      }
    }
  }

  #edit-field-position-list {
    @media (min-width: @screen-md-min) {
      tbody td:nth-child(2) {
        .make-row();
        .field-name-field-position {
          .make-md-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-entreprise {
          .make-md-column(4);
          padding-right: 0;
          .form-item-inline-4-8;
        }
        .field-name-field-year-of-experiences {
          .make-md-column(3);
          padding: 0;
          .form-item-inline-9-3;
        }
      }
      button.form-submit,
      input.field-add-more-submit {
        float: right;
        margin: 0;
      }
    }
  }

  #edit-field-known-specific {
    @media (min-width: @screen-md-min) {
      clear: both;
      margin-left: 50%;
      padding-left: 15px/2;
    }
  }

  // Years of experience
	.field-name-field-year-of-experiences {
		.form-control {
			.text-center;
			max-width: 50px;
		}
	}

}
