body.front {
  // Hide page title
  &.not-logged-in {
    header#title .row {
      .hidden();
    }
  }
  &.logged-in {
    header#title .row .title {
      .hidden();
    }
  }

  &.not-logged-in {
    nav#main-nav {
			&.navbar-emh {
				&:after {
					.hidden();
				}
      }
    }

    .main-container {
      border-top: 0;

      section#maincol {
        padding-right: 0;
        padding-left: 0;
      }

      > header {
        background: transparent none;
        color: inherit;
        .alert {
          margin-top: 20px;
        }
      }
    }

    aside {
      margin-top: 25px;
    }

    @media (min-width: @screen-md-min) {
      #sidebar-first {
        padding-left: 0;
        padding-right: @grid-gutter-width;
      }
      #sidebar-second {
        padding-left: @grid-gutter-width;
        padding-right: 0;
      }
    }
  }

  &.logged-in {
    aside {
      margin-top: 0;
    }
  }

}

@media (min-width: @screen-md-min) {
  body.front.logged-in,
  body.front.logged-in.admin-menu {
    .main-container {
      section#maincol {
        margin-top: 0;
      }
    }
  }
}
