body.page-node-submission {
  h2 {
    margin-top: 0;
  }
  .section {
    margin-bottom: 0;
  }

  .date {
    font-style: italic;
    border-top: 1px solid #DDD;
    padding-top: 15px;
    display: block;
  }

  .col-sm-9 {
    .section:first-child {
      padding-top: 5px;
    }
  }

  #submission-flags {
    .text-right;
  }
}
