
.page-node-3621 {

  .main-container {
    .cover {
      width: 100%;
      height:410px;
      background: url("../images/content/node/buy-credits/BG_1.png") no-repeat;
      background-size: cover;
      position:absolute;
      z-index: -1;
    }
    #title {
      background-color: transparent;
      .title-left {
        float: none;
        width: 100%;
        margin:0;
        padding: 0;
        .title {
            margin: 0;
            background: transparent;

            h1.page-header {
              width: auto;
              height: 47px;
              padding:0!important;
              margin-right: 15%;
              @media (max-width: @screen-xs-min) {
                margin-right: 18px;
                margin-left: 18px;
              }
              margin-top: 25px;
              float: right;
              font-size: 35px!important;
              font-weight: bold;
              text-align: right;
              color: #ffffff;
            }
          }
        }
      }
    .container {
      width: 100%;
      padding:0;

      .row {
        margin: 0;
      }

      #maincol {
        padding: 0!important;
        .line {
          width: 301px;
          height: 1px;
          background-color: #ffffff;
          margin-top: 6px;
          float: right;
          margin-right: 15%;
          @media (max-width: @screen-xs-min) {
            margin: 0 18px;
            width: 135px;
          }
        }
        .text-buy-credits {
          color: #ffffff;
          float: right;
          font-size: 16px;
          font-weight: 600;
          margin-right: 15%;
          @media (max-width: @screen-xs-min) {
            margin: 0 18px;
          }
          padding: 26px 0 0;
          text-align: right;
        }
        .blocks-buy-credits {
          position: relative;
          width: 100%;
          @media (min-width: @screen-xs-min) {
            width: 480px;
          }
          @media (min-width: @screen-md-min) {
           width:960px;
          }

          margin-right: auto;
          margin-left: auto;
          .most-popular {
            position: absolute;
            top: 0;
            left: 7px;
            width: 49px;
            height:55px;
            background: url("../images/picto/picto-most-popular.png") no-repeat 0 0;
          }
          .block-buy-credits {
            position: relative;
            text-align: center;
            margin-top: 54px;
            margin-left: 37px;
            float: left;
            @media (max-width: @screen-xs-min) {
              margin: 54px auto;
              float: none;
            }
            padding-top: 29px;
            width: 196px;
            height: 196px;
            /*.make-sm-column(3);*/
            border-bottom-left-radius: 14px;
            border-bottom-right-radius: 14px;
            background-color: #ffffff;
            box-shadow: 0 16px 23px 0 rgba(24, 106, 150, 0.27);
            .credits {
              color: #0a2c3f;
              display: inline-block;
              font-size: 40px;
              font-weight: bold;
              height: 25px;
              line-height: 0.63;
              margin-left: 30px;
              position: relative;
              text-align: center;
              width: auto;
            }

            .up-credits {
              color: #0a2c3f;
              display: inline-block;
              font-size: 12px;
              font-weight: 300;
              height: 17px;
              position: relative;
              right: 0;
              top: -20px;
              width: auto;
              opacity: 0.8;
            }
            .tile {
              width: 30px;
              height: 2px;
              background-color: #197797;
              margin:12px auto 12px;
              opacity: 0.5;
            }
            .credit-price {
              width: 100%;
              height: 33px;
              font-size: 24px;
              font-weight: 600;
              text-align: center;
              color: #197797;
              margin-bottom: 24px;
            }
            .button-buy-credits{
              width: 121px;
              height: 35px;
              padding: 5px 20px 8px;
              border-radius: 100px;
              border: solid 1px #0a2c3f;
              font-size: 18px;
              text-align: center;
              color: #0a2c3f;
              text-decoration: none;
              &:hover {
                background-color: #0a2c3f;
                color: #fff;
              }

            }

          }
        }
        .text-bottom-buy-credits {
          width: 612px;
          @media (max-width: @screen-sm-min) {
            width: 100%;
          }
          height: auto;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          color: #0a2c3f;
          margin: 37px auto 30px;
          padding:0 15px;
        }
      }
      .container {

      }
    }
  }
}
