body.page-publications {
  .view-display-id-publications_page {
    .make-row();

    .publications-item-wrapper {
      .make-md-column(3);
      padding: 0 10px;
      margin-bottom: 20px;

      @media (min-width: @screen-md-min) {
        width: 20%;
      }
    }
  }
}
