/* Page About us */
.page-node-267 {
  .node {
    .content {
      h2 {
        .emh-subtitle;
        margin: 0 0 @grid-gutter-width;
      }
      #who-we-are-team,
      #who-we-are-sponsors {
        h3 {
          .emh-subtitle;
          .text-left;
        }
      }
      #who-we-are-team {
        margin-top: @grid-gutter-width;
      }
      #who-we-are-sponsors {
        margin-top: 0;
      }
    }
  }
}
