/* Page How it works */
.page-node-268 {
  .node {
    .content {
      h2 {
        .emh-subtitle;
        margin: 0;
      }

      .testimonial-subtitle {
        margin-top: 50px;
      }
      .testimonial {
        margin-top: @grid-gutter-width;
      }

      .faq {
        clear: both;

        .question,
        .answer {
          .text-left;
        }
      }

      .hiw-customer {
        .testimonial-tabs {
            padding: 10px 0;
        }
      }

      .hiw-expert {
        .faq {
          .emh-subtitle {
            margin-top: 50px;
          }
        }
        .question {
          background-color: @color-secondary;
        }
      }
    }
  }
}
