// New styles
.field-list-item {
  .field-item {
    display: inline-block;
    margin-right: 5px;
    &:after {
      content: ",";
    }
    &:last-child {
      margin-right: 0;
      &:after {
        content: "";
      }
    }
  }
}

.field-list-border {
  padding-bottom: (@grid-gutter-width / 2);
  margin-bottom: (@grid-gutter-width / 2);
  border-bottom: 1px dotted #CECECE;

  &:last-child {
    padding-bottom: inherit;
    margin-bottom: inherit;
    border: 0;
  }
}

.total-wrapper {
  .make-row();
  padding-top: (@grid-gutter-width / 2);
  padding-bottom: (@grid-gutter-width / 2);
  .text-right;
  font-weight: bold;
  .total-label {
    .make-md-column(10);
  }
  .total {
    .make-md-column(2);
    color: @emerald-base;
  }
}

.request-type-infos {
  .emh-title-image;
}

.view-request-submissions {
  .views-bootstrap-grid-plugin-style {
    .row {
      margin: 0 0 (@grid-gutter-width / 2);
    }

    .col {
      .make-row();
      margin: 0;

      .emh-submission-row;

      &:last-child {
        margin-bottom: 0;
      }

      h3 {
        margin-top: 0;
      }

      .views-field-emh-author {
        .make-md-column(3);
        padding-left: 0;

        .user-cartouche {
          margin-bottom: 0;

          .cartouche-inverse;
        }
      }

      .views-field-emh-answer,
      .views-field-field-comment-answer,
      .views-field-emh-submission-flags {
        .make-md-column(9);
      }
    }
  }
}

.view-request-submissions.view-display-id-page_my_answers {
  .views-bootstrap-grid-plugin-style {
    .col {
      .views-field-emh-answer,
      .views-field-field-comment-answer,
      .views-field-emh-submission-flags {
        .make-xs-column(12);
      }
    }
  }
}

// node/add/request
// node/%/edit
body.page-node-add-request,
body.node-type-request.page-node-edit {
  form#request-node-form {
    h2 {
      .emh-form-h2;
    }

    .section {
      background-color: transparent;
      padding: 0;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      &.step1 h2:before {
        content: "1";
      }
      &.step2 h2:before {
        content: "2";
      }
      &.step3 h2:before {
        content: "3";
      }
      &.step4 h2:before {
        content: "4";
      }
      &.step5 h2:before {
        content: "5";
      }
    }

    .step2 {
      .emh-prepopulate-type-help {
        .alert; .alert-info;
        clear: both;
      }
    }

    .form-group {
      clear: both;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    #edit-field-options {
      > .form-group {
        .make-row();
        margin-bottom: 0;
        padding-top: (@grid-gutter-width / 2);
        padding-bottom: (@grid-gutter-width / 2);
        border-bottom: 1px dotted #CECECE;

        > .form-item {
          .make-xs-column(12);
          .make-sm-column(3);

          label {
            font-weight: bold;
          }
        }
        > .form-item-description {
          .make-xs-column(9);
          .make-sm-column(7);
        }
        > .cost {
          .make-xs-column(3);
          .make-sm-column(2);
          .text-right;
          font-weight: bold;
        }
      }
    }
    .request-option-anonymous {
      .make-row();
      > .form-group {
        .make-sm-column(3);
        clear: none;
      }
    }

    #edit-field-request-type {
      .form-radios {
        .make-row();
        > div {
          .make-sm-column(4);

          &:last-child:nth-of-type(7) {
            @media (min-width: @screen-sm-min) {
              margin-left: 33.33%;
            }
          }
        }
      }
      .request-type {
        margin-bottom: (@grid-gutter-width / 2);

        > .form-type-radio {
          .btn; .btn-default;
          display: block;
          white-space: normal;
          margin: 0;

          padding: (@grid-gutter-width / 2);
          .text-left;

          @media (min-width: @screen-sm-min) {
            min-height: 60px;
          }

          &.active {
            border-color: @brand-primary;
          }
        }

        input {
          display: none;
        }

        label {
          .make-row();
          margin: 0;
          padding: 0;
          width: 100%;

          @media (min-width: @screen-sm-min) {
            .text-center;
          }

          > a {
            .make-row();
            margin: 0;
            display: block;
            color: inherit;
          }

          .term-image {
            .make-xs-column(2);
            .make-md-column(12);
          }

          .term-name {
            .make-xs-column(10);
            .make-md-column(12);
            .h3;
            margin-top: 0;
            margin-bottom: 5px;

            @media (min-width: @screen-sm-min) {
              margin-top: 10px;
            }
          }

          .term-description {
            .make-xs-column(10);
            .make-md-column(12);

            p {
              margin: 0;
            }
          }
        }
      }
    }

    #edit-title-field,
    #edit-field-request-questions {
      .form-control:not(textarea),
      .input-group:not(.file-widget) {
        max-width: 100%;
      }
    }

    #edit-field-request-questions {
      table tbody label {
        .hide();
      }
      .field-add-more-submit {
        .btn-info;
      }
    }
  }
}

body.page-node-publish {
  .section {
    background-color: transparent;
    padding: 0;
    margin-bottom: 50px;
  }
  .node-request.node-unpublished {
    margin-bottom: (@grid-gutter-width / 2);
  }

  table thead tr th,
  table tbody tr td {
    &:last-child {
      .text-right;
    }
  }

  form#emh-request-publication-form {
    margin-top: (@grid-gutter-width / 2);
  }
}

body.page-node-publish,
body.node-type-request:not(.page-node-edit) {
  .section {
    .make-row();
    margin-bottom: 0;
  }
  .request-left {
    .make-md-column(8);
  }
  .request-right {
    .make-md-column(4);
  }

  .section.request {
    .field {
      padding: 0 0 (@grid-gutter-width / 2);
      .field-list-border;
    }
  }

  .field-name-body {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .field-name-field-domaine,
  .field-name-field-tags,
  .field-name-og-group-ref {
    .field-list-item;
  }

  .field-name-field-request-documents {
    .field-item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .field-name-field-image {
    img {
      .center-block;
    }
  }
}

body.node-type-request:not(.page-node-edit) {
  // Overrides
  .main-container {
    background-color: @blue-base;
  }

  .main-container > header {
    background-image: none;
  }

  #maincol {
    padding-top: 0;
  }

  .region-title-right,
  .title-right {
    @media (min-width: @screen-md-min) {
      padding-top: 25px;
    }
  }

  // Global
  .section.request,
  .section.user-submission {
    background-color: #FFF;
  }

  // Request
  .section.request {
    .user-cartouche {
      clear: both;
    }
  }

  // Questionnaire
  .field-questionnaire {
    h4 {
      font-weight: bold;
      margin-top: 0;
    }
    .request-questionnaire {
      list-style: none;
      padding: 0;
      li {
        padding: 10px (@grid-gutter-width / 2);
        background-color: @gray-lighter;
        margin-bottom: 10px;
        span {
          margin-right: 5px;
          color :@brand-primary;
          font-weight: bold;
        }
      }
    }
  }

  // User submission
  .user-submission {
    padding: (@grid-gutter-width / 2);
    > div {
      padding: (@grid-gutter-width / 2);
    }

    .submission-answer {
      .emh-submission-answer;
    }

    .user-submission-title {
      margin-bottom: 10px;
    }
    h3 {
      .h4;
      margin: 0;
      font-weight: bold;
    }
  }

  // Submissions
  .submissions {
    .vbo-select-all-markup {
      color: #FFF;
    }

    .submissions-title {
      background-color: @blue-dark;
      padding: (@grid-gutter-width / 2);
      margin: 0 0 20px;
    }

    h2 {
      color: #FFF;
      margin: 0;
      padding: 0;

      .submission-count {
        font-weight: normal;
      }
    }

    .submissions-private-info {
      .text-right;
      font-style: italic;
    }
  }

  form#views-form-request-submissions-block-request-submissions {
    fieldset {
      border: 0;
      background-color: transparent;
      box-shadow: none;
    }
    fieldset#edit-select {
      legend {
        .hide();
      }
      .panel-body {
        padding: 0;
      }
      button {
        .btn-primary;
      }
    }

    .views-field-views-bulk-operations {
      position: absolute;
      z-index: 100;
    }

    .views-field-emh-author {
      padding-left: @grid-gutter-width;
    }

    // VBO confirmation form
    &.confirmation {
      > div {
        background: #FFF;
        color: #333;
        padding: (@grid-gutter-width / 2);
      }
    }
  }
}
