.circle-body {
  font-size: 1.1em;
  .col-sm-12 {
    padding: 0;
  }
}
.circle-subscribe {
  .text-right;
  a {
    .btn;
    &.subscribe {
      .btn-primary;
    }
    &.unsubscribe {
      .btn-default;
    }
  }
}
.view-circles {
  h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .circle-body {
    margin-top: 15px;
  }
  > * > * > .row {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
