.page-user {
	.user-cartouche {
    .text-left;

		.cartouche-identity,
		.cartouche-activity {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.cartouche-activity {
			margin-left: 0;
      margin-right: 0;
		}

    .user-photo {
      .make-md-column(2);
      padding-top: 0;

      img {
        width: 100px;
        height: 100px;
      }
    }

		.country,
		.user-country {
			text-transform: uppercase;
		}

    .user-identity,
    .user-mail,
    .user-country,
    .user-phone-number,
    .user-mobile-number,
    .user-social-networks,
    .user-address {
      padding: 0;
      margin: 0;
      float: none;
      display: block;
      line-height: @line-height-base * @line-height-base;

      * {
        padding: 0;
        margin: 0;
      }
    }

    .col-md-3,
    .col-md-4 {
      > span:first-child {
        margin-top: 15px;
      }
    }
	}

	.profile-section {
		.make-row();
    margin: 0;

		> .field {
			.make-sm-column(12);
		}

		margin-bottom: 15px;
		background-color: @body-bg;
		.emh-fieldgroup-blue-title;

    border-bottom: 1px solid @body-bg-inverse;
    > h2 {
      border-bottom: 1px solid @body-bg-inverse;
      margin-bottom: 0;
    }
    > .field {
      border-left: 1px solid @body-bg-inverse;
      border-right: 1px solid @body-bg-inverse;

      &:first-of-type {
        padding-top: 15px;
      }
    }

		.form-group {
			margin-bottom: 0;
		}

		> .field,
		> .field-type-field-collection {
			padding-bottom: 15px;

			.field-label {
				margin-bottom: 5px;
			}
		}

		.field-type-field-collection {
			> .field-items > .field-item + .field-item {
				margin-top: 5px;
			}
		}

		.field-name-field-photo {
			.make-sm-column(2);
			img {
				.img-circle;
				.center-block;
				max-width: 100px !important; // jquery.Jcrop.js
				max-height: 100px !important; // jquery.Jcrop.js
			}
		}

		.field-name-field-address {
			.field-item {
				.make-row();
				> * {
					.make-sm-column(3);
				}
			}
			.addressfield-phone-block {
				.make-sm-column(12);
				.make-row();
				.phone-number {
					.make-sm-column(3);
				}
				@media (min-width: @screen-sm-min) {
					margin: 0;
					padding: 0;
				}
			}
		}

		.field-name-field-link-to-my-blog {
			background-color: #EFF1F3;
			padding: 15px;
		}

    &.group-organisation {
      .field-name-field-entreprise {
        .field-item {
          .h3;
          margin-top: 0;
          font-weight: bold;
        }
      }
    }

		.field-name-field-domaine,
		.field-name-field-specific-skills3 {
			.field-items {
				> .field-item {
					.emh-badge-term;
          .emh-badge-term-inactive;
				}
			}
		}

		.field-name-field-skills-set {
      .field-name-field-skill2 {
        .emh-badge-term;
        .emh-badge-term-inactive;
      }

      .field-name-field-skill-autoeval {
        .emh-badge-term;

        .fivestar-summary {
          .hide-text;
        }
      }

			.field-name-field-year-of-experiences {
				.emh-year-of-experiences;
			}
		}

		.field-name-field-position-list {
			.field-item .content {
				.field-name-field-year-of-experiences {
					.emh-year-of-experiences;
				}
			}

      .field-name-field-position,
      .field-name-field-entreprise {
        .emh-badge-term;
      }
		}

		@media (min-width: @screen-sm-min) {

			.field-name-name {
				clear: both;
			}

			.field-name-field-domaine {
				.field-items {
					.make-row();
					margin: 0;
					> .field-item {
						.make-sm-column(4);
					}
				}
			}

			.field-name-field-tags {
				padding: 0;
			}

			.field-name-field-skills-set {
				.field-item .content {
					.make-row();
					margin: 0;

					.field-name-field-skill2 {
						.make-sm-column(4);
					}

					.field-name-field-skill-autoeval {
						.make-sm-column(3);
					}

					.field-name-field-year-of-experiences {
						.make-sm-column(4);
						.form-item-inline-6-6;
					}
				}
			}

			.field-name-field-position-list {
				.field-item .content {
					.make-row();
					margin: 0;

					.field-name-field-position {
						.make-sm-column(4);
					}
					.field-name-field-entreprise {
						.make-sm-column(3);
					}
					.field-name-field-year-of-experiences {
						.make-sm-column(4);
						.form-item-inline-6-6;
					}
				}
			}
		}
	}
}
