.page-my-circles {
  .view-header {
    background-color: @lightGrey;
    padding: 15px 15px 0;

    .form-type-textfield {
      display: inline-block;
    }

    input[type=text] {
      display: inline-block;
    }
  }

  .views-exposed-widget select {
    margin-left: 1em;
  }

  .views-field-title {
    display: none;
  }

  .views-field-created {
    background-color: @lightGrey;
  }

  .view-circle-members {
    margin-bottom: 1.5em;
  }
}

#views-form-circle-members-block-2 {
  .row {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
	.views-field-field-photo {
		img,
    span {
			.img-circle;
			.center-block;
		}
    span {
      background-color: @lightGrey;
      width: 110px;
      height: 110px;
    }
	}
	.views-field-nothing {
		font-weight: bold;
		margin-bottom: 10px;
	}
	@media (min-width: @screen-sm-min) {
		.views-row {
			.make-row();
			> * {
				.make-sm-column(6);
			}
		}
		.views-field-field-photo {
			.make-sm-column(6);
		}
	}
}
