.webform-component {
	> label {
		display: block;
		margin-top: (@grid-gutter-width / 2);
		padding-top: (@grid-gutter-width / 2);
		border-top: 1px solid #DDD;
	}
	&:first-of-type {
		> label {
			margin: 0;
			padding: 0;
			border: 0;
		}
	}
}

body.node-type-request:not(.page-node-edit) .user-submission form,
form.webform-client-form {
  // #edit-field-skills-set {
  //   @media (min-width: @screen-md-min) {
  //     tbody td:nth-child(2) {
  //       .field-name-field-skill2 {
  //         .make-md-column(4);
  //         padding-left: 0;
  //       }
  //       .field-name-field-skill-autoeval {
  //         .make-md-column(3);
  //         padding-left: 0;
  //       }
  //       .field-name-field-year-of-experiences {
  //         .make-md-column(3);
  //         padding-left: 0;
  //       }
  //     }
  //   }
  // }
  fieldset {
    margin: (@grid-gutter-width / 2) 0;
    padding: (@grid-gutter-width / 2);
    background-color: @emerald-base;
    color: #FFF;
  }

  .user-submission-option-private-info {
    clear: both;
    display: block;
    font-style: italic;
    margin: 10px 0;
  }
}
