@import "variables.less";

body {
    font-family: Lato !important;
    color: @darkBlue !important;
}

.banniere {
    line-height: 4.25em;
    background: @lightBlue url(../images/banniere.png) no-repeat center center;
}

.dark-blue-line {
    background-color: @darkBlue;

    &-large {
        background-color: @darkBlue;
        line-height: 3.125em;
    }
}

.text-normal {
    font-weight: normal !important;
}

.filters {
    padding-top: 1em;
    background-color: @lightGrey;

    + .filters {
        padding-bottom: 1em;
    }

    input[type=checkbox] {
        margin-left: .5em;
        margin-right: .5em;
    }
}

.text-banniere {
    padding-top: 2.375em;
    height: 10.188em;
    line-height: 1.2em;
    font-size: 2em;
    color: @white;

    p {
        color: @softBlue !important;
        margin: 0;
        padding: 0;
    }
}

.title {
    font-size: 1.25em;
    text-align: center;
}

.inline {
    display: inline;
}

.text-right {
    text-align: right;
}

.upper {
    text-transform: uppercase;
}

.challenge-title {
    .upper;
    .light-blue-text;
    .bold;
    font-size: 1.250em;
}

.blue {
    color: @lightBlue;
}

.light-blue-text {
    color: @lightBlue !important;
}

.dark-blue-text {
    color: @darkBlue;
}

.yellow-text {
    color: @expertYellow;
}

.news {
    font-size: 1.125em;
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.header {
    text-transform: uppercase;

    &-emindhub {
        padding-bottom: 1.5em;
    }

    &-separator {
        background: url(../images/grid.png) no-repeat 57% 99%;
    }
}

.ondes-background {
    background: url(../images/ondes.png) no-repeat center center;
}

.shadow {
    border-bottom: 2px @white solid;
    -webkit-box-shadow: 0 8px 6px -6px @black;
    -moz-box-shadow: 0 8px 6px -6px @black;
    box-shadow: 0 8px 6px -6px @black;
}

.noPadding {
    padding: 0 !important;
}

.noPaddingUD {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.paddingUD {
    padding-top: 1.18em;
    padding-bottom: 1.18em;
}

.softPaddingUD {
    padding-top: .3em;
    padding-bottom: .3em;
}

.paddingU {
    padding-top: .7em;
}

.paddingD {
    padding-bottom: 1em;
}

.paddingL {
    padding-left: 1em;
}

.paddingR {
    padding-right: 1em;
}

.paddingLR {
    .paddingL;
    .paddingR;
}

.marginU {
    margin-top: 1em;
}

.marginR {
    margin-right: 1em;
}

.border-light {
    border: 1px @softGrey solid;
    margin: .5em;
}

.form-control {
    display: inline !important;

    &:not(.search-input) {
        width: auto !important;
    }
}

.required:not(select .chosen-container) {
    display: inline !important;
    margin-left: .5em;
}

input {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

input:not([type=submit]) {
    background-color: @softGrey !important;
}

.search-input {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAiwAAAIsBRmWzPwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHrSURBVDiNzZQ9axRRFIafM7OLuxNJUgQDBm0Ef0EKKwvRIiuKQTOT3c1OLEQ7EcHK3iY2pnLLJOusO4gKI2lEkSUgGI3+AgutLYz7oSQ7x8LZMMaZ1WChb/Wee9/73HO4cOF/l6RteJ43voV5yhAmEGn3erycL81siIjuCVgNAstqdxZU5TKQ2bW9rhhX5osX3v4RsBoEVq7VfSZwLLa8CQwBZlR3QkOnLjpOMwloxAur3VnYgQmBGZpH3KI90t2fHwa9DnQBywjFr9VqwwM79DxvfFsyH4EsQuDO2md3h1e8xjkVefTjoN6oFJ3bqR32jOxJIAtg9sxrSbdXSs5j4AWAIlMDR1b0UGQ/l8vn3yeFAUTZiOzhgUBUv0RuqBoEVhoQkQOR+zQQaIi+imwm3+pcSgov+f6EomcAFNYHAsuO8xr648itlbp/Oh6s1+sHpcd9YARAMGqJA8SL5fqDSQibQD5aeirKuxAdE0OmUUZj8bWcyZRt261UIMCy559AaABjSR38dFhp6vbXguu67V9G7sst2c/NcOuooDeBNeCDCG9A7oYhkwhBP6vCcTK5IP6IqZ9DmhZXV/eNbrYeohR2ICJzldmZe4kd/k5XC4VvOYNp4AmAKnf6sL+S7/v5Ja8xp6p7nvLf6jtscZ6Dbr0EvQAAAABJRU5ErkJggg==) no-repeat 97% 50% !important;
}

.hr {
    &-dark {
        //        margin: .625em;
        margin: .625em 0;
        position: float;
        width: 100%;
        height: 2px;
        background: @darkBlue;
        vertical-align: middle;
    }

    &-light-grey {
        margin: .625em 0;
        position: float;
        width: 100%;
        height: 1px;
        background: @hrLightGrey;
        vertical-align: middle;

        &-dashed {
            border: 0;
            border-bottom: 1px dashed @hrLightGrey;
        }
    }

    &-light {
        //        margin: .625em;
        margin: .625em 0;
        position: float;
        width: 100%;
        height: 2px;
        background: @lightBlue;
        vertical-align: middle;

        &-dashed {
            border: 0;
            border-bottom: 1px dashed @lightBlue;
        }
    }
}

.center-text {
    text-align: center;
}

.footer {
    margin-top: .5em;
    padding-top: .5em;
    font-weight: bold;
    background-color: @lightGrey;
    height: 7em;

    a {
        color: @lightBlue;
        text-decoration: underline;
    }

    .copyright {
        color: @copyrightTextColor;
    }
}

.ombre {
    border-bottom: .2em;
    box-shadow: 1px 1px 12px @darkGrey;
}

-wrapper {
    .news& {
        border: 1px solid @softGrey;
        text-align: center;
    }

    .text& {
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .title& {
        margin-top: 1.063em;
        margin-bottom: 1.063em;
    }

    .subtitle& {
        margin-top: 3.25em;
        margin-bottom: 1.125em;
    }

    .little& {
        margin-top: 1.438em;
    }

    .inscription-image& {
        padding-top: 1.2em;
        text-align: right;
    }

    .welcome& {
        margin-top: -1.5em;
        text-transform: uppercase;

        .col-md-6 {
            background-color: @white;
            font-size: 1.5em;
            padding-top: .3em;
        }

        .col-md-2 {
            color: @white;
            font-size: 0.688em;
            margin-top: -.7em;
        }
    }
}

.contact-us {
    background: url(../images/mailIcon.png) no-repeat;

    a {
        color: @lightBlue;
        padding-left: 1em;
    }
}

.form {
    &-wrapper {
        padding-bottom: 0.5em;
    }

    &-control-custom {
        width: 73%;
        display: inline;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: @darkGrey;
        background: @white none;
        border: 0 !important;
        border-radius: @borderRadius;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

        &:not(select) {
            display: inline;
            width: 90%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: @darkGrey;
            background: @white none;
            border: 0 !important;
            border-radius: @borderRadius;
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    }
}

-menu {
    .selected& {
        font-size: 1.5em;
        background-color: @lightBlue;
    }
    .user& {
        text-transform: uppercase;
    }
}

.inside-shadow {
    -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.3) inset;
}

.ligh-blue-line {
    background-color: @lightBlue;
}

.select-form {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: @softGrey !important;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 240px;

    background-color: #3b8ec2;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    select {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 29px;
        padding: 5px; /* If you add too much padding here, the options won't show in IE */
        width: 268px;
        color: #fff;
    }
}

.language-select {
    height: 2em;
    overflow: hidden;
    width: 8.5em;
    background: @lightBlue url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAeCAYAAAAo5+5WAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB4SURBVHja7NMxCoBADAXRudaCIAueyCulCaRKLyh4sLVREEFEVwshgak+vC6UUvgiAg444ID/BPfl+vrbMJBEZDgTRWQA0hMYoFHV8Yiq6gg0AE9hgNbMpg01swlot7EGBsjuPrv7DOT9UAsDdGtUwfEgAQf8UssA6WVwSHIEQ/cAAAAASUVORK5CYII=) no-repeat 96% 0;
    color: @white;
    -webkit-border-radius: 0.213em;
    -moz-border-radius: 0.213em;
    border-radius: 0.213em;

    .row.paddingUD {
        display: none;
    }

    select {
        background: transparent;
        border: none;
        font-size: 1em;
        height: 2em;

        padding: 0.313em 0.313em 0.313em 1.5em;

        width: 5.313em;
        text-transform: uppercase;

        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: "";

        option {
            text-transform: uppercase;
            background-color: @lightBlue;
        }
    }

    .language-icon {
        float: left;
        position: absolute;
        top: 0.619em;
        margin-left: 0.3em;
    }

    .block.block-locale.collapsiblock-processed {
        display: none;
    }
}

.expert {
    background-color: @expertYellow !important;
}

table {
    thead {
        border-bottom: 1px dashed @lightBlue;
        line-height: 3em;
    }

    tbody {
        border-top: none;
    }
}

table thead th,
.table-header {
    margin-top: 1.5em;
    text-align: center;
    color: @lightBlue;
    font-weight: bold;
    border: none;
}

table td {
    text-align: left;
}

table thead th a,
.table-header a {
    color: @lightBlue !important;
}

table tbody tr,
.table-content {
    text-align: center;
    line-height: 3em;
    border: none;
}

table tbody:before {
    /* This doesn't work because of border-collapse */
    line-height: 1em;
    content: "_";
    color: white;
    display: block;
}

table tbody tr:nth-child(odd),
.table-content:nth-child(odd) {
    background-color: @lightYellow;
}

table tbody tr:nth-child(even) {
    background-color: @white;
}

/* Surcharge nice-menu */
.nice-menu {
    li .menu-3638 {
        background-image: url(../images/askQuestion.png);
    }
    li .menu-3477 {
        background-image: url(../images/answerQuestion.png);
    }
    text-transform: uppercase;
    a {

        position: absolute;
        margin-left: 8.875em;
        margin-top: 4.125em;
        font-size: 1.125em;

        p {
            //            display: inline;
            .bold;
        }
    }
}

.menu {
    &-3475 {
        background: url(../images/answerQuestion.png) @softGrey no-repeat 7% 50% !important;
        height: 11.625em;
        padding: .7em !important;
        a {
            .dark-blue-text;
            /*color: @darkBlue !important;*/
        }
    }

    &-3476 {
        background: url(../images/answerChallenge.png) @softGrey no-repeat 7% 50% !important;
        height: 11.625em;
        padding: .7em !important;
        a {
            .dark-blue-text;
            /*color: @darkBlue !important;*/
        }
    }

    &-3477 {
        background: url(../images/answerExpertCall.png) @softGrey no-repeat 7% 50% !important;
        height: 11.625em;
        padding: .7em !important;
        a {
            .dark-blue-text;
            /*color: @darkBlue !important;*/
        }
    }

    &-3659 {
        background: url(../images/answerChallenge.png) @softGrey no-repeat 7% 50% !important;
        height: 11.625em;
        padding: .7em !important;
        a {
            .dark-blue-text;
            /*color: @darkBlue !important;*/
        }
    }

    &-3660 {
        background: url(../images/answerExpertCall.png) @softGrey no-repeat 7% 50% !important;
        height: 11.625em;
        padding: .7em !important;
        a {
            .dark-blue-text;
            /*color: @darkBlue !important;*/
        }
    }

    &-3661 {
        background: url(../images/answerQuestion.png) @softGrey no-repeat 7% 50% !important;
        height: 11.625em;
        padding: .7em !important;
        a {
            .dark-blue-text;
            /*color: @darkBlue !important;*/
        }
    }

    &-3638 {
        background: url(../images/findExpert.png) @softGrey no-repeat 7% 50% !important;
        height: 11.625em;
        padding: .7em !important;
    }

    &-3639 {
        background: url(../images/launchChallenge.png) @softGrey no-repeat 7% 50% !important;
        height: 11.625em;
        padding: .7em !important;
    }

    &-3640 {
        background: url(../images/askQuestion.png) @softGrey no-repeat 7% 50% !important;
        height: 11.625em;
        padding: .7em !important;
    }
}

.popup {
    display: block;
    float: left;
    position: static;
    top: 0;
    left: 0;
    width: 40em;
    height: 15em;
    background-color: @darkBlue;
    color: @white;

    .social-network {
        padding-left: 3em;
        height: 1.813em;
        width: 15.125em;
        -webkit-border-radius: @borderRadius;
        -moz-border-radius: @borderRadius;
        border-radius: @borderRadius;
        margin-top: .5em;
    }

    .facebook-login {
        background: @facebookColor url(../images/facebook.png) no-repeat 7% 50%;
        .social-network;
    }

    .twitter-login {
        background: @twitterColor url(../images/twitter.png) no-repeat 3.9% 50%;
        .social-network;
    }

    .linkedin-login {
        background: @linkedinColor url(../images/linkedin.png) no-repeat 5.4% 50%;
        .social-network;
    }

    .form-control-custom {
        height: auto !important;
    }
}

.row.paddingUD h2 {
    font-size: 1.125em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.region-burgermenu {
    display: none;
    background-color: @burgerMenuBackground;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    color: @burgerMenuBackground;
    width: 18.75em;
    overflow-y: auto;

    .global-filter {
        color: white;
        margin-left: 1.875em;
        margin-right: 1.875em;

        input[type=submit] {
            background-color: @lightBlue;
            border: 0 !important;
            margin-bottom: .5em;
        }

        .form-type-checkbox {
            display: block;
        }
    }

    /*=========CHECKBOXES BURGER MENU============*/
    [type="checkbox"] {
        &:disabled {
            &:not(:checked) + label:before,
            &:checked + label:before {
                box-shadow: none;
                border-color: #bbb;
                background-color: #ddd;
            }

            &:checked + label:after {
                color: #999;
            }

            & + label {
                color: #aaa;
            }
        }

        &:not(:checked),
        &:checked {
            position: absolute;
            left: -9999px;

            & + label {
                position: relative;
                padding-left: 25px;
                cursor: pointer;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 2px;
                    width: 17px;
                    height: 17px;
                    border: 1px solid @softGrey;
                    background: transparent;
                    border-radius: @borderRadius;
                    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
                }

                &:after {
                    content: '✔';
                    position: absolute;
                    top: 0;
                    left: 3px;
                    font-size: 14px;
                    color: @lightBlue;
                    line-height: 1.75;
                    -webkit-transition: all .2s;
                    -moz-transition: all .2s;
                    -ms-transition: all .2s;
                    transition: all .2s;
                }
            }
        }

        &:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
        }

        &:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
    /*=========END CHECKBOXES BURGER MENU============*/
}

.my {
    &-contributions {
        background: url(../images/bmCrayon.png) 0% 50% no-repeat;
        .burger-menu-links-common;
    }

    &-dashboard {
        background: url(../images/bmComputer.png) 0% 50% no-repeat;
        .burger-menu-links-common;
    }

    &-drafts {
        background: url(../images/bmNotepad.png) 0% 50% no-repeat;
        .burger-menu-links-common;
    }

    &-articles {
        background: url(../images/bmToolbox.png) 0% 50% no-repeat;
        .burger-menu-links-common;
    }

    &-selections {
        background: url(../images/bmMenu.png) 0% 50% no-repeat;
        .burger-menu-links-common;
    }

    &-working-groups {
        background: url(../images/bmPeoples.png) 0% 50% no-repeat;
        .burger-menu-links-common;
    }

    &-circles {
        background: url(../images/bmCricles.png) 0% 50% no-repeat;
        background-size: 20px;
        .burger-menu-links-common;
    }

    &-responses {
        background: url(../images/bmAnswer.png) 0% 50% no-repeat;
        background-size: 20px;
        .burger-menu-links-common;
    }
}

.burger-menu-links-common {
    padding-left: 2em;
    line-height: 2.3em;
    display: inline-block;
    height: 2.3em;
}

.burgermenu-title {
    color: @lightBlue;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.125em;
    margin-left: 1.875em;
    display: inline-block;
}

.burger-menu-btn-container {
    cursor: pointer;
    padding: 0.39em;
    width: 3em;
    position: absolute;
    top: 3.6em;
    left: -3em;
    /*position: fixed;
    top: 4.5em;
    left: 23em;*/
    background-color: @white;
}

.burgermenu-close-icon {
    margin-top: -.5em;
    margin-left: 5em;
}

.views-field-title {
    text-align: left !important;
}

.views-table {
    width: 100%;
}

.views-widget-filter-type {
    label {
        float: left;
        margin-right: .5em;
    }
    .bef-toggle {
        float: left;
    }
}

.views-exposed-form {
    background-color: @lightGrey;
    padding: 1em;

    .form-item, .views-exposed-form .form-submit {
        margin: 0 10px;
    }

    .form-item {
        float: left;
    }

    .form-item-type {
        width: 90%;
    }

    input[type=radio] {
        margin-left: .7em;
    }

    .views-exposed-widget {
        width: 100%;
        label:first-of-type {
            float: left;
        }
    }
}

.views-field-field-picto img {
    width: auto;
    height: auto;
}

.views-slideshow-controls-text {
    .views_slideshow_controls_text_next {
        height: 1.5em;
        width: 1.5em;
        display: block;
        background: url(../images/next.png) no-repeat 50% 50%;
        float: right;

        a {
            display: none;
        }
    }

    .views_slideshow_controls_text_previous {
        height: 1.5em;
        width: 1.5em;
        display: block;
        background: url(../images/previous.png) no-repeat 50% 50%;
        float: left;

        a {
            display: none;
        }
    }
}

.light-grey-background {
    background-color: @lightGrey;
}

.challenge {
    &-title {
        font-size: 1.250em;
    }

    &-to-list a {
        width: 18.429em;
        height: 2.500em;
        display: inline-block;
        text-align: center;
        padding-top: 0.5em;
        background: @btnBackBackground url(../images/leftArrow.png) no-repeat 5% 50%;
        color: @white;
        border-radius: @borderRadius;
        .upper;
        .bold
    }

    &-previous a {
        .challenge-common-btn;
        background: url(../images/backbtn.png) 20% 50% no-repeat;
        text-align: right !important;
    }

    &-next a {
        .challenge-common-btn;
        background: url(../images/nextbtn.png) 80% 50% no-repeat;
        text-align: left !important;
    }

    &-state {
        .challenge-state-common;
        background-color: @btnBackBackground;

        &-selected {
            background-color: @challengeStateSelectedBackground;
            border-top-left-radius: @borderRadius;
            border-bottom-left-radius: @borderRadius;
            position: relative;
            .challenge-state-common;

            &:after {
                top: 100%;
                left: 50%;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border: 12px solid rgba(0, 160, 224, 0);
                border-top-color: #00a0e0;
                margin-left: -12px;
            }
        }

        &-row {
            padding-left: 1em;
            padding-right: 1em;
            .paddingUD;

        }

        &:nth-last-child(1) {
            border-top-right-radius: @borderRadius;
            border-bottom-right-radius: @borderRadius;
        }
    }

    &-container {
        .light-grey-background;

        h2 {
            .bold;
            .dark-blue-text;
            font-size: 1.286em;
        }
    }

    &-domain {
        .italic;
        width: 100%;
        font-size: 1.1em;
        background-color: @white;
    }

    &-company-description {
        .bold;
    }

    &-tag {
        .bold;
        padding: .5em;
        margin-left: .5em;
        background-color: @white;

        &-container {
            padding: 1em;
        }
    }
}

.challenge-common-btn {
    .upper;
    .bold;
    .dark-blue-text;
    padding: .2em 0 .2em 0;
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    text-align: center;
}

.challenge-state-common {
    .upper;
    .bold;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    color: @white;
    text-align: center;
    a {
        color: @white;
    }
}

.btn {
    &-star {
        .upper;
        .bold;
        background-image: url(../images/starBtn.png) !important;
        background-color: @darkBlue;
        background-repeat: no-repeat;
        background-position: 2% 50%;
        padding-left: 1.9em !important;
        color: @white;
    }

    &-workgroup {
        .upper;
        .bold;
        padding-left: 2.2em !important;
        background-image: url(../images/workGroupBtn.png) !important;
        background-color: @expertYellow;
        background-repeat: no-repeat;
        background-position: 3% 50%;
        color: @white;
    }
    &-expert {
        .upper;
        .bold;
        color: @white;
        background-color: @expertYellow;
    }

    &-primary {
        background-color: @lightBlue;
        border: 0 !important;
        margin-bottom: .5em;
    }

    &-draft {
        .upper;
        .bold;

        background-color: @darkBlue;
        background-image: url(../images/draftBtn.png) !important;
        background-repeat: no-repeat;
        background-position: 5% 50%;
        padding-left: 1.5em !important;
        color: @white;
    }
    &-cancel {
        .upper;
        .bold;

        background-color: @btnCancelBackground;
        background-image: url(../images/cancelBtn.png) !important;
        background-repeat: no-repeat;
        background-position: 5% 50%;
        padding-left: 1.5em !important;
        color: @white;
    }
    &-send {
        .upper;
        .bold;

        background-color: @expertYellow;
        background-image: url(../images/sendBtn.png) !important;
        background-repeat: no-repeat;
        background-position: 5% 50%;
        padding-left: 1.5em !important;
        color: @white;
    }
}

.profile-picture {
    width: 5.5em;
    height: 5.5em;
    border-radius: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.question-answer {
    background-color: @softGrey;
    border-style: none;
    border-radius: @borderRadius;
    width: 100%;
    height: 7em;
}

/*=========CHECKBOXES GENERAL============*/
[type="checkbox"] {
    &:disabled {
        :checked + label:after {
            color: #999;
        }

        & + label {
            color: #aaa;
        }

        &:not(:checked) + label:before,
        &:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
        }
    }

    &:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }

    &:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }

    &:not(:checked),
    &:checked {
        position: absolute;
        left: -9999px;

        & + label {
            position: relative;
            padding-left: 25px;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 2px;
                width: 17px;
                height: 17px;
                border: 1px solid #aaa;
                background: #f8f8f8;
                border-radius: 3px;
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
            }

            &:after {
                content: '✔';
                position: absolute;
                top: 1px;
                left: 2px;
                font-size: 14px;
                color: #4c6172;
                transition: all .2s;
            }
        }
    }
}

/*=========END CHECKBOXES GENERAL============*/

.input-text {
    padding: 6px 12px;
    border: none;
    border-radius: 4px !important;
    width: 100%;
}

.social {
    &-viemo {
        .marginR;
        display: inline-block;
        background: url(../images/vimeoIcon.png) no-repeat;
        width: 2.357em;
        height: 2.286em;
    }

    &-youtube {
        .marginR;
        display: inline-block;
        background: url(../images/youtubeIcon.png) no-repeat;
        width: 2.357em;
        height: 2.286em;
    }

    &-dailymotion {
        .marginR;
        display: inline-block;
        background: url(../images/dailymotionIcon.png) no-repeat;
        width: 2.357em;
        height: 2.286em;
    }
}

@circleLightBlue: #bfe7f8;

.quicktabs-tabs {
    li {
        background: @circleLightBlue url(../images/cercle.png) no-repeat 50% 30% !important;
        display: inline-block !important;
        min-width: 17em;
        height: 8em;
        line-height: 13.5em;
        text-align: center;

        a {
            .upper;
            .bold;
            .dark-blue-text !important;
            display: block;
            height: 100%;
        }
    }

    .active:not(a) {
        background-color: @lightGrey !important;

        a {
            .light-blue-text !important;
        }
    }
}

.quicktabs-tabpage {
    .view-content {
        background-color: @lightGrey;

        .views-row {
            width: 12em;
            display: inline-block;

            .views-field-picture {
                float: left;
            }
        }
    }
}

.register {
    &-title {
        .upper;
        .light-blue-text;
        font-size: 1.714em;
    }
}

.registration-form {

    /*.form-type-password {
        .password-strength {
            position: absolute;
        }
    }*/

    label {
        font-weight: normal;

        span:not(.emindhub) {
            .light-blue-text;
            .bold;
        }
        .emindhub {
            .bold;
        }
    }
    .form-type-textarea {
        label {
            .bold;
        }
    }
    .form-type-checkboxes {
        label:not(.option) {
            .bold;
        }
    }
    .sub-title {
        .bold;
    }

    .name-field {
        .form-item {
            margin: 0;
        }

        input {
            float: right;
            width: 75%;
        }

        .description {
            display: none;
        }
    }
    .password input {
        width: 70%;
    }
    .mail .form-item {
        margin: 0;
        input {
            width: 70%;
        }
    }

    select {
        height: 1.8em;
    }

    .address-block {
        .row {
            .paddingD;
        }

        .form-item {
            margin: 0;

            .required {
                margin: 0;
            }

        }

        .street-line input[type=text] {
            width: 60%;
        }

        .description {
            display: none;
        }

        .phone-field {
            label {
                display: none;
            }

            .form-item input[type=text] {
                width: 100%;
            }
        }
    }

    .blog-block {
        &-titles {
            padding: 0;
            margin: 0;

            .col-md-12 {
                padding-left: 0;
            }
        }

        input {
            width: 100%;
        }
    }

    .description-custom {
        font-size: .8em;
        font-style: italic;
    }

    .hide-field-label {
        .form-item {
            margin: 0;
            input[type=text] {
                width: 100%;
            }
        }
        label {
            display: none;
        }
        .description {
            display: none;
        }
    }

    .skills-set-container {
        .sticky-header {
            background-color: @lightGrey;
        }

        table {
            width: 100%;
            tbody tr {
                text-align: left;

                &:nth-child(even) {
                    background-color: transparent;
                }

                .field-name-field-skill-autoeval {
                    display: inline-block;
                }

                .field-name-field-year-of-experiences {
                    display: inline-block;
                    padding-left: 3em;
                }
            }
        }
    }

    .visibility-checkboxes {
        .form-wrapper {
            padding: 0;
        }
    }

    .register-complement {
        .form-item {
            margin: 0;
        }

        .known-specific label {
            display: none;
        }
    }

    .validate-btn-container {
        text-align: center;

        input[type=submit] {
            .upper;
            .bold;
            height: 2.5em;
            background-color: @lightBlue;
            color: @white !important;
            border: none;
            border-radius: @borderRadius !important;
        }
    }

    .chosen-choices {
        input[type=text] {
            width: inherit !important;
        }
    }

    .chosen-drop {
        min-width: 30.4em;
        width: 50%;
    }

    .interest {
        .chosen-drop {
            top: 1em;
        }
    }
    .domain-select {
        .chosen-drop {
            top: -0.3em;
        }
    }

    .form-type-select {
        select {
            visibility: hidden;
            position: fixed;
        }

        .form-type-select {
            height: 3.8em;
            top: -1em;
            position: inherit;
        }
    }
}

#user-register-form {
    .marginU;
    .paddingUD;
    .paddingLR;

    background-color: @lightGrey;

    input[type=text] {
        border: none;
        line-height: 1.8em;
    }

    input[type=password] {
        border: none;
        line-height: 1.8em;
    }

    select {
        border: none;
        background-color: @softGrey;
    }
}

.popup-hover {
    width: 5.5em;
    display: inline-block;

    span {
        .upper;
        display: none;
        background-color: @softGrey;
        z-index: 25;
        position: absolute;
        top: 2.2em;
        left: 0;
        width: 14em;
        padding: .5em;

        &:after {
            bottom: 100%;
            left: 30%;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border: .7em solid rgba(212, 217, 221, 0);
            border-bottom-color: #d4d9dd;
            margin-left: -12px;
        }

        &.experts {
            left: -0.1em;
        }

        &.sponsored {
            width: 16em;
            left: 0.3em;
        }

        &.partners {
            width: 13em;
            left: 1.2em;
        }

        &.formers {
            left: 2em;
            width: 10em;
        }

        &.circles {
            width: 11em;
            left: 1.8em;
        }
    }

    &:hover span {
        display: block;
    }
}

.popup-sign-up {
    .inline;

    &:hover div {
        opacity: 1;
        visibility: visible;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }

    &-content {
        .upper;
        .bold;

        -webkit-transition: opacity 500ms ease-out, visibility 500ms ease-out;
        -moz-transition: opacity 500ms ease-out, visibility 500ms ease-out;
        -o-transition: opacity 500ms ease-out, visibility 500ms ease-out;
        transition: opacity 500ms ease-out, visibility 500ms ease-out; /* ease-out */
        opacity: 0;
        visibility: hidden;

        top: 1.6em;
        left: 16.7em;
        padding: 1.5em;
        font-size: 1.125em;
        color: @white;
        background-color: @popupSignUp;
        position: absolute;
        z-index: 25;
        text-align: left;

        span {
            .light-blue-text;
            display: block;
        }

        a {
            .upper;
            .bold;
            padding: 0.3em 0.5em 0.5em 0.5em;
            display: block;
            height: 2em;
            margin-top: 1em;
        }

        &:after {
            bottom: 100%;
            left: 50%;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border: 8px solid rgba(136, 183, 213, 0);
            border-bottom-color: @popupSignUp;
            margin-left: -14px;
        }
    }
}

.popup-sign-in {
    display: inline;

    &:hover &-content {
        opacity: 1;
        visibility: visible;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }

    &-content {
        -webkit-transition: opacity 500ms ease-out, visibility 500ms ease-out;
        -moz-transition: opacity 500ms ease-out, visibility 500ms ease-out;
        -o-transition: opacity 500ms ease-out, visibility 500ms ease-out;
        transition: opacity 500ms ease-out, visibility 500ms ease-out; /* ease-out */
        opacity: 0;
        visibility: hidden;

        left: -5em;
        padding: 1.5em;
        font-size: 1.125em;
        color: @white;
        background-color: @popupSignUp;
        position: absolute;
        z-index: 25;
        text-align: left;
        width: 40em;
        top: 1.6em;

        &:after {
            bottom: 100%;
            left: 50%;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border: 8px solid rgba(136, 183, 213, 0);
            border-bottom-color: @popupSignUp;
            margin-left: -14px;
        }

        .btn-primary {
            .bold;
        }

        .social-network {
            padding-left: 3em;
            padding-bottom: .4em;
            padding-top: .4em;
            width: 15.125em;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            margin-top: .5em;
        }

        .facebook-login {
            background: @facebookColor url(../images/facebook.png) no-repeat 7% 50%;
            .social-network;
        }

        .twitter-login {
            background: @twitterColor url(../images/twitter.png) no-repeat 3.9% 50%;
            .social-network;
        }

        .linkedin-login {
            background: @linkedinColor url(../images/linkedin.png) no-repeat 5.4% 50%;
            .social-network;
        }

        .form-control-custom {
            height: auto !important;
        }

        form {
            display: inline-block;
        }

        .form-wrapper {
            padding: 0;
            margin-top: .3em;
            margin-bottom: .3em;
        }

        .form-item {
            /*label {
                display: none !important;
            }*/

            input {
                padding-left: 0.5em;
                width: 100% !important;
                border: none;
                height: 1.8em;
            }
        }

        .separator {
            height: 5em;
        }

        .vertical-line {
            width: 1px;
            margin-left: 50%;
            background-color: @white;
            height: 100%;
            float: left;
        }
    }
}

.footer-container {
    background-color: @lightGrey;
    padding-bottom: 4em;

    .region-footer {
        .row {
            display: none;
        }

        .footer-menu {
            text-align: right;

            a {
                color: @darkBlue !important;
            }
        }
    }
}

.news {
    &-block {
        .views_slideshow_controls_text_previous {
            position: absolute;
            top: 75%;

            a {
                background: url(../images/previous.png) no-repeat 50% 50%;
                content: "&nbsp;";
                z-index: 25;
            }
        }

        .views_slideshow_controls_text_next {
            position: absolute;
            top: 75%;
            left: 95%;

            a {
                background: url(../images/next.png) no-repeat 50% 50%;
                content: "&nbsp;";
                z-index: 25;
            }
        }
    }

    &-container {
        .views_slideshow_cycle_main {
            margin-left: 2em;
        }

        .views-slideshow-cycle-main-frame-row {
            padding-right: 1.5em;
        }
    }
}

.they-use-us {
    &-block {
        .views_slideshow_controls_text_previous {
            position: absolute;
            top: 100%;

            a {
                background: url(../images/previous.png) no-repeat 50% 50%;
                content: "&nbsp;";
                z-index: 25;
            }
        }

        .views_slideshow_controls_text_next {
            position: absolute;
            top: 100%;
            left: 95%;

            a {
                background: url(../images/next.png) no-repeat 50% 50%;
                content: "&nbsp;";
                z-index: 25;
            }
        }
    }
    &-container {
        .views_slideshow_cycle_main {
            margin-left: 2em;
        }

        .views-slideshow-cycle-main-frame-row {
            padding-right: 1.5em;
        }
    }
}

.they-are-expert {
    &-block {
        .views_slideshow_controls_text_previous {
            position: absolute;
            top: 56%;

            a {
                background: url(../images/previous.png) no-repeat 50% 50%;
                content: "&nbsp;";
                z-index: 25;
            }
        }

        .views_slideshow_controls_text_next {
            position: absolute;
            top: 56%;
            left: 95%;

            a {
                background: url(../images/next.png) no-repeat 50% 50%;
                content: "&nbsp;";
                z-index: 25;
            }
        }
    }
    &-container {
        .views_slideshow_cycle_main {
            margin-left: 2em;
        }

        .views-slideshow-cycle-main-frame-row {
            padding-right: 1.5em;
        }
    }
}

.user-profile {
    legend {
        .bold;
        color: inherit;
        border: none;
    }

    .input-style {
        .italic;
        line-height: 2em;
        background-color: @softGrey;
    }
}

.user-profile {
    background-color: @lightGrey;
    padding-left: 1.5em;
    padding-right: 1.5em;

    .challenge-tag-container {
        .paddingUD;
    }

    input[type=text] {
        border: none;
        width: 100%;
        line-height: 1.8em;
        padding-left: 1.5em;
    }

    .user-picture {
        padding-left: 10%;
        padding-top: 2.5%;
    }

    .field-collection-item-field-skills-set {
        height: 2em;

        .field-name-field-skill {
            width: 25%;
            display: inline-block;
        }

        .field-name-field-year-of-experiences {
            float: right;
            width: 15%;
            left: -45em;
            position: relative;

            .field-label {
                display: inline;
            }
            .field-items {
                display: inline;
                .field-item {
                    float: right;
                    position: relative;
                }
            }
        }

        .field-name-field-skill-autoeval {
            float: right;
            display: inline-block;
            position: relative;
            left: -20em;
            top: -1.2em;
        }
    }

    div.field-name-field-skills-set {
        & > div.field-items > div.field-item {
            margin-bottom: 0.4em;
            &.even {
                background-color: @white;
            }
            &.odd {
                background-color: @lightYellow;
            }
        }

        & > div.field-label {
            margin-bottom: 1em;
        }
    }

}

.btn-secondary {
    background-color: @darkBlue;
    color: @white;
}

#field-collection-item-form {
    input[type="text"] {
        border: none;
        border-radius: 3px;
        line-height: 1.8em;
        padding-left: 1em;
        margin-left: 0.5em;
    }
    .field-type-fivestar {
        float: right;
        top: -3.3em;
        left: -30em;
        position: relative;

        .form-type-select {
            display: inline-block;
            margin-left: 1em;
        }
    }

    .field-type-number-integer {
        display: inline;

        .form-type-textfield {
            margin: 0;
        }
    }

    input[type=submit] {
        .bold;
        .upper;
        background-color: @expertYellow;
        color: @white;
        border: none;
        border-radius: @borderRadius !important;
        padding-left: 1em;
        padding-right: 1em;
        height: 2.2em;
    }
}

.engagement-block {
    color: @white;
    padding: 4.5em 1em 1.7em;
    text-align: center;

    &.rapidity {
        background: @lightBlue url(../images/rapidityHeader.png) no-repeat 50% 5%;
    }
    &.security {
        background: @lightBlue url(../images/securityHeader.png) no-repeat 50% 5%;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    &.quality {
        background: @lightBlue url(../images/qualityHeader.png) no-repeat 50% 5%;
        padding-left: 1.8em;
        padding-right: 1.8em;
    }

    .header {
        .bold;
        .upper;
        padding-bottom: 0.5em;
        font-size: 1.3em;
    }
}

.region-topmenu {
    div.expanded {
        & > .top-menu-my-workspace {
            + ul.menu {
                position: absolute;
                top: 4.4em;
                color: white;
                background-color: @lightBlue;
                left: -2.1em;
                padding: 1em 1.85em 0.5em;

                -webkit-transition: opacity 500ms ease-out, visibility 500ms ease-out;
                -moz-transition: opacity 500ms ease-out, visibility 500ms ease-out;
                -o-transition: opacity 500ms ease-out, visibility 500ms ease-out;
                transition: opacity 500ms ease-out, visibility 500ms ease-out;
                -webkit-transition-delay: 0.7s;
                -moz-transition-delay: 0.7s;
                -ms-transition-delay: 0.7s;
                -o-transition-delay: 0.7s;
                transition-delay: 0.7s;
                opacity: 0;
                visibility: hidden;
                width: 15em;

                a {
                    color: @white;
                }

                > div {
                    &:hover{
                        background-color: @lightBlueHover;
                    }
                    position: relative;
                    left: -1.9em;
                    padding-left: 1.9em;
                    width: 15em;
                    margin: 0;
                }
            }
        }

        &:hover > .top-menu-my-workspace + ul.menu {
            opacity: 1;
            visibility: visible;
            -webkit-transition-delay: 0s;
            -moz-transition-delay: 0s;
            -ms-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
        }

        & > .top-menu-my-contributions-sub-menu {
            + ul.menu {
                top: -0.5em;
                left: 15em;
                width: 12em;

                position: absolute;
                color: white;
                background-color: @lightBlue;
                padding: 0.5em 1em 0.5em;

                -webkit-transition: opacity 500ms ease-out, visibility 500ms ease-out;
                -moz-transition: opacity 500ms ease-out, visibility 500ms ease-out;
                -o-transition: opacity 500ms ease-out, visibility 500ms ease-out;
                transition: opacity 500ms ease-out, visibility 500ms ease-out;
                -webkit-transition-delay: 0.7s;
                -moz-transition-delay: 0.7s;
                -ms-transition-delay: 0.7s;
                -o-transition-delay: 0.7s;
                transition-delay: 0.7s;
                opacity: 0;
                visibility: hidden;

                a {
                    color: @white;
                }

                .leaf:hover {
                    background-color: #40b8e8;
                    position: relative;
                    left: -1em;
                    padding-left: 1em;
                    width: 12em;
                    overflow: hidden;
                    margin: 0;
                }
            }
        }

        &:hover > .top-menu-my-contributions-sub-menu + ul.menu {
            opacity: 1;
            visibility: visible;
            -webkit-transition-delay: 0s;
            -moz-transition-delay: 0s;
            -ms-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
        }
    }

    .col-md-4 {
        span.active-trail:after,
        a.active:after {
            background: @lightBlue url(../images/topMenuHover.png) 0;
            height: 1.5em;
            width: 15em;
            position: absolute;
            content: " ";
            top: 2.9em;
            left: -2.1em;
        }
        .active-trail > a.active:after {
            content: "";
            background: none;
        }
    }
}

input[type=password],
input[type=text] {
    border: none;
    line-height: 1.8em;
    border-radius: @borderRadius;
    padding-left: 0.5em;
    margin-left: 0.5em;
}

input[type=password].error {
    background-color: @white !important;
}
/*
input[type=file] {
    background-color: @expertYellow !important;
    border: none;
    border-radius: @borderRadius !important;
    color: @white;
    height: 2.2em;
    margin: 0.5em;
    padding-top: 0.35em;
    padding-bottom: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}
*/
input[type=submit] {
    .upper;
    .bold;
    background-color: @expertYellow;
    border: none;
    border-radius: @borderRadius !important;
    color: @white;
    height: 2.2em;
    margin: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;

    &#edit-cancel {
        background-color: @darkBlue;
    }
}

.group-background {
    background-color: @lightGrey;
    /*padding-left: 1.5em;
    padding-right: 1.5em;*/
    margin-top: 1em;
    padding: 1.5em;
}

.group-oneliner {
    & > div {
        display: inline-block;
        //MD
        @media (min-width: 992px) {
            margin-left: 2em;
        }

        &:first-of-type {
            margin-left: 0;
        }
    }
}

//SM
/*@media (min-width: 768px) {

}

//MD
@media (min-width: 992px) {

}

//LG
@media (min-width: 1200px) {

}*/

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 1em 1em 0;
    color: @white;
    background: @expertYellow none;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    span {
        .upper;
        .bold;
    }
}

.file-upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}