// Skills, position list (background)
.emh-tag {
  background: @softGrey;
  border-radius: 2px;
  color: @darkBlue;
  display: block;
  font-style: italic;
  padding: 6px 20px;
}

// Years of experience
.emh-years {
  background: @softGrey;
  border-radius: 2px;
  color: @darkBlue;
  float: right;
  font-style: italic;
  padding: 6px 0;
  width: 50px;
  text-align: center;
}
