/*gris trés clair*/
/*gris clair*/
/*gris foncé*/
/*bleu clair*/
/*gris foncé/bleu foncé*/
/*jaune ligne odd expert*/
/*jaune expert*/
body {
  font-family: Lato !important;
  color: #4c6172 !important;
}
.banniere {
  line-height: 4.25em;
  background: #009fe3 url(../images/banniere.png) no-repeat center center;
}
.dark-blue-line {
  background-color: #4c6172;
}
.dark-blue-line-large {
  background-color: #4c6172;
  line-height: 3.125em;
}
.text-normal {
  font-weight: normal !important;
}
.filters {
  padding-top: 1em;
  background-color: #f6f7f8;
}
.filters + .filters {
  padding-bottom: 1em;
}
.filters input[type=checkbox] {
  margin-left: .5em;
  margin-right: .5em;
}
.text-banniere {
  padding-top: 2.375em;
  height: 10.188em;
  line-height: 1.2em;
  font-size: 2em;
  color: #ffffff;
}
.text-banniere p {
  color: #8cd4f2 !important;
  margin: 0;
  padding: 0;
}
.title {
  font-size: 1.25em;
  text-align: center;
}
.inline {
  display: inline;
}
.text-right {
  text-align: right;
}
.upper {
  text-transform: uppercase;
}
.challenge-title {
  text-transform: uppercase;
  color: #009fe3 !important;
  font-weight: bold;
  font-size: 1.250em;
}
.blue {
  color: #009fe3;
}
.light-blue-text {
  color: #009fe3 !important;
}
.dark-blue-text {
  color: #4c6172;
}
.yellow-text {
  color: #c89234;
}
.news {
  font-size: 1.125em;
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.header {
  text-transform: uppercase;
}
.header-emindhub {
  padding-bottom: 1.5em;
}
.header-separator {
  background: url(../images/grid.png) no-repeat 57% 99%;
}
.ondes-background {
  background: url(../images/ondes.png) no-repeat center center;
}
.shadow {
  border-bottom: 2px #ffffff solid;
  -webkit-box-shadow: 0 8px 6px -6px #000000;
  -moz-box-shadow: 0 8px 6px -6px #000000;
  box-shadow: 0 8px 6px -6px #000000;
}
.noPadding {
  padding: 0 !important;
}
.noPaddingUD {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.paddingUD {
  padding-top: 1.18em;
  padding-bottom: 1.18em;
}
.softPaddingUD {
  padding-top: .3em;
  padding-bottom: .3em;
}
.paddingU {
  padding-top: .7em;
}
.paddingD {
  padding-bottom: 1em;
}
.paddingL {
  padding-left: 1em;
}
.paddingR {
  padding-right: 1em;
}
.paddingLR {
  padding-left: 1em;
  padding-right: 1em;
}
.marginU {
  margin-top: 1em;
}
.marginR {
  margin-right: 1em;
}
.border-light {
  border: 1px #d4d9dd solid;
  margin: .5em;
}
.form-control {
  display: inline !important;
}
.form-control:not(.search-input) {
  width: auto !important;
}
.required {
  display: inline !important;
  margin-left: .5em;
}
input {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
input:not([type=submit]) {
  background-color: #d4d9dd !important;
}
.search-input {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAiwAAAIsBRmWzPwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHrSURBVDiNzZQ9axRRFIafM7OLuxNJUgQDBm0Ef0EKKwvRIiuKQTOT3c1OLEQ7EcHK3iY2pnLLJOusO4gKI2lEkSUgGI3+AgutLYz7oSQ7x8LZMMaZ1WChb/Wee9/73HO4cOF/l6RteJ43voV5yhAmEGn3erycL81siIjuCVgNAstqdxZU5TKQ2bW9rhhX5osX3v4RsBoEVq7VfSZwLLa8CQwBZlR3QkOnLjpOMwloxAur3VnYgQmBGZpH3KI90t2fHwa9DnQBywjFr9VqwwM79DxvfFsyH4EsQuDO2md3h1e8xjkVefTjoN6oFJ3bqR32jOxJIAtg9sxrSbdXSs5j4AWAIlMDR1b0UGQ/l8vn3yeFAUTZiOzhgUBUv0RuqBoEVhoQkQOR+zQQaIi+imwm3+pcSgov+f6EomcAFNYHAsuO8xr648itlbp/Oh6s1+sHpcd9YARAMGqJA8SL5fqDSQibQD5aeirKuxAdE0OmUUZj8bWcyZRt261UIMCy559AaABjSR38dFhp6vbXguu67V9G7sst2c/NcOuooDeBNeCDCG9A7oYhkwhBP6vCcTK5IP6IqZ9DmhZXV/eNbrYeohR2ICJzldmZe4kd/k5XC4VvOYNp4AmAKnf6sL+S7/v5Ja8xp6p7nvLf6jtscZ6Dbr0EvQAAAABJRU5ErkJggg==) no-repeat 97% 50% !important;
}
.hr-dark {
  margin: .625em 0;
  position: float;
  width: 100%;
  height: 2px;
  background: #4c6172;
  vertical-align: middle;
}
.hr-light-grey {
  margin: .625em 0;
  position: float;
  width: 100%;
  height: 1px;
  background: #cbd1d6;
  vertical-align: middle;
}
.hr-light-grey-dashed {
  border: 0;
  border-bottom: 1px dashed #009fe3;
}
.hr-light {
  margin: .625em 0;
  position: float;
  width: 100%;
  height: 2px;
  background: #009fe3;
  vertical-align: middle;
}
.hr-light-dashed {
  border: 0;
  border-bottom: 1px dashed #009fe3;
}
.center-text {
  text-align: center;
}
.footer {
  margin-top: .5em;
  padding-top: .5em;
  font-weight: bold;
  background-color: #f6f7f8;
  height: 7em;
}
.footer a {
  color: #009fe3;
  text-decoration: underline;
}
.footer .copyright {
  color: #acb4bb;
}
.ombre {
  border-bottom: .2em;
  box-shadow: 1px 1px 12px #555555;
}
.news-wrapper {
  border: 1px solid #d4d9dd;
  text-align: center;
}
.text-wrapper {
  margin-top: .5em;
  margin-bottom: .5em;
}
.title-wrapper {
  margin-top: 1.063em;
  margin-bottom: 1.063em;
}
.subtitle-wrapper {
  margin-top: 3.25em;
  margin-bottom: 1.125em;
}
.little-wrapper {
  margin-top: 1.438em;
}
.inscription-image-wrapper {
  padding-top: 1.2em;
  text-align: right;
}
.welcome-wrapper {
  margin-top: -1.5em;
  text-transform: uppercase;
}
.welcome-wrapper .col-md-6 {
  background-color: #ffffff;
  font-size: 1.5em;
  padding-top: .3em;
}
.welcome-wrapper .col-md-2 {
  color: #ffffff;
  font-size: 0.688em;
  margin-top: -0.7em;
}
.contact-us {
  background: url(../images/mailIcon.png) no-repeat;
}
.contact-us a {
  color: #009fe3;
  padding-left: 1em;
}
.form-wrapper {
  padding-bottom: 0.5em;
}
.form-control-custom {
  width: 73%;
  display: inline;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background: #ffffff none;
  border: 0 !important;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control-custom:not(select) {
  display: inline;
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background: #ffffff none;
  border: 0 !important;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.selected-menu {
  font-size: 1.5em;
  background-color: #009fe3;
}
.user-menu {
  text-transform: uppercase;
}
.inside-shadow {
  -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.3) inset;
}
.ligh-blue-line {
  background-color: #009fe3;
}
.select-form {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: #d4d9dd !important;
}
.language-select {
  height: 2em;
  overflow: hidden;
  width: 3.2em;
  background: #009fe3 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAeCAYAAAAo5+5WAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB4SURBVHja7NMxCoBADAXRudaCIAueyCulCaRKLyh4sLVREEFEVwshgak+vC6UUvgiAg444ID/BPfl+vrbMJBEZDgTRWQA0hMYoFHV8Yiq6gg0AE9hgNbMpg01swlot7EGBsjuPrv7DOT9UAsDdGtUwfEgAQf8UssA6WVwSHIEQ/cAAAAASUVORK5CYII=) no-repeat 96% 0;
  color: #ffffff;
  -webkit-border-radius: 0.213em;
  -moz-border-radius: 0.213em;
  border-radius: 0.213em;
}
.language-select select {
  background: transparent;
  border: none;
  font-size: 1em;
  height: 2em;
  padding: 0.313em;
  width: 5.313em;
  text-transform: uppercase;
}
.language-select select option {
  text-transform: uppercase;
  background-color: #009fe3;
}
.expert {
  background-color: #c89234 !important;
}
table thead {
  border-bottom: 1px dashed #009fe3;
  line-height: 3em;
}
table tbody {
  border-top: none;
}
table thead th,
.table-header {
  margin-top: 1.5em;
  text-align: center;
  color: #009fe3;
  font-weight: bold;
  border: none;
}
table thead th a,
.table-header a {
  color: #009fe3 !important;
}
table tbody tr,
.table-content {
  text-align: center;
  line-height: 3em;
  border: none;
}
table tbody:before {
  /* This doesn't work because of border-collapse */
  line-height: 1em;
  content: "_";
  color: white;
  display: block;
}
table tbody tr:nth-child(odd),
.table-content:nth-child(odd) {
  background-color: #f9f4ea;
}
table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
/* Surcharge nice-menu */
.nice-menu {
  text-transform: uppercase;
}
.nice-menu li .menu-3638 {
  background-image: url(../images/askQuestion.png);
}
.nice-menu li .menu-3477 {
  background-image: url(../images/answerQuestion.png);
}
.nice-menu a {
  position: absolute;
  margin-left: 8.875em;
  margin-top: 4.125em;
  font-size: 1.125em;
}
.nice-menu a p {
  font-weight: bold;
}
.menu-3475 {
  background: url(../images/answerQuestion.png) #d4d9dd no-repeat 7% 50% !important;
  height: 11.625em;
  padding: .7em !important;
}
.menu-3475 a {
  color: #4c6172;
  /*color: @darkBlue !important;*/
}
.menu-3476 {
  background: url(../images/answerChallenge.png) #d4d9dd no-repeat 7% 50% !important;
  height: 11.625em;
  padding: .7em !important;
}
.menu-3476 a {
  color: #4c6172;
  /*color: @darkBlue !important;*/
}
.menu-3477 {
  background: url(../images/answerExpertCall.png) #d4d9dd no-repeat 7% 50% !important;
  height: 11.625em;
  padding: .7em !important;
}
.menu-3477 a {
  color: #4c6172;
  /*color: @darkBlue !important;*/
}
.menu-3659 {
  background: url(../images/answerChallenge.png) #d4d9dd no-repeat 7% 50% !important;
  height: 11.625em;
  padding: .7em !important;
}
.menu-3659 a {
  color: #4c6172;
  /*color: @darkBlue !important;*/
}
.menu-3660 {
  background: url(../images/answerExpertCall.png) #d4d9dd no-repeat 7% 50% !important;
  height: 11.625em;
  padding: .7em !important;
}
.menu-3660 a {
  color: #4c6172;
  /*color: @darkBlue !important;*/
}
.menu-3661 {
  background: url(../images/answerQuestion.png) #d4d9dd no-repeat 7% 50% !important;
  height: 11.625em;
  padding: .7em !important;
}
.menu-3661 a {
  color: #4c6172;
  /*color: @darkBlue !important;*/
}
.menu-3638 {
  background: url(../images/findExpert.png) #d4d9dd no-repeat 7% 50% !important;
  height: 11.625em;
  padding: .7em !important;
}
.menu-3639 {
  background: url(../images/launchChallenge.png) #d4d9dd no-repeat 7% 50% !important;
  height: 11.625em;
  padding: .7em !important;
}
.menu-3640 {
  background: url(../images/askQuestion.png) #d4d9dd no-repeat 7% 50% !important;
  height: 11.625em;
  padding: .7em !important;
}
.popup {
  display: block;
  float: left;
  position: static;
  top: 0;
  left: 0;
  width: 40em;
  height: 15em;
  background-color: #4c6172;
  color: #ffffff;
}
.popup .social-network {
  padding-left: 3em;
  height: 1.813em;
  width: 15.125em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: .5em;
}
.popup .facebook-login {
  background: #0d6cb4 url(../images/facebook.png) no-repeat 7% 50%;
  padding-left: 3em;
  height: 1.813em;
  width: 15.125em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: .5em;
}
.popup .twitter-login {
  background: #33c0f0 url(../images/twitter.png) no-repeat 3.9% 50%;
  padding-left: 3em;
  height: 1.813em;
  width: 15.125em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: .5em;
}
.popup .linkedin-login {
  background: #008fcd url(../images/linkedin.png) no-repeat 5.4% 50%;
  padding-left: 3em;
  height: 1.813em;
  width: 15.125em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: .5em;
}
.popup .form-control-custom {
  height: auto !important;
}
.row.paddingUD h2 {
  font-size: 1.125em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.region-burgermenu {
  display: none;
  background-color: #2e3243;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  color: #2e3243;
  width: 18.75em;
  overflow-y: auto;
  /*=========CHECKBOXES BURGER MENU============*/
  /*=========END CHECKBOXES BURGER MENU============*/
}
.region-burgermenu .global-filter {
  color: white;
  margin-left: 1.875em;
  margin-right: 1.875em;
}
.region-burgermenu .global-filter input[type=submit] {
  background-color: #009fe3;
  border: 0 !important;
  margin-bottom: .5em;
}
.region-burgermenu .global-filter .form-type-checkbox {
  display: block;
}
.region-burgermenu [type="checkbox"]:disabled:not(:checked) + label:before,
.region-burgermenu [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.region-burgermenu [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.region-burgermenu [type="checkbox"]:disabled + label {
  color: #aaa;
}
.region-burgermenu [type="checkbox"]:not(:checked),
.region-burgermenu [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.region-burgermenu [type="checkbox"]:not(:checked) + label,
.region-burgermenu [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.region-burgermenu [type="checkbox"]:not(:checked) + label:before,
.region-burgermenu [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #d4d9dd;
  background: transparent;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
.region-burgermenu [type="checkbox"]:not(:checked) + label:after,
.region-burgermenu [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 14px;
  color: #009fe3;
  line-height: 1.75;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}
.region-burgermenu [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.region-burgermenu [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.my-contributions {
  background: url(../images/bmCrayon.png) 0% 50% no-repeat;
  padding-left: 2em;
  line-height: 2.3em;
  display: inline-block;
  height: 2.3em;
}
.my-dashboard {
  background: url(../images/bmComputer.png) 0% 50% no-repeat;
  padding-left: 2em;
  line-height: 2.3em;
  display: inline-block;
  height: 2.3em;
}
.my-drafts {
  background: url(../images/bmNotepad.png) 0% 50% no-repeat;
  padding-left: 2em;
  line-height: 2.3em;
  display: inline-block;
  height: 2.3em;
}
.my-articles {
  background: url(../images/bmToolbox.png) 0% 50% no-repeat;
  padding-left: 2em;
  line-height: 2.3em;
  display: inline-block;
  height: 2.3em;
}
.my-selections {
  background: url(../images/bmMenu.png) 0% 50% no-repeat;
  padding-left: 2em;
  line-height: 2.3em;
  display: inline-block;
  height: 2.3em;
}
.my-working-groups {
  background: url(../images/bmPeoples.png) 0% 50% no-repeat;
  padding-left: 2em;
  line-height: 2.3em;
  display: inline-block;
  height: 2.3em;
}
.my-circles {
  background: url(../images/bmCricles.png) 0% 50% no-repeat;
  background-size: 20px;
  padding-left: 2em;
  line-height: 2.3em;
  display: inline-block;
  height: 2.3em;
}
.my-responses {
  background: url(../images/bmAnswer.png) 0% 50% no-repeat;
  background-size: 20px;
  padding-left: 2em;
  line-height: 2.3em;
  display: inline-block;
  height: 2.3em;
}
.burger-menu-links-common {
  padding-left: 2em;
  line-height: 2.3em;
  display: inline-block;
  height: 2.3em;
}
.burgermenu-title {
  color: #009fe3;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em;
  margin-left: 1.875em;
  display: inline-block;
}
.burger-menu-btn-container {
  cursor: pointer;
  position: relative;
  margin-left: -5em;
  margin-top: -3em;
  width: 3em;
}
.burgermenu-close-icon {
  margin-top: -0.5em;
  margin-left: 5em;
}
.views-field-title {
  text-align: left !important;
}
.views-table {
  width: 100%;
}
.views-widget-filter-type label {
  float: left;
  margin-right: .5em;
}
.views-widget-filter-type .bef-toggle {
  float: left;
}
.views-exposed-form {
  background-color: #f6f7f8;
  padding: 1em;
}
.views-exposed-form .form-item,
.views-exposed-form .views-exposed-form .form-submit {
  margin: 0 10px;
}
.views-exposed-form .form-item {
  float: left;
}
.views-exposed-form .form-item-type {
  width: 90%;
}
.views-exposed-form input[type=radio] {
  margin-left: .7em;
}
.views-exposed-form .views-exposed-widget {
  width: 100%;
}
.views-exposed-form .views-exposed-widget label:first-of-type {
  float: left;
}
.views-field-field-picto img {
  width: auto;
  height: auto;
}
.views-slideshow-controls-text .views_slideshow_controls_text_next {
  height: 1.5em;
  width: 1.5em;
  display: block;
  background: url(../images/next.png) no-repeat 50% 50%;
  float: right;
}
.views-slideshow-controls-text .views_slideshow_controls_text_next a {
  display: none;
}
.views-slideshow-controls-text .views_slideshow_controls_text_previous {
  height: 1.5em;
  width: 1.5em;
  display: block;
  background: url(../images/previous.png) no-repeat 50% 50%;
  float: left;
}
.views-slideshow-controls-text .views_slideshow_controls_text_previous a {
  display: none;
}
.light-grey-background {
  background-color: #f6f7f8;
}
.challenge-title {
  font-size: 1.250em;
}
.challenge-to-list a {
  width: 18.429em;
  height: 2.500em;
  display: inline-block;
  text-align: center;
  padding-top: 0.5em;
  background: #a1acb5 url(../images/leftArrow.png) no-repeat 5% 50%;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}
.challenge-previous a {
  text-transform: uppercase;
  font-weight: bold;
  color: #4c6172;
  padding: .2em 0 .2em 0;
  width: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  text-align: center;
  background: url(../images/backbtn.png) 20% 50% no-repeat;
  text-align: right !important;
}
.challenge-next a {
  text-transform: uppercase;
  font-weight: bold;
  color: #4c6172;
  padding: .2em 0 .2em 0;
  width: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  text-align: center;
  background: url(../images/nextbtn.png) 80% 50% no-repeat;
  text-align: left !important;
}
.challenge-state {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  color: #ffffff;
  text-align: center;
  background-color: #a1acb5;
}
.challenge-state a {
  color: #ffffff;
}
.challenge-state-selected {
  background-color: #00a0e0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  color: #ffffff;
  text-align: center;
}
.challenge-state-selected a {
  color: #ffffff;
}
.challenge-state-selected:after {
  top: 100%;
  left: 50%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 12px solid rgba(0, 160, 224, 0);
  border-top-color: #00a0e0;
  margin-left: -12px;
}
.challenge-state-row {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.18em;
  padding-bottom: 1.18em;
}
.challenge-state:nth-last-child(1) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.challenge-container {
  background-color: #f6f7f8;
}
.challenge-container h2 {
  font-weight: bold;
  color: #4c6172;
  font-size: 1.286em;
}
.challenge-domain {
  font-style: italic;
  width: 100%;
  font-size: 1.1em;
  background-color: #ffffff;
}
.challenge-company-description {
  font-weight: bold;
}
.challenge-tag {
  font-weight: bold;
  padding: .5em;
  margin-left: .5em;
  background-color: #ffffff;
}
.challenge-tag-container {
  padding: 1em;
}
.challenge-common-btn {
  text-transform: uppercase;
  font-weight: bold;
  color: #4c6172;
  padding: .2em 0 .2em 0;
  width: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  text-align: center;
}
.challenge-state-common {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  color: #ffffff;
  text-align: center;
}
.challenge-state-common a {
  color: #ffffff;
}
.btn-star {
  text-transform: uppercase;
  font-weight: bold;
  background-image: url(../images/starBtn.png) !important;
  background-color: #4c6172;
  background-repeat: no-repeat;
  background-position: 2% 50%;
  padding-left: 1.9em !important;
  color: #ffffff;
}
.btn-workgroup {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 2.2em !important;
  background-image: url(../images/workGroupBtn.png) !important;
  background-color: #c89234;
  background-repeat: no-repeat;
  background-position: 3% 50%;
  color: #ffffff;
}
.btn-expert {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #c89234;
}
.btn-primary {
  background-color: #009fe3;
  border: 0 !important;
  margin-bottom: .5em;
}
.btn-draft {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #4c6172;
  background-image: url(../images/draftBtn.png) !important;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding-left: 1.5em !important;
  color: #ffffff;
}
.btn-cancel {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #a5b0b8;
  background-image: url(../images/cancelBtn.png) !important;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding-left: 1.5em !important;
  color: #ffffff;
}
.btn-send {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #c89234;
  background-image: url(../images/sendBtn.png) !important;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding-left: 1.5em !important;
  color: #ffffff;
}
.profile-picture {
  width: 5.5em;
  height: 5.5em;
  border-radius: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.question-answer {
  background-color: #d4d9dd;
  border-style: none;
  border-radius: 4px;
  width: 100%;
  height: 7em;
}
/*=========CHECKBOXES GENERAL============*/
[type="checkbox"]:disabled :checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 1px;
  left: 2px;
  font-size: 14px;
  color: #4c6172;
  transition: all .2s;
}
/*=========END CHECKBOXES GENERAL============*/
.input-text {
  padding: 6px 12px;
  border: none;
  border-radius: 4px !important;
  width: 100%;
}
.social-viemo {
  margin-right: 1em;
  display: inline-block;
  background: url(../images/vimeoIcon.png) no-repeat;
  width: 2.357em;
  height: 2.286em;
}
.social-youtube {
  margin-right: 1em;
  display: inline-block;
  background: url(../images/youtubeIcon.png) no-repeat;
  width: 2.357em;
  height: 2.286em;
}
.social-dailymotion {
  margin-right: 1em;
  display: inline-block;
  background: url(../images/dailymotionIcon.png) no-repeat;
  width: 2.357em;
  height: 2.286em;
}
.quicktabs-tabs li {
  background: #bfe7f8 url(../images/cercle.png) no-repeat 50% 30% !important;
  display: inline-block !important;
  min-width: 17em;
  height: 8em;
  line-height: 13.5em;
  text-align: center;
}
.quicktabs-tabs li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #4c6172 !important;
}
.quicktabs-tabs .active:not(a) {
  background-color: #f6f7f8 !important;
}
.quicktabs-tabs .active:not(a) a {
  color: #009fe3 !important;
}
.quicktabs-tabpage .view-content {
  background-color: #f6f7f8;
}
.quicktabs-tabpage .view-content .views-row {
  width: 12em;
  display: inline-block;
}
.quicktabs-tabpage .view-content .views-row .views-field-picture {
  float: left;
}
.register-title {
  text-transform: uppercase;
  color: #009fe3 !important;
  font-size: 1.714em;
}
#user-register-form {
  margin-top: 1em;
  padding-top: 1.18em;
  padding-bottom: 1.18em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #f6f7f8;
  /*hr-light-grey-dashed*/
}
#user-register-form .form-wrapper input[type=text] {
  border: none;
  line-height: 1.8em;
}
#user-register-form .form-wrapper input[type=password] {
  border: none;
  line-height: 1.8em;
}
#user-register-form select {
  border: none;
  background-color: #d4d9dd;
}
/*# sourceMappingURL=emindhub.css.map */