@white: #fff;

@lightGrey: #f6f7f8;
@softGrey: #d4d9dd;
@hrLightGrey: #cbd1d6;
@smoothGrey: #bfd0d9;
@btnBackBackground: #a1acb5;
@btnCancelBackground: #a5b0b8;
@copyrightTextColor: #acb4bb;
@darkGrey: #555;

@oddBlue: #f3f9ff;
@circleLightBlue: #bfe7f8;
@softBlue: #8cd4f2;
@lightBlueHover: #40b8e8;
@twitterColor: #33c0f0;
@challengeStateSelectedBackground : #00a0e0;
@lightBlue: #009fe3;
@linkedinColor: #008fcd;
@facebookColor: #0d6cb4;
@darkBlue: #4c6172;
@popupSignUp: #445766;
@burgerMenuBackground: #2e3243;

@lightYellow: #f9f4ea;
@expertYellow: #c89234;

@black: #000;

@borderRadius: 4px;

//== Bootstrap Media queries breakpoints
//
@screen-xxs:                 320px;
@screen-xs:                  480px;
@screen-sm:                  768px;
@screen-sm-min:              (@screen-sm - 1);
@screen-md:                  992px;
@screen-md-min:              (@screen-md - 1);
@screen-lg:                  1200px;
@screen-lg-min:              (@screen-lg - 1);
// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);